﻿@model PunjabKitchen.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="bd-example">
    <h2>@ViewBag.Title.</h2>
    @using (Html.BeginForm(MVC.Manage.ChangePassword(), FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="row form-feilds-wrap">
            <div class="col-sm-6">

                @Html.LabelFor(m => m.OldPassword, new { @class = "required" })
                @Html.PasswordFor(m => m.OldPassword, new { @class = "" })
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
            <br />
            <div class="col-sm-6">
                @Html.LabelFor(m => m.NewPassword, new { @class = "required" })
                @Html.PasswordFor(m => m.NewPassword, new { @class = "" })
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
            <br />
            <div class="col-sm-6">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "required" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)

            </div>
        </div>
        <div class="button-wrapper">
            <input type="submit" value="Change password" class="btn-default" />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
