﻿@model PunjabKitchen.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}
<div class="bd-example">
    <h2>@ViewBag.Title.</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
</div>
