﻿@model PunjabKitchen.Models.PackingRecord2
@{
    SelectList unitlist = ViewBag.Unit;
    SelectList packersList = ViewBag.PackersList;
}
<form id="packingRecord2Form" method="post" action="#" class="messageform">

    @Html.HiddenFor(m => m.iPackingRecordId, new {id= "iPackingRecordId" })
    @Html.HiddenFor(x => x.packersList, new { id = "packersList" })

    <fieldset>
        <div class="row">
            <div class="col-xs-4">
                <div class="row smaller-indent">
                    <div class="col-xs-6">
                        <label class="required">Batch No.</label>
                        @Html.TextBoxFor(m => m.vBatchNo, new { @id = "vBatchNo", @required = "required", maxlength = "6", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.vBatchNo, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-6">
                        <label>Product Code</label>
                        <input type="text" disabled="disabled" id="vProductCode">
                        @Html.HiddenFor(m => m.iCookingPlanId, new { id = "CookingPlanId" })
                        @Html.HiddenFor(m => m.tCookingPlan.tRecipe.vRecipeCode, new { id = "vRecipeCode" })
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <label>Product Name</label>
                <input type="text" disabled="disabled" id="ProductDescription">
                @Html.HiddenFor(m => m.tCookingPlan.tRecipe.vRecipeName, new { id = "vRecipeName" })
            </div>
            <div class="col-xs-4">
                <label>Line No.</label>
                <input type="text" disabled="disabled" id="LineNo">
                @Html.HiddenFor(m => m.iLineNo, new { id = "iLineNo"})
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="row smaller-indent">
                    <div class="col-xs-6">
                        <label class="required">Quantity Made</label>
                        @Html.TextBoxFor(m => m.iQuantityMade, new { id = "iQuantityMade", type = "number", @required = "required", max = 999999, min = 1 })
                    </div>
                    <div class="col-xs-6">
                        <label class="required">Unit</label>
                        @Html.DropDownListFor(m => m.iUnitId, new SelectList(unitlist.Items, "iUnitId", "vName", 1), new { @class = "cursor", @required = "required" })
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="row smaller-indent">
                    <div class="col-xs-6">
                        <label class="required">Start Time</label>
                        @Html.TextBoxFor(m => m.tStartTime, new { @class = "cursor", @required = "required", @id = "tStartTimePicker", @Value = Model.tStartTime != null ? Model.tStartTime.Value.ToString("HH:mm") : "" })
                    </div>
                    <div class="col-xs-6">
                        <label class="required">Finish Time</label>
                        @Html.TextBoxFor(m => m.tFinishTime, new { @class = "cursor", @required = "required", @id = "tFinishTimePicker", @Value = Model.tFinishTime != null ? Model.tFinishTime.Value.ToString("HH:mm") : "" })
                    </div>
                </div>
            </div>
            <div class="col-xs-4 multiselect">
                <label class="required">Packers</label>
                @Html.DropDownListFor(m => m.iPackerUserId, new SelectList(packersList.Items, "IntegerData", "StringData", 1), new { id = "packersDropdown", @class = "selectpicker", @multiple = "multiple", @required = "required" })
                @Html.ValidationMessageFor(m => m.iPackerUserId, "", new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>
    <div class="button-holder">
        <a value="Save" class="btn btn-default" onclick="submitPackingRec2Form()">Submit</a>
        <a class="btn-cancel cursor" data-dismiss="modal" aria-label="Close">Cancel</a>
        @if (Model != null && Model.iPackingRecordId > 0)
        {
            @Html.ActionLink("Print", MVC.PackingRecord2.PrintRecord(Model.iPackingRecordId), new { target = "_blank", @class = "printLink" })
        }
    </div>
</form>

@Scripts.Render("~/Scripts/Records/Packing/PackingRecord2/CreatePackingRecord2.js")
