﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.PackingRecord2>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}
<div class="content-holder">
    <div class="bd-example">
        <h2>Packing Room Records</h2>
        <div class="btn-addlocation">
            @Html.Hidden("canCreatePlan", "")
            <a href="#" id="packingRecord2Modal">
                <input value="Create New" class="btn-default" type="button" />
            </a>
        </div>
        <div class="table-responsive">

            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager))
            {
                cursorClass = "cursor";
            }

            <table class="table notification-table">
                <thead>
                <tr>
                    <th>PRODUCT</th>
                    <th>PRODUCT CODE</th>
                    <th>LINE NO.</th>
                    <th>BATCH NO.</th>
                    <th>START TIME</th>
                    <th>FINISH TIME</th>
                    <th>QUANTITY MADE</th>
                    <th></th>
                </tr>

                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    var startTime = @item.tStartTime == null ? "" : @item.tStartTime.Value.ToString("HH:mm");
                    var finishTime = @item.tFinishTime == null ? "" : @item.tFinishTime.Value.ToString("HH:mm");
                    var productCode = item.tCookingPlan.tRecipe.vRecipeCode ?? string.Empty;
                    var productName = item.tCookingPlan.tRecipe.vRecipeName ?? string.Empty;

                    var editable = (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager)) ? "editable" : "";

                    <tr class="@cursorClass @editable" data-id="@item.iPackingRecordId">
                        <td>@productName</td>
                        <td>@productCode</td>
                        <td>@item.iLineNo</td>
                        <td>@item.vBatchNo</td>
                        <td>@startTime</td>
                        <td>@finishTime</td>
                        <td>@item.iQuantityMade</td>
                        <td><a href="@Url.Action(MVC.PackingRecord2.PrintRecord(item.iPackingRecordId))" target="_blank" class="printButton"><img src="~/images/ico-print-record.png" class="ico-action" alt="Print"></a></td>
                    </tr>
                }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.PackingRecord2.PackingRecords2().AddRouteValues(new { page })))</span>
        </div>
    </div>
</div>
<div class="modal fade" id="newPackingRec2Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog large-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title">Packing Room Record</h5>
            </div>
            <div class="modal-body">
                <div id="newPackingRec2">
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/Records/Packing/PackingRecord2/PackingRecord2.js")
