﻿
@model PunjabKitchen.Models.BatchCoolingTempRecrd
@{
    SelectList list = ViewBag.Unit;
}
<form id="BatchCoolingTempRecordForm" method="post" action="#" class="messageform">
    @Html.HiddenFor(m => m.iBatchCoolingTempRecrdId)
    @Html.HiddenFor(m => m.bCriticalCheck, new { id = "bCriticalCheck" })
    <fieldset>
        <div class="row">
            <div class="col-xs-2">
                <label>Batch No.</label>
                @Html.TextBoxFor(x => x.vBatchNo, new { @required = "required", id = "BatchNo", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.vBatchNo, "", new { @class = "text-danger", })
            </div>

            <div class="col-xs-10">
                <div class="row">
                    <div class="col-xs-8">
                        <label>Product</label>
                        @Html.TextBoxFor(x => x.tRecipe.vRecipeName, new { id = "ProductName", @disabled = "disabled" })
                    </div>

                    <div class="col-xs-4 quantity-area">
                        <div class="row ">
                            <div class="col-xs-6">
                                <label>Quantity</label>
                                @Html.TextBoxFor(x => x.iQuantity, new { id = "iQuantity", @required = "required", type = "number", max = 999999, min = 1 })
                                @Html.ValidationMessageFor(m => m.iQuantity, "", new { @class = "text-danger", })
                            </div>
                            <div class="col-xs-6">
                                <label>Units</label>
                                @Html.DropDownListFor(m => m.iUnitId, new SelectList(list.Items, "iUnitId", "vName", 1), new { @class = "cursor", @style = "-webkit-appearance: none;", @required = "required" })
                                @Html.ValidationMessageFor(m => m.iUnitId)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label class="required">Time ex. Cook</label>
                <input class="cursor" type="text" id="tTimeExCookPicker" />
                @Html.HiddenFor(m => m.tTimeExCook, new { @required = "required", id = "tTimeExCook" })
                @Html.ValidationMessageFor(m => m.tTimeExCook, "", new { @class = "text-danger", })
            </div>
            <div class="col-xs-4">
                <label class="required">Temperature into Blast Chiller <span class="smallerlab">(Min+70 °C)</span></label>
                @Html.TextBoxFor(m => m.vTempInBlastChiller, new { id = "vTempInBlastChiller", type = "number", @required = "required" })
                @Html.ValidationMessageFor(m => m.vTempInBlastChiller, "", new { @class = "text-danger", })
            </div>
            <div class="col-xs-4">
                <label class="required">Time into Blast Chiller</label>
                <input class="cursor" type="text" id="tTimeInBlastChillerPicker" />
                @Html.HiddenFor(m => m.tTimeInBlastChiller, new { @required = "required", id = "tTimeInBlastChiller" })
                @Html.ValidationMessageFor(m => m.tTimeInBlastChiller, "", new { @class = "text-danger", })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label class="required">Temperature ex. Blast Chiller <span class="smallerlab">(Max+3 °C)</span></label>
                @Html.TextBoxFor(m => m.vTempExInBlastChiller, new { id = "vTempExInBlastChiller", type = "number", @required = "required" })
                @Html.ValidationMessageFor(m => m.vTempExInBlastChiller, "", new { @class = "text-danger", })
            </div>
            <div class="col-xs-6">
                <label>Time to WIP Chiller</label>
                @Html.HiddenFor(m => m.tTimeToWipChiller, new { id = "tTimeToWipChiller" })
                <input class="cursor" type="text" id="tTimeToWipChillerPicker" />
                @Html.ValidationMessageFor(m => m.tTimeToWipChiller, "", new { @class = "text-danger", })
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Comments</label>
                @Html.TextBoxFor(m => m.vComments, new { @maxlength = "50" })
            </div>
        </div>
        @Html.HiddenFor(m => m.iBatchCoolingTempRecrdId, new { id = "BatchCoolingTempRecrdId" })
        @Html.HiddenFor(x => x.iCookingPlanId, new { id = "cookingId" })
    </fieldset>
</form>
<div class="button-holder">
    <a href="#" value="Submit" class="btn btn-default" onclick="submitBatchCoolingForm()">Submit</a>
    <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
    @if (Model != null && Model.iBatchCoolingTempRecrdId > 0)
    {
        @Html.ActionLink("Print", MVC.BatchCoolingTempRecrd.PrintRecord(Model.iBatchCoolingTempRecrdId), new { target = "_blank", @class = "printLink" })
    }
</div>


@Scripts.Render("~/Scripts/Records/Cooking/BatchCoolingTemp/CreateBatchCoolingTempRecord.js")
<script type="text/javascript">

    $("#iQuantity").keypress(function (evt) {
        var self = $(this);
        self.val(self.val().replace(/[^\d].+/, ""));
        if ((evt.which < 48 || evt.which > 57) && (evt.which !== 8) && (evt.keyCode !== 46) && (evt.keyCode !== 37) && (evt.keyCode !== 39)) {
            evt.preventDefault();
        }
    });
</script>