﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.BatchCoolingTempRecrd>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}
<div class="content-holder">
    <div class="bd-example">
        <h2>Batch Cooling Temperature Records</h2>
        <div class="btn-addlocation">
            @Html.Hidden("canCreatePlan", "")
            <a href="#" id="BatchCoolingTempRecordModal">
                <input value="Create New" class="btn-default" type="button" />
            </a>
        </div>
        <div class="table-responsive">
            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager))
            {
                cursorClass = "cursor";
            }
            <table class="table notification-table">
                <thead>
                    <tr>
                        <th>DATE</th>
                        <th>PRODUCT</th>
                        <th>PRODUCT CODE</th>
                        <th>Quantity</th>
                        <th>Time ex. Cook</th>
                        <th>Temperature into Blast Chiller °C</th>
                        <th>Time into Blast Chiller</th>
                        <th>Temperature ex. Blast Chiller °C</th>
                        <th>Time to WIP Chiller</th>
                        <th>Comments</th>
                        <th>PERFORMED BY</th>
                        @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager))
                        {
                            <th>MODIFIED BY</th>
                        }
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var createdDate = Convert.ToDateTime(item.Sys_CreatedDateTime).ToString("dd/MM/yyyy hh:mm:ss tt");
                        var tTimeExCook = @item.tTimeExCook == null ? "" : @item.tTimeExCook.Value.ToString("HH:mm");
                        var tTimeInBlastChiller = @item.tTimeInBlastChiller == null ? "" : @item.tTimeInBlastChiller.Value.ToString("HH:mm");
                        var tTimeToWipChiller = @item.tTimeToWipChiller == null ? "" : @item.tTimeToWipChiller.Value.ToString("HH:mm");
                        var performedBy = item.Sys_CreatedBy != null ? item.AspNetUser.FirstName + " " + item.AspNetUser.LastName : string.Empty;
                        var modifiedBy = item.Sys_ModifyBy != null ? item.AspNetUser1.FirstName + " " + item.AspNetUser1.LastName : string.Empty;
                        var rowClass = @item.bCriticalCheck == true ? "error" : "";

                        var editable = (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager)) ? "editable" : "";

                        <tr class="@rowClass BatchCoolingTempEdit @cursorClass @editable" data-id="@item.iBatchCoolingTempRecrdId">
                            <td>@createdDate</td>
                            <td>@item.tCookingPlan.tRecipe.vRecipeName</td>
                            <td>@item.tCookingPlan.tRecipe.vRecipeCode</td>
                            <td>@item.iQuantity  @item.tUnit.vName</td>
                            <td>@tTimeExCook</td>
                            <td>@item.vTempInBlastChiller</td>
                            <td>@tTimeInBlastChiller</td>
                            <td>@item.vTempExInBlastChiller</td>
                            <td>@tTimeToWipChiller</td>
                            <td>@item.vComments</td>
                            <td>@performedBy</td>
                            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager))
                            {
                                <td>@modifiedBy</td>
                            }
                            <td><a href="@Url.Action(MVC.BatchCoolingTempRecrd.PrintRecord(item.iBatchCoolingTempRecrdId))" target="_blank" class="printButton"><img src="~/images/ico-print-record.png" class="ico-action" alt="Print"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.BatchCoolingTempRecrd.BatchCoolingTempRecords().AddRouteValues(new { page })))</span>
</div>
    </div>
</div>
<div id="newBatchCoolingTempRecModal" class="modal fade" role="dialog">
    <div class="modal-dialog large-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title" id="myModalLabel">Add Batch Cooling Temperature Record</h5>
            </div>
            <div class="modal-body">
                <div id="newBatchCoolingTempRec">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
@Scripts.Render("~/Scripts/Records/Cooking/BatchCoolingTemp/BatchCoolingTempRecord.js")