﻿
@model PunjabKitchen.Models.HotPackingRercord

<form id="hotPackingRecordForm" method="post" action="#" class="messageform">

    @Html.HiddenFor(m => m.iHotPackingRercordId)

 
        <fieldset>
            <div class="information-box">
                <p>HACCP - Frozen Ready Meal Process - Critical Control Point (CCP) 7b</p>
                <p>CRITICAL LIMIT - Maximum time of 2 hours from finish of cooking until last tray into the Blast Freezer</p>
            </div>
            <div class="row">
                <div class="onefifth">
                    <label class="required">Batch No.</label>
                    @Html.TextBoxFor(m => m.vBatchNo, new { @id = "vBatchNo", @required = "required", maxlength="6", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.vBatchNo, "", new { @class = "text-danger"})
                </div>
                <div class="twofifth">
                    <label>Product</label>
                    @Html.TextBoxFor(m => m.tCookingPlan.tRecipe.vRecipeName, new { id = "ProductDescription", @disabled = "disabled" })
                </div>
                <div class="twofifth">
                    <label class="required">Time Ex Cook</label>
                    @Html.HiddenFor(m => m.tTimeExCook, new { @required = "required", id = "tTimeExCook" })
                    <input class="cursor" type="text" id="tTimeExCookPicker" />
                </div>               
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <label class="required">Time of Last Tray into Blast Freezer</label>
                    @Html.HiddenFor(m => m.tTimeOfLastTrayInBlastFreezer, new { @required = "required", id = "tTimeOfLastTrayInBlastFreezer" })
                    <input class="cursor" type="text" id="tTimeOfLastTrayInBlastFreezerPicker" />
                </div>

                <div class="col-xs-4">
                    <label>Time Taken</label>
                    @Html.HiddenFor(m => m.tTimeTaken, new { id = "tTimeTaken" })
                    <input type="text" id="tTimeTakenPicker" disabled="disabled">
                </div>
            </div>

            @Html.HiddenFor(m => m.iHotPackingRercordId, new { id = "HotPackingRercordId" })
            @Html.HiddenFor(x => x.bCriticalCheck, new { id = "bCriticalCheck" })
            @Html.HiddenFor(m => m.iCookingPlanId, new { id = "CookingPlanId" })
        </fieldset>

        <div class="button-holder">
            <a value="Save" class="btn btn-default" onclick="submitHotPackingRecForm()" >Submit</a>
            <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
            @if (Model != null && Model.iHotPackingRercordId > 0)
            {
                @Html.ActionLink("Print", MVC.HotPackingRecord.PrintRecord(Model.iHotPackingRercordId), new { target = "_blank", @class = "printLink" })
            }
        </div>
       
</form>

@Scripts.Render("~/Scripts/Records/Packing/HotPackingRecord/CreateHotPackingRecord.js")