﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.HotPackingRercord>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}

<div class="content-holder">
    <div class="bd-example">
        <h2>Hot Packing Records</h2>
        <div class="btn-addlocation">
            @Html.Hidden("canCreatePlan", "")
            <a href="#" id="hotPackingRecordModal">
                <input value="Create New" class="btn-default" type="button" />
            </a>
        </div>
        <div class="table-responsive">

            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager))
            {
                cursorClass = "cursor";
            }

            <table class="table notification-table">
                <thead>
                <tr>
                    <th>DATE</th>
                    <th>BATCH NO.</th>
                    <th>PRODUCT</th>
                    <th>TIME EX COOK</th>
                    <th>TIME OF LAST TRAY INTO BLAST FREEZER</th>
                    <th>TIME TAKEN</th>
                    <th></th>
                </tr>

                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    var createdDate = Convert.ToDateTime(item.Sys_CreatedDateTime).ToString("dd/MM/yyyy hh:mm:ss tt");
                    var tTimeExCook = @item.tTimeExCook == null ? "" : @item.tTimeExCook.Value.ToString("HH:mm");
                    var tTimeOfLastTrayInBlastFreezer = @item.tTimeOfLastTrayInBlastFreezer == null ? "" : @item.tTimeOfLastTrayInBlastFreezer.Value.ToString("HH:mm");
                    var tTimeTaken = @item.tTimeTaken == null ? "" : @item.tTimeTaken.Value.ToString("HH:mm");
                    var rowClass = @item.bCriticalCheck == true ? "error" : "";

                    var editable = (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager)) ? "editable" : "";

                    <tr class="@rowClass @cursorClass @editable" data-id="@item.iHotPackingRercordId">
                        <td>@createdDate</td>
                        <td>@item.vBatchNo</td>
                        <td>@item.tCookingPlan.tRecipe.vRecipeName</td>
                        <td>@tTimeExCook</td>
                        <td>@tTimeOfLastTrayInBlastFreezer</td>
                        <td>@tTimeTaken</td>
                        <td><a href="@Url.Action(MVC.HotPackingRecord.PrintRecord(item.iHotPackingRercordId))" target="_blank" class="printButton"><img src="~/images/ico-print-record.png" class="ico-action" alt="Print"></a></td>
                    </tr>
                }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.HotPackingRecord.HotPackingRecords().AddRouteValues(new { page })))</span>
        </div>
    </div>
</div>
<div id="newHotPackingRecModal" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog create-cooking-plan" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title" id="myModalLabel">Add Hot Packing Record</h5>
            </div>
            <div class="modal-body">
                <div id="newHotPackingRec">
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Records/Packing/HotPackingRecord/HotPackingRecord.js")