﻿
@model PunjabKitchen.Models.FreezerRecord
<form id="freezerRecordForm" method="post" action="#" class="messageform">
    @Html.HiddenFor(m => m.iFreezerRecordId)
    <fieldset>
        <label class="required">Goods in Freezer &#8451;</label>
        @if (Model.vGoodsInFreezerTempAm != null)
        {
            @Html.TextBoxFor(m => m.vGoodsInFreezerTempAm, new { type = "number", @required = "required", @minlength = -99999, @maxlength = 99999 })
            @Html.ValidationMessageFor(m => m.vGoodsInFreezerTempAm, "", new { @class = "text-danger", })
        }
        else
        {
            @Html.TextBoxFor(m => m.vGoodsInFreezerTempPm, new { type = "number", @required = "required", @maxlength = "50" })
            @Html.ValidationMessageFor(m => m.vGoodsInFreezerTempPm, "", new { @class = "text-danger", })
        }

        <label class="required">Shapes Freezer &#8451;</label>
        @if (Model.vShapesFreezerTempAm != null)
        {
            @Html.TextBoxFor(m => m.vShapesFreezerTempAm, new { type = "number", @required = "required", @maxlength = "50" })
            @Html.ValidationMessageFor(m => m.vShapesFreezerTempAm, "", new { @class = "text-danger", })
        }
        else
        {
            @Html.TextBoxFor(m => m.vShapesFreezerTempPm, new { type = "number", @required = "required", @maxlength = "50" })
            @Html.ValidationMessageFor(m => m.vShapesFreezerTempPm, "", new { @class = "text-danger", })
        }
        <label class="required">Car Park Freezer &#8451;</label>
        @if (Model.vCarParkFreezerTempAm != null)
        {
            @Html.TextBoxFor(m => m.vCarParkFreezerTempAm, new { type = "number", @required = "required", @maxlength = "50" })
            @Html.ValidationMessageFor(m => m.vCarParkFreezerTempAm, "", new { @class = "text-danger", })
        }
        else
        {
            @Html.TextBoxFor(m => m.vCarParkFreezerTempPm, new { type = "number", @required = "required", @maxlength = "50" })
            @Html.ValidationMessageFor(m => m.vCarParkFreezerTempAm, "", new { @class = "text-danger", })
        }
        <label>Comments</label>
        @Html.TextBoxFor(m => m.vComment, new { @maxlength = "50" })
    </fieldset>
    <div class="button-holder">
        <a href="#" value="Submit" class="btn btn-default" onclick="submitFreezerRecForm()">Submit</a>
        <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
        @if (Model != null && Model.iFreezerRecordId > 0)
        {
            @Html.ActionLink("Print", MVC.FreezerRecord.PrintRecord(Model.iFreezerRecordId), new { target = "_blank", @class = "printLink" })
        }
    </div>

</form>
@Scripts.Render("~/Scripts/Records/Cooking/Freezer/CreateFreezerRecord.js")