﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.FreezerRecord>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}
<div class="content-holder">
    <div class="bd-example">
        <h2>Freezer Records</h2>
        <div class="btn-addlocation">
            <a href="#" id="FreezerRecordModal">
                <input value="Create New" class="btn-default" type="button" />
            </a>
        </div>
        <div class="table-responsive">
            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager))
            {
                cursorClass = "cursor";
            }
            <table class="table notification-table">
                <thead>
                    <tr>
                        <th>DATE</th>
                        <th>GOODS IN FREEZER °C</th>
                        <th>SHAPES FREEZER °C</th>
                        <th>CAR PARK FREEZER °C</th>
                        <th>COMMENTS</th>
                        <th>PERFORMED BY</th>
                        @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager))
                        {
                            <th>MODIFIED BY</th>
                        }
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var createdDate = Convert.ToDateTime(item.Sys_CreatedDateTime).ToString("dd/MM/yyyy hh:mm:ss tt");
                        var goodsInFreezer = item.vGoodsInFreezerTempAm != null ? item.vGoodsInFreezerTempAm : item.vGoodsInFreezerTempPm;
                        var shapesFreezer = item.vShapesFreezerTempAm != null ? item.vShapesFreezerTempAm : item.vShapesFreezerTempPm;
                        var carParkFreezer = item.vCarParkFreezerTempAm != null ? item.vCarParkFreezerTempAm : item.vCarParkFreezerTempPm;
                        var performedBy = item.Sys_CreatedBy != null ? item.AspNetUser.FirstName + " " + item.AspNetUser.LastName : string.Empty;
                        var modifiedBy = item.Sys_ModifyBy != null ? item.AspNetUser1.FirstName + " " + item.AspNetUser1.LastName : string.Empty;

                        var editable = (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager)) ? "editable" : "";

                        <tr class="FreezerRecEdit @cursorClass @editable" data-id="@item.iFreezerRecordId">
                            <td>@createdDate</td>
                            <td>@goodsInFreezer</td>
                            <td>@shapesFreezer</td>
                            <td>@carParkFreezer</td>
                            <td>@item.vComment</td>
                            <td>@performedBy</td>
                            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager))
                            {
                                <td>@modifiedBy</td>
                            }
                            <td><a href="@Url.Action(MVC.FreezerRecord.PrintRecord(item.iFreezerRecordId))" target="_blank" class="printButton"><img src="~/images/ico-print-record.png" class="ico-action" alt="Print"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.FreezerRecord.FreezerRecords().AddRouteValues(new { page })))</span>
        </div>
    </div>
</div>
<div id="newFreezerRecModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title" id="myModalLabel">Add Freezer Record</h5>
            </div>
            <div class="modal-body">
                <div id="newFreezerRec">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>
@Scripts.Render("~/Scripts/Records/Cooking/Freezer/FreezerRecord.js")