﻿@model IEnumerable<PunjabKitchen.Models.AuditEventModel>
<table class="table notification-table">
    <thead>
        <tr>
            <th>EVENT NO.</th>
            <th>DATE</th>
            <th>EVENT TYPE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var startDate = Convert.ToDateTime(item.StartDate).ToString("dd/MM/yyyy hh:mm:ss tt");

            <tr>
                <td>@item.EventId</td>
                <td>@startDate</td>
                <td>@item.EventType</td>
            </tr>
        }
    </tbody>
</table>