﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bd-example">
    <h2 class="inbox-title">Audit Log</h2>
    <div class="row">
        <div class="col-xs-11">
            <div class="row">
                <div class="col-xs-3">
                    <label>Process Area</label>
                    <div class="styled-select slate">
                        @Html.DropDownList("Modules", (SelectList) ViewBag.Modules, new {id = "Module", @class = "cursor"})
                    </div>
                </div>
                <div class="col-xs-3">
                    <label>User</label>
                    <div class="styled-select slate">
                        @Html.DropDownList("Users", (SelectList) ViewBag.Users, new {id = "User", @class = "cursor"})
                    </div>
                </div>
                <div class="col-xs-3">
                    <label>From</label>
                    <div class="datepicker">
                        <input type="text" class="cursor" id="FromDateTimePicker"/>
                    </div>
                </div>
                <div class="col-xs-3">
                    <label>To</label>
                    <div class="datepicker">
                        <input type="text" class="cursor" id="ToDateTimePicker"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1 search-btn-holder pick-action">
            <a class="cursor btn-default" onclick="updateView()">Search</a>
        </div>
    </div>
    <div class="table-responsive" id="auditLogsListBody">

    </div>
</div>

@Scripts.Render("~/Scripts/AuditLog/AuditLog.js")