﻿@model PunjabKitchen.Models.VegetarianPackingRecord
@{
    SelectList unitlist = ViewBag.Unit;
    SelectList packersList = ViewBag.PackersList;
}
<div class="content-area">
    <div class="content-holder">
        <div class="bd-example tab-content-holder">
            <h2 class="inbox-title">Add Vegetarian Record</h2>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li id="tab_1" class="nav-item active">
                    <a class="nav-link" data-toggle="tab" href="#home" role="tab" aria-controls="home">Product Description</a>
                </li>
                <li id="tab_2" class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Product Temperature</a>
                </li>
                <li id="tab_3" class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#messages" role="tab" aria-controls="messages">Batch Change Checks</a>
                </li>
                <li id="tab_4" class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-controls="settings">Labels</a>
                </li>
                <li id="tab_5" class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Finish" role="tab" aria-controls="settings">Finish</a>
                </li>
            </ul>
            <form id="vegetarianRecordForm" method="post" action="#" class="messageform">
                @Html.HiddenFor(m => m.iVegeRecordId, new { id = "iVegeRecordId" })
                @Html.HiddenFor(x => x.packersList, new { id = "packersList" })
                @Html.HiddenFor(x => x.vMealStartTempCriticalCheck, new { id = "vMealStartTempCriticalCheck" })
                @Html.HiddenFor(x => x.vMealFinishTempCriticalCheck, new { id = "vMealFinishTempCriticalCheck" })
                @Html.HiddenFor(x => x.vSauceStartTempCriticalCheck, new { id = "vSauceStartTempCriticalCheck" })
                @Html.HiddenFor(x => x.vSauceFinishTempCriticalCheck, new { id = "vSauceFinishTempCriticalCheck" })
                @Html.HiddenFor(x => x.vVeg_RiceStartTempCriticalCheck, new { id = "vVeg_RiceStartTempCriticalCheck" })
                @Html.HiddenFor(x => x.vVeg_RiceFinishTempCriticalCheck, new { id = "vVeg_RiceFinishTempCriticalCheck" })
                @Html.HiddenFor(m => m.iCookingPlanId, new { id = "CookingPlanId" })
                <fieldset>
                    <div class="tab-content">
                        <div class="tab-pane active" id="home" role="tabpanel">
                            <div class="information-box">
                                <p>CCP 6: Chiller Max +3°C and Product Max time in Chiller = 48hrs. CCP 7: Chill Product Max +3°C. If using Frozen product max -18°C</p>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4">
                                    <label class="required">Batch No.</label>
                                    @Html.TextBoxFor(m => m.vBatchNo, new { id = "vBatchNo", @required = "required", autocomplete = "off", maxlength = "50" })
                                    @Html.ValidationMessageFor(m => m.vBatchNo, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3 col-xs-4">
                                    <label>Product Name</label>
                                    <input type="text" disabled="disabled" id="ProductName">
                                    @Html.HiddenFor(m => m.vProductName, new { id = "vProductName" })
                                </div>
                                <div class="col-md-3 col-xs-4">
                                    <label>Weight (g)</label>
                                    <input type="text" disabled="disabled" id="ProductWeight">
                                    @Html.HiddenFor(m => m.iProductWeight, new { id = "iProductWeight", @required = "required" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-xs-4">
                                    <label class="required">Product type</label>
                                    @Html.TextBoxFor(m => m.vProductType, new { id = "vProductType", @required = "required", maxlength = "50" })
                                    @Html.ValidationMessageFor(m => m.vProductType, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3 col-xs-4">
                                    <label class="required">Start Time</label>
                                    <input type="text" id="tStartTimePicker" class="cursor">
                                    @Html.HiddenFor(m => m.tStartTime, new { @required = "required", @id = "tStartTime" })
                                </div>
                                <div class="col-md-3 col-xs-4 multiselect">
                                    <label class="required">Packers</label>
                                    @Html.DropDownListFor(m => m.vPackers, new SelectList(packersList.Items, "IntegerData", "StringData", 1), new { id = "packersDropdown", @class = "selectpicker", @multiple = "multiple", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.vPackers, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="profile" role="tabpanel">
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>MEAL*</h6>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-4">
                                            <label class="required">Batch No. </label>
                                            @Html.TextBoxFor(m => m.vMealBatchNo, new { id = "vMealBatchNo", @required = "required", maxlength = "50" })
                                            @Html.ValidationMessageFor(m => m.vMealBatchNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4 col-xs-4">
                                            <label class="required">Start Temp (Max +3°C)</label>
                                            @Html.TextBoxFor(m => m.vMealStartTemp, new { id = "vMealStartTemp", type = "number", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.vMealStartTemp, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4 col-xs-4">
                                            <label class="required">Finish Temp (Max +3°C)</label>
                                            @Html.TextBoxFor(m => m.vMealFinishTemp, new { id = "vMealFinishTemp", type = "number", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.vMealFinishTemp, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h6>SAUCE*</h6>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-4">
                                            <label class="required">Batch No. </label>
                                            @Html.TextBoxFor(m => m.vSauceBatchNo, new { id = "vSauceBatchNo", @required = "required", maxlength = "50" })
                                            @Html.ValidationMessageFor(m => m.vSauceBatchNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4 col-xs-4">
                                            <label class="required">Start Temp (Max +3°C)</label>
                                            @Html.TextBoxFor(m => m.vSauceStartTemp, new { id = "vSauceStartTemp", type = "number", @required = "required" })
                                        </div>
                                        <div class="col-md-4 col-xs-4">
                                            <label class="required">Finish Temp (Max +3°C)</label>
                                            @Html.TextBoxFor(m => m.vSauceFinishTemp, new { id = "vSauceFinishTemp", type = "number", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <h6>RICE* / VEGETABLES </h6>
                                    <div class="row">
                                        <div class="col-md-3 col-xs-4">
                                            <label class="required">Name</label>
                                            @Html.TextBoxFor(m => m.vVeg_RiceName, new { id = "vVeg_RiceName", @required = "required", maxlength = "50" })
                                            @Html.ValidationMessageFor(m => m.vVeg_RiceName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3 col-xs-4">
                                            <label class="required">Batch No.</label>
                                            @Html.TextBoxFor(m => m.vVeg_RiceBatchNo, new { id = "vVeg_RiceBatchNo", @required = "required", maxlength = "50" })
                                            @Html.ValidationMessageFor(m => m.vVeg_RiceBatchNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3 col-xs-4">
                                            <label class="required">Start Temp (Max +3°C)</label>
                                            @Html.TextBoxFor(m => m.vVeg_RiceStartTemp, new { id = "vVeg_RiceStartTemp", type = "number", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.vVeg_RiceStartTemp, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3 col-xs-4">
                                            <label class="required">Finish (Max +3°C)</label>
                                            @Html.TextBoxFor(m => m.vVeg_RiceFinishTemp, new { id = "vVeg_RiceFinishTemp", type = "number", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.vVeg_RiceFinishTemp, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="information-box">
                                <p>MEAL and SAUCE* - Maximum holding time in WIP Chiller is 48 hours, however target is less than 24 hours. </p>
                                <p>RICE* - Maximum holding time for Rice in WIP Chiller is 24 hours, and maximum holding time in packing room 30 minutes. </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="messages" role="tabpanel">
                            <div class="row">
                                <div class="col-md-2 col-xs-4">
                                    <label class="required">Time</label>
                                    <input type="text" id="tBatchChangeCheckTimePicker" class="cursor">
                                    @Html.HiddenFor(m => m.tBatchChangeCheckTime, new { @class = "cursor", @required = "required", @id = "tBatchChangeCheckTime" })
                                </div>
                                <div class="col-md-2 col-xs-4">
                                    <label class="required">Packaging type</label>
                                    @Html.TextBoxFor(m => m.vPackagingType, new { id = "vPackagingType", @required = "required", maxlength = "50" })
                                    @Html.ValidationMessageFor(m => m.vPackagingType, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2 col-xs-4">
                                    <label class="required">Packaging Size</label>
                                    @Html.TextBoxFor(m => m.iPackagingSize, new { id = "iPackagingSize", @required = "required", type = "number" })
                                    @Html.ValidationMessageFor(m => m.iPackagingSize, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2 col-xs-4">
                                    <label class="required">Packaging Size Unit</label>
                                    @Html.DropDownListFor(m => m.iPackagingUnit, new SelectList(unitlist.Items, "iUnitId", "vName", 1), new { @class = "cursor", @required = "required" })
                                </div>
                                <div class="col-md-2 col-xs-4">
                                    <label class="required">Packaging Batch No.</label>
                                    @Html.TextBoxFor(m => m.vPackagingBatchNo, new { id = "vPackagingBatchNo", @required = "required", maxlength = "50" })
                                    @Html.ValidationMessageFor(m => m.vPackagingBatchNo, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2 col-xs-4">
                                    <label class="required">Lid / Film Batch No.</label>
                                    @Html.TextBoxFor(m => m.Lid_FilmBatchNo, new { id = "Lid_FilmBatchNo", @required = "required", maxlength = "50" })
                                    @Html.ValidationMessageFor(m => m.Lid_FilmBatchNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <h6>CHECKS</h6>
                            <div class="row">
                                <div class="col-md-8 col-xs-12 checks-area">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label class="switch yesno">
                                                @Html.HiddenFor(x => x.bEquipVisualHygieneCheck, new { id = "bEquipVisualHygieneChk" })
                                                <input type="checkbox" id="bEquipVisualHygieneCheck">
                                                <div class="slider round"></div>
                                            </label>
                                            <label for="">Equipment Visual Hygiene </label>
                                        </div>
                                        <div class="col-xs-6">
                                            <label class="switch yesno">
                                                @Html.HiddenFor(x => x.bOldPackaging_LabelsCleared, new { id = "bOldPackaging_LabelsCleared" })
                                                <input type="checkbox" id="bOldPackaging_LabelsClearedCheck">
                                                <div class="slider round"></div>
                                            </label>
                                            <label for="">Old Packaging Labels Cleared away</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label class="switch yesno">
                                                @Html.HiddenFor(x => x.bCheckDuring, new { id = "bCheckDuring" })
                                                <input type="checkbox" id="bCheckDuringCheck">
                                                <div class="slider round"></div>
                                            </label>
                                            <label for="">Check During</label>
                                        </div>
                                        <div class="col-xs-6">
                                            <label class="switch yesno">
                                                @Html.HiddenFor(x => x.bCheckStart, new { id = "bCheckStart" })
                                                <input type="checkbox" id="bCheckStartCheck">
                                                <div class="slider round"></div>
                                            </label>
                                            <label for="">Check Start</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label class="switch yesno">
                                                @Html.HiddenFor(x => x.bCheckIfChange, new { id = "bCheckIfChange" })
                                                <input type="checkbox" id="bCheckIfChangeCheck">
                                                <div class="slider round"></div>
                                            </label>
                                            <label for="">Check if Change</label>
                                        </div>
                                        <div class="col-xs-6">
                                            <label class="switch yesno">
                                                @Html.HiddenFor(x => x.bCheckEnd, new { id = "bCheckEnd" })
                                                <input type="checkbox" id="bCheckEndCheck">
                                                <div class="slider round"></div>
                                            </label>
                                            <label for="">Check End</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="settings" role="tabpanel">
                            <div class="row">
                                <div class="col-md-2 col-xs-4">
                                    <label class="required">Label Product code</label>
                                    @Html.TextBoxFor(m => m.vLabelProductCode, new { id = "vLabelProductCode", @required = "required", maxlength = "50" })
                                    @Html.ValidationMessageFor(m => m.vLabelProductCode, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2 col-xs-4">
                                    <label class="required">Label type</label>
                                    @Html.TextBoxFor(m => m.vLabelType, new { id = "vLabelType", @required = "required", maxlength = "50" })
                                    @Html.ValidationMessageFor(m => m.vLabelType, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2 col-xs-4">
                                    <label class="required">Label Quantity</label>
                                    @Html.TextBoxFor(m => m.iLabelQuantity, new { id = "iLabelQuantity", @required = "required", type = "number" })
                                    @Html.ValidationMessageFor(m => m.iLabelQuantity, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2 col-xs-4">
                                    <label class="required">Label Quantity Unit</label>
                                    @Html.DropDownListFor(m => m.iLabelUnit, new SelectList(unitlist.Items, "iUnitId", "vName", 1), new { @class = "cursor", @required = "required" })
                                </div>
                                <div class="col-md-2 col-xs-4">
                                    <label class="required">Label Batch No.</label>
                                    @Html.TextBoxFor(m => m.vLabel_BatchNo, new { id = "vLabel_BatchNo", @required = "required", maxlength = "50" })
                                    @Html.ValidationMessageFor(m => m.vLabel_BatchNo, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2 col-xs-4">
                                    <label class="required">Label Best Before End</label>
                                    @Html.HiddenFor(x => x.dLabelBestBefore, new { id = "dLabelBestBefore" })
                                    <input type="text" id="dLabelBestBeforeDatePicker" required="required" class="cursor" />
                                    @Html.ValidationMessageFor(m => m.dLabelBestBefore, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <h6>CHECKS</h6>
                            <div class="row">
                                <div class="col-md-8 col-xs-12 checks-area">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label class="switch yesno">
                                                @Html.HiddenFor(x => x.bAllergen, new { id = "bAllergen" })
                                                <input type="checkbox" id="bAllergenCheck">
                                                <div class="slider round"></div>
                                            </label>
                                            <label for="">Allergen </label>
                                        </div>
                                        <div class="col-xs-6">
                                            <label class="switch yesno">
                                                @Html.HiddenFor(x => x.bCheckLabelStart, new { id = "bCheckLabelStart" })
                                                <input type="checkbox" id="bCheckLabelStartCheck">
                                                <div class="slider round"></div>
                                            </label>
                                            <label for="">Check Label Start</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label class="switch yesno">
                                                @Html.HiddenFor(x => x.bCheckLabelDuring, new { id = "bCheckLabelDuring" })
                                                <input type="checkbox" id="bCheckLabelDuringCheck">
                                                <div class="slider round"></div>
                                            </label>
                                            <label for="">Check During</label>
                                        </div>
                                        <div class="col-xs-6">
                                            <label class="switch yesno">
                                                @Html.HiddenFor(x => x.bCheckLabelIfChange, new { id = "bCheckLabelIfChange" })
                                                <input type="checkbox" id="bCheckLabelIfChangeCheck">
                                                <div class="slider round"></div>
                                            </label>
                                            <label for="">Check if Change</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label class="switch yesno">
                                                @Html.HiddenFor(x => x.bCheckLabelEnd, new { id = "bCheckLabelEnd" })
                                                <input type="checkbox" id="bCheckLabelEndCheck">
                                                <div class="slider round"></div>
                                            </label>
                                            <label for="">Check End</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="information-box">
                                <p>CHECK PRODUCT LABELS CAREFULLY (Product Code, Batch Number, Best Before Date, Type - PK, Simply Puree, Simply a La Carte), ATTACH LABEL TO BACK OF RECORD AND SIGN SHEET.</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="Finish" role="tabpanel">
                            <div class="tab-pane active" id="home" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-3 col-xs-4">
                                        <label class="required">Finish Time</label>
                                        <input type="text" id="tFinishTimePicker" class="cursor">
                                        @Html.HiddenFor(m => m.tFinishTime, new { @class = "cursor", @required = "required", @id = "tFinishTime" })
                                    </div>
                                    <div class="col-md-3 col-xs-4">
                                        <label class="required">No. of Packs Made</label>
                                        @Html.TextBoxFor(m => m.iNumberOfPacksMade, new { id = "iNumberOfPacksMade", @required = "required", type = "number" })
                                        @Html.ValidationMessageFor(m => m.iNumberOfPacksMade, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-3 col-xs-4">
                                        <label class="required">Time to Freezer</label>
                                        <input type="text" id="tTimeToFreezerTimePicker" class="cursor">
                                        @Html.HiddenFor(m => m.tTimeToFreezer, new { @required = "required", @id = "tTimeToFreezer" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-holder addlocation-box">
                        <button type="button" class="btn-default" data-dismiss="modal" onclick="submitVegetarianRecForm()">Submit</button>
                        <a href="#" class="btn-cancel" onclick="cancelVegetarianRecForm()">Cancel</a>
                        @if (Model != null && Model.iVegeRecordId > 0)
                        {
                            @Html.ActionLink("Print", MVC.VegetarianPackingRecord.PrintRecord(Model.iVegeRecordId), new { target = "_blank", @class = "printLink" })
                        }
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Records/Packing/VegetarianRecord/CreateVegetarianRecord.js")
