﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.VegetarianPackingRecord>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}
<div class="content-holder">
    <div class="bd-example">
        <h2>Vegetarian Packing Records</h2>
        <div class="btn-addlocation">
            @Html.Hidden("canCreatePlan", "")
            <a href="#" id="vegetarianRecordModal">
                <input value="Create New" class="btn-default" type="button" />
            </a>
        </div>
        <div class="table-responsive">

            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager))
            {
                cursorClass = "cursor";
            }

            <table class="table notification-table">
                <thead>
                    <tr>
                        <th>BATCH NO.</th>
                        <th>PRODUCT</th>
                        <th>PRODUCT WEIGHT</th>
                        <th>PRODUCT TYPE</th>
                        <th>START TIME</th>
                        <th>FINISH TIME</th>
                        <th>NUMBER OF PACKS MADE</th>
                        <th>TIME TO FREEZER</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var startTime = @item.tStartTime == null ? "" : @item.tStartTime.Value.ToString("HH:mm");
                        var finishTime = @item.tFinishTime == null ? "" : @item.tFinishTime.Value.ToString("HH:mm");
                        var timeToFreezer = @item.tTimeToFreezer == null ? "" : @item.tTimeToFreezer.Value.ToString("HH:mm");
                        var rowClass = (@item.vMealStartTempCriticalCheck.Value || @item.vMealFinishTempCriticalCheck.Value || @item.vSauceStartTempCriticalCheck.Value || @item.vSauceFinishTempCriticalCheck.Value || @item.vVeg_RiceStartTempCriticalCheck.Value || @item.vVeg_RiceFinishTempCriticalCheck.Value) ? "error" : "";
                        var editable = (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager)) ? "editable" : "";

                        <tr class="@rowClass @cursorClass @editable" data-id="@item.iVegeRecordId">
                            <td>@item.vBatchNo</td>
                            <td>@item.vProductName</td>
                            <td>@item.iProductWeight</td>
                            <td>@item.vProductType</td>
                            <td>@startTime</td>
                            <td>@finishTime</td>
                            <td>@item.iNumberOfPacksMade</td>
                            <td>@timeToFreezer</td>
                            <td><a href="@Url.Action(MVC.VegetarianPackingRecord.PrintRecord(item.iVegeRecordId))" target="_blank" class="printButton"><img src="~/images/ico-print-record.png" class="ico-action" alt="Print"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.VegetarianPackingRecord.VegetarianRecords().AddRouteValues(new { page })))</span>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Records/Packing/VegetarianRecord/VegetarianRecord.js")