﻿@model PunjabKitchen.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="login-box forgot-box">
    <h1>@ViewBag.Title</h1>
    @using (Html.BeginForm(MVC.Account.ForgotPassword(), FormMethod.Post, new { @class = "", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <label>Enter your email.</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "" })

            <div class="mrgLft16">
                <input type="submit" class="btn-default" value="Email Link" />
            </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
