﻿@model PunjabKitchen.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<section id="loginForm" class="login-box">
    <h1>Welcome, please sign in...</h1>
    @using (Html.BeginForm(MVC.Account.Login(), FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl, @class = "loginform", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="">
            @Html.LabelFor(m => m.Email, new { @class = "" })

            @Html.TextBoxFor(m => m.Email, new { @class = "" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })

            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

        </div>
            <div class="submit-holder">
                <input type="submit" value="Log in" class="btn-default" />
                <a href="@Url.Action(MVC.Account.ForgotPassword())" class="forgottenlink">Forgotten password</a>
            </div>

    }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}