﻿@model PunjabKitchen.Models.MixedCaseBoxingRecord

@{
    SelectList packersList = ViewBag.PackersList;
}

<form method="post" action="#" class="messageform" id="mixedCaseBoxingRecForm">
    <fieldset>
        <div class="information-box">
            <p>Comments - Mixed Case of 12 individual meals. 1 of each meal in each case. Attach copy of label to back of this record.</p>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <label class="required">Date Case Made</label>
                <div class="datepicker">
                    <input type="text" class="cursor mixedCaseBoxingRecItem" id="dDateCaseMadeDatePicker" required="required" />
                    @Html.HiddenFor(x => x.dDateCaseMade, new { id = "dDateCaseMade", @required = "required" })
                </div>
            </div>
            <div class="col-xs-3">
                <label class="required">Customer</label>
                @Html.TextBoxFor(x => x.vCustomer, new { @required = "required", @class = "mixedCaseBoxingRecItem", maxlength = "50" })
            </div>
            <div class="col-xs-3">
                <label class="required">No of Cases</label>
                @Html.TextBoxFor(x => x.iNoOfCases, new { id= "iNoOfCases", type = "number", required = "required", @class = "mixedCaseBoxingRecItem" })
            </div>
            <div class="col-xs-3">
                <label class="required">Case No</label>
                @Html.TextBoxFor(x => x.iCaseNo, new { id= "iCaseNo", required = "required", @class = "mixedCaseBoxingRecItem" })
            </div>
            <div class="col-xs-3">
                <label class="required">Day of Build</label>
                <div class="datepicker">
                    <input type="text" class="cursor mixedCaseBoxingRecItem" id="dDayOfBuildDatePicker" required="required" />
                    @Html.HiddenFor(x => x.dDayOfBuild, new { id = "dDayOfBuild", @required = "required" })
                </div>
            </div>
            <div class="col-xs-3">
                <label class="required">Mixed Box Batch No</label>
                @Html.TextBoxFor(x => x.vBatchNo, new { id= "vBatchNo", @required = "required", @class = "mixedCaseBoxingRecItem", maxlength = 6, autocomplete = "off" })
            </div>
            <div class="col-xs-3">
                <label class="required">Case Name</label>
                @Html.TextBoxFor(x => x.vCaseName, new { @required = "required", @class = "mixedCaseBoxingRecItem", maxlength = "50" })
            </div>
            <div class="col-xs-3">
                <label class="required">Date Case Going Out</label>
                <input type="text" class="cursor mixedCaseBoxingRecItem" id="vDateCaseGoingOutDatePicker" required="required" />
                @Html.HiddenFor(x => x.vDateCaseGoingOut, new { id = "vDateCaseGoingOut", @required = "required" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="row btn-wrapper">
                    <div class="col-xs-5">
                        <label>Label Best Before</label>
                        <div class="datepicker">
                            <input type="text" class="cursor mixedCaseBoxingRecItem" id="dLabelBestBeforeDatePicker" required="required" readonly="readonly" />
                            @Html.HiddenFor(x => x.dLabelBestBefore, new { id = "dLabelBestBefore", @required = "required" })
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="row btn-wrapper">
                            <div class="col-xs-6">
                                <label>Label Checked</label>
                                <label class="switch yesno">
                                    @Html.HiddenFor(m => m.bLabelChecked, new { id = "bLabelCheckedCheck_hidden" })
                                    <input type="checkbox" id="bLabelChecked" class="mixedCaseBoxingRecItem">
                                    <div class="slider round"></div>
                                </label>
                            </div>
                            <div class="col-xs-6">
                                <label>Copy on Back</label>
                                <label class="switch yesno">
                                    @Html.HiddenFor(m => m.bCopyOnBack, new { id = "bCopyOnBackCheck_hidden" })
                                    <input type="checkbox" id="bCopyOnBack" class="mixedCaseBoxingRecItem">
                                    <div class="slider round"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div id="detailFields" class="row btn-wrapper">
                    <div class="col-xs-4">
                        <label>Batch Code</label>
                        @Html.TextBoxFor(x => x.vBatchCode, new { id = "vBatchCode", autocomplete = "off", @class = "mixedCaseBoxingDetailRecItem", maxlength = 6 })
                    </div>
                    <div class="col-xs-4">
                        <label>Name of Pack</label>
                        @Html.TextBoxFor(x => x.vNameOfPack, new { @id = "vNameOfPack", @readonly = "readonly", @class = "mixedCaseBoxingDetailRecItem", maxlength = 200 })
                    </div>
                    <div class="col-xs-4">
                        <label>Product Code</label>
                        @Html.TextBoxFor(x => x.vNumber, new { @id = "vNumber", @readonly = "readonly", @class = "mixedCaseBoxingDetailRecItem", maxlength = 6 })
                    </div>
                    @Html.Hidden("dProductBestBefore", new { id = "dProductBestBefore" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-4 multiselect">
                <label class="required">Packed by</label>
                @Html.DropDownListFor(m => m.iUserId, new SelectList(packersList.Items, "IntegerData", "StringData", 1), new { id = "iUserId", @required = "required" })
                @Html.ValidationMessageFor(m => m.iUserId, "", new { @class = "text-danger" })
            </div>

            <div class="col-xs-4 pull-right" style="margin-top: 11px;">
                <div id="detailButtonsRow" class="row  btn-wrapper">
                    <div class="col-xs-6">
                    </div>
                    <div class="col-xs-6">
                        <button id="addButton" type="button" class="btn btn-default pull-right" onclick="submitForm(this)">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="picklist-area">
            <h2 id="tableHeading">Boxing list</h2>
            <div id="listTableRow" class="table-responsive">
                <table class="table notification-table" id="listTable">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name of Pack</th>
                            <th>Batch Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr></tr>
                    </tbody>
                </table>
            </div>
            <div class="button-holder">
                <button id="doneButton" type="button" class="btn btn-default" onclick="submitForm(this)">Done</button>
                <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
                @if (Model != null && Model.iMixedCaseBoxingRecordId > 0)
                {
                    @Html.ActionLink("Print", MVC.BoxingRecord.PrintMixedCaseRecord(Model.iMixedCaseBoxingRecordId), new { target = "_blank", @class = "printLink" })
                }
            </div>
        </div>
    </fieldset>
    @Html.HiddenFor(m => m.iMixedCaseBoxingRecordId, new { id = "iMixedCaseBoxingRecordId" })
</form>


@Scripts.Render("~/Scripts/Records/Boxing/createMixedCaseBoxingRecord.js")
