﻿@using System.Globalization
@model PunjabKitchen.Models.BoxingRecord

<div class="content-holder">
    <div class="bd-example tab-content-holder">
        <h2 class="inbox-title">Boxing Records</h2>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item active">
                <a class="nav-link" data-toggle="tab" href="#home" role="tab" aria-controls="home">Product Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Product Temperature</a>
            </li>
        </ul>
        <form method="post" action="#" class="messageform" id="BoxingRecordForm">
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <div class="row">
                        <div class="col-md-2 col-xs-4">
                            <label class="required">Product Code</label>
                            @Html.TextBoxFor(x => x.tCookingPlan.tRecipe.vRecipeCode, new { id = "ProductCode", required = "required", autocomplete = "off", maxlength = 6 })
                            @Html.ValidationMessageFor(m => m.tCookingPlan.tRecipe.vRecipeCode, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2 col-xs-4">
                            <label class="required">Product Name</label>
                            @Html.TextBoxFor(x => x.tCookingPlan.tRecipe.vRecipeName, new { id = "ProductName", required = "required", disabled = "disabled" })
                        </div>
                        <div class="col-md-2 col-xs-4">
                            <label class="required">Batch Number</label>
                            @Html.TextBoxFor(x => x.vBatchNo, new { @id = "vBatchNo", @required = "required", maxlength = 6, autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.vBatchNo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2 col-xs-4">
                            <label class="required">Best Before</label>
                            <div class="datepicker">
                                @{
                                    var bestBefore = (Model.dBestBefore != null) ? Model.dBestBefore.Value.Date.ToString(CultureInfo.InvariantCulture) : DateTime.Now.ToString(CultureInfo.InvariantCulture);
                                    <input type="text" id="dBestBeforeDatePicker" class="cursor" required="required" value=@bestBefore />
                                }
                                @Html.HiddenFor(x => x.dBestBefore, new { id = "dBestBefore", @required = "required" })
                                @Html.ValidationMessageFor(m => m.dBestBefore, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-4">
                            <label class="required">Quantity (Weight)</label>
                            @Html.TextBoxFor(x => x.iQuatity, new { id= "iQuatity", type = "number", required = "required", max = 999999, min=0 })
                            @Html.ValidationMessageFor(m => m.iQuatity, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2 col-xs-4">
                            <label class="required">Box Type</label>
                            @Html.TextBoxFor(x => x.vBoxType, new { @required = "required", maxlength="50" })
                            @Html.ValidationMessageFor(m => m.vBoxType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-xs-4">
                            <label class="required">Box Batch Code</label>
                            @Html.TextBoxFor(x => x.vBoxBatchCode, new { id= "vBoxBatchCode", @required = "required", maxlength = 6 })
                            @Html.ValidationMessageFor(m => m.vBoxBatchCode, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2 col-xs-4">
                            <label class="required">Product Temperature °C</label>
                            @Html.TextBoxFor(x => x.vProductTemp, new { id= "vProductTemp", required = "required", type = "number", min = -999999, max = 999999 })
                            @Html.ValidationMessageFor(m => m.vProductTemp, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2 col-xs-4">
                            <label class="required">Total Cases or Trays</label>
                            @Html.TextBoxFor(x => x.iTotalCases_Trays, new { id= "iTotalCases_Trays", @required = "required" })
                            @Html.ValidationMessageFor(m => m.iTotalCases_Trays, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2 col-xs-4">
                            <label class="required">Start Time </label>
                            @{
                                var startTime = Model.tStartTime != null ? Model.tStartTime.Value.TimeOfDay.ToString() : DateTime.Now.TimeOfDay.ToString();
                                <input type="text" id="tStartTimeTimePicker" class="cursor" value=@startTime />
                            }
                            @Html.HiddenFor(x => x.tStartTime, new { id = "tStartTime", required = "required" })
                            @Html.ValidationMessageFor(m => m.tStartTime, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-2 col-xs-4">
                            <label class="required">Finish Time</label>
                            @{
                                var finishTime = Model.tStartTime != null ? Model.tStartTime.Value.TimeOfDay.ToString() : DateTime.Now.TimeOfDay.ToString();
                                <input type="text" id="tFinishTimeTimePicker" class="cursor" value=@finishTime />
                            }
                            @Html.HiddenFor(x => x.tFinishTime, new { id = "tFinishTime", required = "required" })
                            @Html.ValidationMessageFor(m => m.tFinishTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="tab-pane checkrecords" id="profile" role="tabpanel">
                    <div class="information-box">
                        <p>Check box label against the tray label. Record checks. If not correct inform line manager. Attach label to back and sign.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-6">
                            <label class="switch yesno pull-right">
                                @Html.HiddenFor(m => m.bEquipVisualHygiene, new { id = "bEquipVisualHygieneCheck_hidden" })
                                <input type="checkbox" id="bEquipVisualHygiene">
                                <div class="slider round"></div>
                            </label>
                            <label for="bEquipVisualHygiene">Equipment Visual Hygiene</label>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <label class="switch yesno pull-right">
                                @Html.HiddenFor(m => m.bOldBoxesAndLabelsCleared, new { id = "bOldBoxesAndLabelsClearedCheck_hidden" })
                                <input type="checkbox" id="bOldBoxesAndLabelsCleared">
                                <div class="slider round"></div>
                            </label>
                            <label for="bOldBoxesAndLabelsCleared">Old boxes and Labels Cleared away</label>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <label class="switch yesno pull-right">
                                @Html.HiddenFor(m => m.bBoxLabelProductCode, new { id = "bBoxLabelProductCodeCheck_hidden" })
                                <input type="checkbox" id="bBoxLabelProductCode">
                                <div class="slider round"></div>
                            </label>
                            <label for="bBoxLabelProductCode">Box Label Product Code</label>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <label class="switch yesno pull-right">
                                @Html.HiddenFor(m => m.bBoxLabelBatchNumber, new { id = "bBoxLabelBatchNumberCheck_hidden" })
                                <input type="checkbox" id="bBoxLabelBatchNumber">
                                <div class="slider round"></div>
                            </label>
                            <label for="bBoxLabelBatchNumber">Box Label Batch Number</label>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <label class="switch yesno pull-right">
                                @Html.HiddenFor(m => m.bBoxLabelBestBefore, new { id = "bBoxLabelBestBeforeCheck_hidden" })
                                <input type="checkbox" id="bBoxLabelBestBefore">
                                <div class="slider round"></div>
                            </label>
                            <label for="bBoxLabelBestBefore">Box Label Best Before</label>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <label class="switch yesno pull-right">
                                @Html.HiddenFor(m => m.bBoxLabelQuatity, new { id = "bBoxLabelQuatityCheck_hidden" })
                                <input type="checkbox" id="bBoxLabelQuatity">
                                <div class="slider round"></div>
                            </label>
                            <label for="bBoxLabelQuatity">Box Label Quantity</label>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <label class="switch yesno pull-right">
                                @Html.HiddenFor(m => m.bBoxTypeAndBatchNo, new { id = "bBoxTypeAndBatchNoCheck_hidden" })
                                <input type="checkbox" id="bBoxTypeAndBatchNo">
                                <div class="slider round"></div>
                            </label>
                            <label for="bBoxTypeAndBatchNo">Box Type and Batch No.</label>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <label class="switch yesno pull-right">
                                @Html.HiddenFor(m => m.bChecksAtStart, new { id = "bChecksAtStartCheck_hidden" })
                                <input type="checkbox" id="bChecksAtStart">
                                <div class="slider round"></div>
                            </label>
                            <label for="bChecksAtStart">Checks at Start</label>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <label class="switch yesno pull-right">
                                @Html.HiddenFor(m => m.bChecksDuring, new { id = "bChecksDuringCheck_hidden" })
                                <input type="checkbox" id="bChecksDuring">
                                <div class="slider round"></div>
                            </label>
                            <label for="bChecksDuring">Checks During</label>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <label class="switch yesno pull-right">
                                @Html.HiddenFor(m => m.bChecksIfChange, new { id = "bChecksIfChangeCheck_hidden" })
                                <input type="checkbox" id="bChecksIfChange">
                                <div class="slider round"></div>
                            </label>
                            <label for="bChecksIfChange">Checks if Change </label>
                        </div>
                        <div class="col-md-4 col-xs-6">
                            <label class="switch yesno pull-right">
                                @Html.HiddenFor(m => m.bChecksAtEnd, new { id = "bChecksAtEndCheck_hidden" })
                                <input type="checkbox" id="bChecksAtEnd">
                                <div class="slider round"></div>
                            </label>
                            <label for="bChecksAtEnd">Checks at End</label>
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.iBoxingRecordId, new { id = "iBoxingRecordId" })
                @Html.HiddenFor(m => m.iCookingPlanId, new { id = "iCookingPlanId" })
            </div>
            <div class="button-holder addlocation-box">
                <button type="button" class="btn-default" onclick="acceptForm()">Submit</button>
                <a href="#" class="btn-cancel" onclick="cancelBoxingRecForm()">Cancel</a>
                @if (Model != null && Model.iBoxingRecordId > 0)
                {
                    @Html.ActionLink("Print", MVC.BoxingRecord.PrintRecord(Model.iBoxingRecordId), new { target = "_blank", @class = "printLink" })
                }
            </div>
        </form>
    </div>
</div>
@Scripts.Render("~/Scripts/Records/Boxing/createBoxingRecord.js")
