﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.BoxingRecord>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}

<div class="content-holder">
    <div class="bd-example">
        <h2>Boxing </h2>
        <div class="btn-addlocation">

            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.BoxingManager))
            {
                <a href="#" class="btn-default" data-toggle="modal" onclick="createBoxingrecord()">Create New</a>
                cursorClass = "cursor";
            }
        </div>
        <div class="table-responsive">
            <table class="table notification-table">
                <thead>

                    <tr>
                        <th>PROD.</th>
                        <th>BATCH NO.</th>
                        <th>Best Before</th>
                        <th>QTY</th>
                        <th>BOX TYPE</th>
                        <th>BOX BATCH CODE</th>
                        <th>PROD. TEMP</th>
                        <th>TOTAL CASES</th>
                        <th>START TIME</th>
                        <th>FINISH TIME</th>
                        <th></th>
                    </tr>
                </thead>
               
                <tbody>
                    @foreach (var item in Model)
                    {
                        var startTime = @item.tStartTime == null ? "" : item.tStartTime.Value.ToString("HH:mm");
                        var finishTime = item.tFinishTime == null ? "" : item.tFinishTime.Value.ToString("HH:mm");
                        var bestBeforeDate = item.dBestBefore == null ? "" : item.dBestBefore.Value.ToString("dd/MM/yyyy");
                        var editClass = (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.BoxingManager)) ? "boxingItem" : "";
                        <tr class="@cursorClass @editClass" data-id="@item.iBoxingRecordId">
                            <td>@item.tCookingPlan.tRecipe.vRecipeName</td>
                            <td>@item.vBatchNo</td>
                            <td>@bestBeforeDate</td>
                            <td>@item.iQuatity</td>
                            <td>@item.vBoxType</td>
                            <td>@item.vBoxBatchCode</td>
                            <td>@item.vProductTemp</td>
                            <td>@item.iTotalCases_Trays</td>
                            <td>@startTime</td>
                            <td>@finishTime</td> 
                            <td>@Html.ActionLink(" ", MVC.BoxingRecord.PrintRecord(item.iBoxingRecordId), new { target = "_blank", @class = "printButton" })</td>
                        </tr>
                    }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.BoxingRecord.Index().AddRouteValues(new { page })))</span>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Records/Boxing/boxingRecord.js")
