﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.MixedCaseBoxingRecord>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}
<div class="content-holder">
    <div class="bd-example">
        <h2>Mixed Case Boxing Record</h2>
        <div class="btn-addlocation">
            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.BoxingManager))
            {
                <a href="javascript:void(0)" class="btn-default" data-toggle="modal" onclick="createMixedCaseBoxingRecord()">Create New</a>
                cursorClass = "cursor";
            }

        </div>
        <div class="table-responsive">
            <table class="table notification-table">
                <thead>
                    <tr>
                        <th>DATE</th>
                        <th>CUSTOMER</th>
                        <th>NO. OF CASES </th>
                        <th>CASE NAME</th>
                        <th>GOING OUT</th>
                        <th>DAY OF BUILD</th>
                        <th>BEST BEFORE</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var boxingItem = (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.BoxingManager)) ? "boxingItem" : "";
                        <tr class="@cursorClass boxingItem" data-id="@item.iMixedCaseBoxingRecordId">
                            <td>
                                @if (item.dDateCaseMade != null)
                                {
                                    @item.dDateCaseMade.Value.ToString("dd/MM/yyyy")
                                }
                            </td>
                            <td>@item.vCustomer</td>
                            <td>@item.iNoOfCases</td>
                            <td>@item.vCaseName</td>
                            <td>@item.vDateCaseGoingOut</td>
                            <td>
                                @if (item.dDayOfBuild != null)
                                {
                                    @item.dDayOfBuild.Value.ToString("dd/MM/yyyy")
                                }
                            </td>
                            <td>
                                @if (item.dLabelBestBefore != null)
                                {
                                    @item.dLabelBestBefore.Value.ToString("dd/MM/yyyy")
                                }
                            </td>
                            <td>@Html.ActionLink(" ", MVC.BoxingRecord.PrintMixedCaseRecord(item.iMixedCaseBoxingRecordId), new { target = "_blank", @class = "printButton" })</td>
                        </tr>
                    }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.BoxingRecord.MixedCaseBoxingRecordList().AddRouteValues(new { page })))</span>
</div>
    </div>
</div>
<div id="newMixedCaseBoxingRecModal" class="modal fade" role="dialog">
    <div class="modal-dialog large-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title" id="myModalLabel">Add Mixed Case Boxing Record</h5>
            </div>
            <div class="modal-body">
                <div id="newMixedCaseBoxingRec">
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Records/Boxing/mixedCaseBoxingRecord.js")
