@font-face {
	font-family: 'SegoeUI';
	src: url(../fonts/SegoeUI.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SegoeUIB';
	src: url(../fonts/SegoeUI-Bold.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family:'SegoeUISemibold';
    src: url('../fonts/Segoe UI Semibold.eot');
	src: url('../fonts/Segoe UI Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Segoe UI Semibold.woff2') format('woff2'),
		url('../fonts/Segoe UI Semibold.woff') format('woff'),
		url('../fonts/Segoe UI Semibold.svg#Segoe UI Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}
@font-face {
    font-family:'SegoeUISB';
    src: url('../fonts/Segoe UI Semibold Italic.eot');
	src: url('../fonts/Segoe UI Semibold Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Segoe UI Semibold Italic.woff2') format('woff2'),
		url('../fonts/Segoe UI Semibold Italic.woff') format('woff'),
		url('../fonts/Segoe UI Semibold Italic.svg#Segoe UI Semibold Italic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-03BC;
}
body {
	margin: 0;
	color: #4C4F51;
	background: #fff;
	font: 12px/16px 'SegoeUI', sans-serif;
}
.preloader {
 display: none;
 position: fixed;
 left:0;
 top:0;
 z-index:999999999;
 width:100%;
 height:100%;
 overflow: visible;
 background: rgba(0,0,0,0.5);
 /*background:#fff url(../images/loader.gif) no-repeat center center;*/
}
.preloader img{
 position: absolute;
 left: 50%;
 top: 50%;
 margin: -50px 0 0 -50px;
}
.showpreload.preloader{
    display: block;
}
img {
	vertical-align: top;
}
a {
	color: #707070;
	text-decoration: none;
}
.top-section a.active,
.top-section a:focus,
.top-section a:visited{ background: none;}
a.active, a:focus, a:visited {
	text-decoration: none;
	outline: none;
	background: #707070;
}
a.forgottenlink,
a.forgottenlink:focus,
a.forgottenlink:visited { background: none !important;}
.printLink,
a.printLink:focus,
a.printLink:visited { background: none !important;}
.bd-example h2.cancel+a.active, 
.bd-example h2.cancel+a:focus, 
.bd-example h2.cancel+a:visited{background:none;}
.table-responsive a.active,
.table-responsive a:hover{color: #707070;}
.table-responsive a.active,.table-responsive a:focus,.table-responsive a:visited{background:none; }
.sidebar a.active,.sidebar a:focus,.sidebar a:visited{ background: none;}
a.active, a:hover {
	color: #629ad2;
	transition: ease-in-out 0.3s;
	text-decoration: none;
	outline: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul:after {
	display: block;
	clear: both;
	content: "";
}
.biger-text {
	margin: 0 0 30px;
	display: inline-block;
}
h1 {
	font: 35px/42px 'SegoeUISemibold', sans-serif;
	margin: 0 0 50px;
	color: #bfaa8b;
}
h2 {
	font: 30px/40px 'SegoeUI', sans-serif;
	margin: 0 0 25px;
	color: #72706d;
}
h3 {
	font: 26px/34px 'SegoeUISemibold', sans-serif;
	margin: 0 0 20px;
	color: #212122;
}
h4 {
	font: 22px/28px 'SegoeUISemibold', sans-serif;
	margin: 0 0 20px;
	color: #212122;
}
h5 {
	font: 18px/22px 'SegoeUISemibold', sans-serif;
	margin: 0 0 20px;
	color: #212122;
}
h6 {
	font: 16px/22px 'SegoeUISemibold', sans-serif;
	margin: 0;
	color: #212122;
}
p {
	margin: 0 0 10px;
}
form label {
	display: block;
	margin: 0 0 5px;
	text-transform: capitalize;
	font: 12px/18px 'SegoeUI', sans-serif;
}
.modal-body form label{
	text-transform: inherit;
} 
select, select.form-control, textarea, input[type="password"], input[type="number"], input[type="email"], input[type="text"] {
	height: 35px;
	font: 12px/2em 'SegoeUI', sans-serif;
	width: 100%;
	color: #4C4F51;
	text-transform: inherit;
	background: none;
	border: 1px solid #878583;
	border-radius: 0;
	outline: none;
	margin: 0 0 20px;
	padding: 0 3px;
}
textarea {
	overflow: auto;
	resize: none;
}
.table-responsive select,
.table-responsive select.form-control,
.table-responsive textarea,
.table-responsive input[type="password"],
.table-responsive input[type="number"],
.table-responsive input[type="email"],
.table-responsive input[type="text"] {
    margin: 0;
}
.cursor{
	cursor: pointer;
}
.smallerlab{
	font-size: 10px;
}
.field-row {
    overflow:hidden;
    margin:0 -5px;
}
.field-wrap {
    width:33.33333333%;
    padding:0 5px;
    float:left;
}
input::-webkit-input-placeholder {
 color: #4C4F51;
 opacity: 0.61;
}
input:-moz-placeholder {
 color: #4C4F51;
 opacity: 0.61;
}
input::-moz-placeholder {
 color: #4C4F51;
 opacity: 0.61;
}
textarea::-webkit-input-placeholder {
 color: #4C4F51;
 opacity: 0.61;
}
textarea:-moz-placeholder {
 color: #4C4F51;
 opacity: 0.61;
}
textarea::-moz-placeholder {
 color: #4C4F51;
 opacity: 0.61;
}
textarea:focus, input[type="password"]:focus, input[type="nember"]:focus, input[type="eamil"]:focus, input[type="text"]:focus {
	outline: none;
}
.styled-select {
	background: url(../images/ico-dropdown.png) no-repeat 96% 0;
	overflow: hidden;
}
.styled-select select {
	background: transparent;
	border: none;
	padding: 5px;
}
.styled-select.slate {
	background: url(../images/ico-dropdown.png) no-repeat 96% 36%;
}
.styled-select.slate select {
	border: 1px solid #878583;
	appearance: inherit;
	-ms-appearance: inherit;
	-moz-appearance: inherit;
	-webkit-appearance: inherit;
}
.button-holder {
	overflow: hidden;
	margin:0 0 20px; 
}
.btn-default {
	display: inline-block;
	color: #fff;
	background: #72706d;
	border: 0;
	border-radius: 8px;
	min-width: 90px;
	text-align: center;
	height: 35px;
	font: 12px/35px 'SegoeUI', sans-serif;
}
.btn-next.btn-default{
	min-width: 70px;
}
.btn-default:focus, .btn-default:hover {
	background: #72706d;
	border-color: #72706d;
	opacity: 0.8;
	color: #fff;
}
.reject.btn-default {
	background: #a50610;
}
.error {
	background: rgba(222,102,102,0.31) !important;
}
.green {
	background: rgba(148,217,96,0.4) !important;
}
.bolder {
	font-family: 'SegoeUIB' !important;
}
.color-red {
	color: #FB0707;
}
#wrapper {
	overflow: hidden;
}
.w1 {
	overflow: hidden;
	margin: 0 auto;
}
#header {
	background: #f1ebe2;
	padding: 10px 15px;
	overflow: hidden;
}
.logo {
	float: right;
	border-radius: 13px;
	-webkit-box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.25);
	box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.25);
}
.logo img {
	border-radius: 13px;
}
.login-box {
	width: 410px;
	padding: 100px 0 0;
	margin: 0 auto;
}
.password-confirmation.login-box {
	width: 500px;
}
.loginform {
	width: 235px;
	margin: 0 auto;
}
.submit-holder:after {
	display: block;
	content: "";
	clear: both;
}
.forgottenlink {
	font: 12px/18px 'SegoeUI', sans-serif;
	float: left;
	color: #000;
	padding: 10px 0 0 20px;
	text-decoration: underline;
}
.forgottenlink:hover {
	color: #bfaa8b;
	text-decoration: underline;
}
.submit-holder .btn-default {
	float: left;
}
.use-box {
	padding: 15px;
	background: #f1ebe2;
}
.use-box img {
	display: inline-block;
	margin: 0 15px 0 0;
	vertical-align: middle;
	height: 49px;
	width: 49px;
}
.use-box .user-name {
	display: inline-block;
	vertical-align: middle;
}
.use-box .user-name .name {
	display: block;
	font: 22px/27px 'SegoeUI', sans-serif;
	margin: 0 0 5px;
	color: #ac908f;
}
.use-box .user-name .admin {
	display: block;
	font: 12px/15px 'SegoeUI', sans-serif;
	color: #ac908f;
}
.left-pannel {
	width: 300px;
	float: left;
	padding: 0 0 9999px;
	margin: 0 0 -9999px;
	background: #72706d;
    -webkit-box-shadow:16px 0px 22px -16px rgba(0,0,0,0.50);
	-moz-box-shadow:16px 0px 22px -16px rgba(0,0,0,0.50);
	box-shadow:16px 0px 22px -16px rgba(0,0,0,0.50);
}
.sidelist {
	margin: 0 -15px 0 0;
	padding: 15px 5px 15px 25px;
	font: 12px/16px 'SegoeUI', sans-serif;
}
.sidelist li {
	vertical-align: middle;
	padding: 11px 0;
	position: relative;
	box-sizing: border-box;
	text-transform: uppercase;
}
.sidelist > li.active {
	padding: 11px 0 0;
}
.sidelist > li.active:after {
	content: "";
	background: #cc9310;
	height: 45px;
	width: 10px;
	position: absolute;
	top: 0;
	right: 10px;
}
.sidelist li a {
	color: #fff;
	display: block;
	vertical-align: middle;
}
.sidelist li.hasdrop a.uncollapsed:after{
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    content: ">";
    position: absolute;
    top: 14px;
    right: 30px;
}
.sidelist li img {
	display: inline-block;
	vertical-align: middle;
	width: 25px;
}
.sidelist .item-name {
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 0 15px;
}
.collapse-holder {
	padding: 0 0 0 60px;
}
.collapse-holder li .collapse-holder {
	padding: 0 0 0 15px;
}
ul.sidelist li ul li {
	padding: 11px 0;
	position: relative;
	text-transform: none;
}
/*ul.sidelist li ul>li:before{
	content: "";
	position: absolute;
	left: -15px;
	top: 20px;
	height: 6px;
	width: 6px;
	background: #fff;
	margin: -3px 0 0;
	border-radius: 50%;
}
*/
ul.sidelist li ul li:last-child {
	padding: 11px 0 0;
}
ul.sidelist li ul li:last-child:before{
	top: 20px;
    margin: -3px 0 0;
}
/*
ul.sidelist li ul li ul li:before{
	content: "";
	position: absolute;
	left: -15px;
	top: 18px;
	height:4px;
	width:4px;
	background: #fff;
	margin:0;
	border-radius: 50%;
}
*/
ul.sidelist li ul li ul li:last-child:before{
	margin: -2px 0 0;
}
.content-area {
	overflow: hidden;
	min-height: 100vh;
	position: relative;/*-webkit-transition: all 0.7s ease-out 0s;
	-moz-transition: all 0.7s ease-out 0s;
	-ms-transition: all 0.7s ease-out ;
	transition: all 0.7s ease-out ;*/
}
.top-section {
	background: #f1ebe2;
	padding: 8px 26px;
	-webkit-box-shadow: inset 16px 0px 22px -16px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 16px 0px 22px -16px rgba(0,0,0,0.50);
	box-shadow: inset 16px 0px 22px -16px rgba(0,0,0,0.50);
	overflow: hidden;
}
.user {
	float: left;
	padding: 15px 0 0;
}
.user li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px 0 0;
	position: relative;
}
#header .user {
	padding: 20px 0 0 10px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.notification {
	position: absolute;
	left: 10px;
	top: -5px;
	height: 18px;
	min-width: 18px;
	padding: 0 3px;
	text-align: center;
	border-radius: 3px;
	color: #fff;
	background: #cc3010;
	font-size: 12px;
	line-height: 18px;
}
.user li img {
	width: 23px;
}
.content-holder {
	overflow: hidden;
	min-height: 400px;
}
.central-content {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.main-logo {
	margin: 0 0 25px;
}
.central-content h1 {
	color: #666;
	position: relative;
}
.central-content h1:before, .central-content h1:after {
	content: "";
	position: absolute;
	left: -60px;
	top: 50%;
	width: 42px;
	height: 13px;
	margin: -6px 0 0;
	background: url(../images/left.png);
}
.central-content h1:after {
	left: auto;
	right: -60px;
	background: url(../images/right.png);
}
.bd-example {
	padding: 25px;
}
.bd-example h2 {
	position: relative;
}
/*.bd-example h2.inbox-title:after {
	content: "";
	position: absolute;
	left: 100px;
	top: 50%;
	margin: -2px 0 0;
	width: 19px;
	height: 11px;
	background: url(../images/ico-dropdown.png) no-repeat;
}*/
.bd-example h2.cancel {
	float: left;
}
.bd-example h2.cancel+a {
	text-indent: 50px;
	line-height: 40px;
	text-decoration: underline;
	display: inline-block;
}
.notification-table.table>thead>tr.day,
.notification-table.table>tbody>tr.day {
	background: #f1ebe2;
}
.notification-table.table>tbody>tr.day td {
	padding: 10px 8px;
	font-family: 'SegoeUIB';
}
.notification-table.table>thead>tr th.allocation {
	min-width: 220px;
}
.notification-table.table>tbody>tr.active {
	font-family: 'SegoeUIB';
	cursor: pointer;
}
.notification-table.table>tbody>tr>td.purpose,
.notification-table.table>tbody>tr>th.purpose,
.notification-table.table>tfoot>tr>td.purpose,
.notification-table.table>tfoot>tr>th.purpose,
.notification-table.table>thead>tr>td.purpose,
.notification-table.table>thead>tr>th.purpose,
.notification-table.table>thead>tr>td.purpose{
	max-width: 200px;
}
.notification-table.table>tbody>tr>td, .notification-table.table>tbody>tr>th, .notification-table.table>tfoot>tr>td, .notification-table.table>tfoot>tr>th, .notification-table.table>thead>tr>td, .notification-table.table>thead>tr>th, .notification-table.table>thead>tr>td {
	border-bottom: 1px solid #95989a;
	vertical-align: middle;
}
.notification-table.table>tbody>tr>td.icon, .notification-table.table>tbody>tr>th.icon, .notification-table.table>tfoot>tr>td.icon, .notification-table.table>tfoot>tr>th.icon, .notification-table.table>thead>tr>td.icon, .notification-table.table>thead>tr>th.icon, .notification-table.table>thead>tr>td.icon {
	width: 40px;
	text-align: center;
}
.notification-table.table>thead>tr>th.centered, .notification-table.table>tbody>tr>td.centered {
	text-align: center;
}
.notification-table.table > thead > tr {
	text-transform: uppercase;
}
.notification-table.table>thead>tr>th {
	font-weight: normal;
}
.ico-action {
	width: 25px;
	height: auto;
	border-radius: 5px;
}
.modal-dialog {
	width: 375px;
}
.create-cooking-plan.modal-dialog,
.large-modal.modal-dialog {
	width: 765px;
}
.create-cooking-plan.modal-dialog .modal-body{
	padding: 20px;
}
.large-modal.modal-dialog .modal-body {
    padding: 20px;
	min-height:inherit;
}
.modal-content {
	border-radius: 0;
}
.modal-header {
	overflow: hidden;
	padding: 0 10px;
	border: 0;
	background: #f1ebe2;
}
.modal-header .close {
	padding: 12px;
	background: #72706d;
	height: 48px;
	width: 48px;
	opacity: 1;
	margin: 0 -10px 0 0;
}
.modal-header h5 {
	line-height: 48px;
}
.modal-body {
	padding: 22px 55px;
	min-height: 350px;
	margin: 0;
}
.modal-body .button-holder {
	overflow:hidden;
	padding:20px 0 0;
}
.modal-body .addlocation-box.button-holder {
	padding: 35px 0 0;
}
.modal-body .addlocation-box.button-holder .red.btn-default {
	background: #a50610;
	color: #fff;
	float: right;
}
.modal-body .btn-default {
	float: left; 
	height: 36px;
	line-height: 36px;
	padding: 0;
}
.btn-cancel {
	color: #212122;
	margin: 0 0 0 30px;
	text-decoration: underline;
	font: 12px/36px 'SegoeUI', sans-serif;
}
.btn-cancel:hover {
	color: #bfaa8b;
	text-decoration: underline;
}
.button-wrapper .btn-default {
	min-width: 125px;
}
.messageform select, .messageform select.form-control, .messageform textarea, .messageform input[type="password"], .messageform input[type="number"], .messageform input[type="email"], .messageform input[type="text"] {
	margin: 0 0 12px;
}
.messageform textarea {
	height: 140px !important;
}
.messageform .goodsintake-textarea textarea{height: 100px !important;}
.btn-addlocation {
	margin: 0 0 15px;
	overflow: hidden;
	text-align: center;
}
.btn-addlocation .btn-default {
	float: left;
}
.cookpot {
	display: inline-block;
}
.cookpot li {
	display: inline-block;
	margin: 0 10px;
}
.cookpot li .btn-default {
	background: #fff;
	border:1px solid #F1EBE2;
	min-width: 80px;
	color: #212122;
	border-radius: 8px;
}
.cookpot li .btn-default.active {
	background: #F1EBE2;
	border: solid #BFAA8B 1px;
	color: #212122;
}
.twofifth {
	width: 40%;
	padding: 0 15px;
	float: left;
}
.onefifth {
	width: 20%;
	padding: 0 15px;
	float: left;
}
.threefifth {
	width: 60%;
	padding: 0 15px;
	float: left;
}
.fourfifth {
	width: 80%;
	padding: 0 15px;
	float: left;
}
.fivefifth {
	width: 100%;
	padding: 0 15px;
	float: left;
}
.onefifth .btn-default {
	border-radius: 0;
	min-width: 50%;
	background: #fff;
	border: 1px solid #95989a;
	color: #212122;
}
.btn-holder {
	overflow: hidden;
}
.search-btn-holder {padding: 20px 0 0;}
.onefifth .btn-default.active {
	color: #fff;
	background: #95989a;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.bd-example .datepicker,
.modal-body .datepicker {
	position: relative;
	padding: 0;
}
.bd-example .datepicker:after,
.modal-body .datepicker:after {
	content: "";
	position: absolute;
	right: 6px;
	top: 4px;
	height: 26px;
	width: 23px;
	background: url(../images/ico-calender.png);
	background-size: cover;
	pointer-events: none;
}
.btn-print img {
	height: 40px;
	width: 36px;
}
.modal {
	text-align: center;
	padding: 0!important;
}
.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}
.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
.form-horizontal {width: 700px;}
.form-feilds-wrap{letter-spacing: -5px;}
.form-feilds-wrap .field-validation-error {
    margin: -15px 0 10px !important;
    display: block !important;
}
.form-horizontal .col-sm-6 {
    float: none;
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
}
.form-horizontal .bottom-indent {
	overflow: hidden;
	margin: 0 0 10px;
}
.checkbox-area {
	overflow: hidden;
}
.action-buttons {
	padding: 15px 0 0;
	overflow: hidden;
}
.action-buttons .btn-default {
	margin: 0 10px 0 0;
}
.content-holder .dl-horizontal dt {
	width: auto;
	min-width: 70px;
	text-align: left;
}
.content-holder .dl-horizontal dd {
	margin: 0 0 10px 70px;
}
.content-holder .table.admin-table {
	margin: 0;
	max-width: 250px;
}
.forgot-box h1 {
	margin: 0 0 25px;
}
.error-box.login-box {
	text-align: center;
	width: 100%;
	padding: 200px 0 0;
}
.error-box.login-box .biger-text {
	color: #A50610;
}
.error-box.login-box .forgottenlink {
	float: none;
	display: inline-block;
}
.required:after {
	content: "*";
	font-weight: bold;
	color: black;
}
.redrequired.required:after{
	color: #f00;
}
.cancel-area {
	overflow: hidden;
}
.new-delivery {
	overflow: hidden;
	padding: 0 0 5px;
	margin: 0 0 25px;
	border-bottom: 1px solid #95989a;
	text-align: center;
}
.new-delivery label {
	font-weight: 400;
}
.vehicle-check select,
.new-delivery select,
.vehicle-check input[type="text"],
.new-delivery input[type="text"],
.vehicle-check input[type="number"],
.new-delivery input[type="number"]{
	height: 42px;
	padding: 5px 10px;
}
.new-delivery .col-xs-7 {
	text-align: left;
}
.new-delivery .delivery-subtitles {
	display: block;
}
.new-delivery .ico-action {
	padding: 10px 0 0;
}
.single-check {
	overflow: hidden;
	margin: 0 0 20px;
}
.one-tenth {
	padding: 0 15px;
	width: 120px;
	float: left;
}
.eight-tenth {
	padding: 0 15px;
	width: calc(100% - 240px);
	float: left;
}
.nine-tenth {
	padding: 0 15px;
	width: calc(100% - 120px);
	float: left;
}
.btn-list {
	overflow: hidden;
	text-align: center;
	margin: 0 0 20px;
}
.btn-list li {
	display: inline-block;
	margin: 0 10px;
}
.centigrade {
	position: relative;
}
.centigrade:after {
	content: "°C";
	position: absolute;
	right: 25px;
	top: 50%;
	color: #4C4F51;
	opacity: 0.61;
	margin: -16px 0 0;
}
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 90px;
	height: 42px;
	letter-spacing: 0.5px;
	font-weight: normal;
}
/* Hide default HTML checkbox */
.switch input {
	display: none;
	font-family: 'SegoeUI';
}
/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
	border: 1px solid #72706D;
	line-height: 38px;
}
input:checked + .slider {background-color: #fff;}
.slider:before {
	position: absolute;
	content: "Bad";
	height: 40px;
	text-align: center;
	width: 57px;
	left: -1px;
	bottom: 0;
	color: #fff;
	background: #72706D;
	-webkit-transition: .4s;
	transition: .4s;
	border: solid #72706D;
	border-width: 0 1px 0 1px;
}
.slider:before {
	-webkit-transform: translateX(33px);
	-ms-transform: translateX(33px);
	transform: translateX(33px);
}
input:checked + .slider:before {
	content: "Good";
	background-color: #4AD964;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 34px;
}
.yesno .slider:before {content: "No"}
.yesno input:checked + .slider:before {content: "Yes";}
.passfail .slider:before {content: "Fail"}
.passfail input:checked + .slider:before {content: "Pass";}
.onoffswitch.switch{
	width: 64px;
    height: 21px;
	margin: 0;
}
.onoffswitch.switch .slider:before{
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	background-color: #FCCC1B;
	height: 21px;
	content: "";
	bottom: -1px;
	width: 40px;
	border:1px solid #72706D;
}
.onoffswitch.switch  input:checked + .slider:before{
	background: #4AD964;
	-webkit-transform: translateX(25px);
	-ms-transform: translateX(25px);
	transform: translateX(25px);
}
.cleanlinesscheck .slider{line-height: 33px;}
.cleanlinesscheck .onoffswitch.switch{
	width: 120px;
    height: 36px;
}
.cleanlinesscheck .onoffswitch.switch .slider:before{
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	background: #72706D;
	height: 36px;
	content: "";
	width: 75px;
}
.cleanlinesscheck .onoffswitch.switch  input:checked + .slider:before{
	background: #4AD964;
	content: "Checked";
	-webkit-transform: translateX(45px);
	-ms-transform: translateX(45px);
	transform: translateX(45px);
}
.btn-row{
	letter-spacing: -5px;
	margin: 0 -15px 20px;
}
.btn-row h2{
	letter-spacing: normal;
	margin: 0;
}
.btn-row .col-sm-6{
	display: inline-block;
	float: none;
	vertical-align: middle;
	letter-spacing: normal;
}
.goods-intake{
	overflow: hidden;
}
table select{margin:0;}
/*table .quantity{width:85px;}
table .freezer{width:157px;}
table .code{width:105px;}*/
table .styled-select.slate {
    background: url(../images/ico-dropdown.png) no-repeat 96% 50%;
}
input:disabled {
    background: #dddddd;
}
select:disabled{
      background: #dddddd;
}
input[readonly] {
    background: #dddddd;
}
select[readonly]{
      background: #dddddd;
}
.unavailable-Product{ text-align: center;}
.unavailable-Product .ico-message {width: 30px;}
.ico-cross{
    background:url(../images/ico-cross.png) no-repeat;
    height:25px;
    width:25px;
    display:inline-block;
    background-size:contain;
}
.ico-ok{
    background: url(../Images/ico-ok.png) no-repeat;
    height:25px;
    width:25px;
    display:inline-block;
    background-size:contain;
}
.area-options{
	overflow: hidden;
	width: 250px;
}
.small-modal .modal-body .button-holder {padding: 20px 0 0;}
.small-modal .modal-body{
	min-height: inherit;
	text-align: center;
    padding: 20px;
}
.small-modal .status-holder {
	padding:20px 0;
	text-align: center;
	font-size: 20px;
}
.small-modal .update-status{
	display: inline-block;
	vertical-align: middle;
}
.small-modal .onoffswitch.switch {
    width: 102px;
    height: 35px;
	display: inline-block;
    vertical-align: middle;
}
.small-modal .onoffswitch.switch .slider:before{
	height: 35px;
	width: 64px;
}
.small-modal .onoffswitch.switch input:checked + .slider:before {
    -webkit-transform: translateX(38px);
    -ms-transform: translateX(38px);
    transform: translateX(38px);
	content: "Checked";
	font-size:12px;
	line-height:33px;
}
.small-modal .modal-body .button-holder{
	text-align: center;
	margin: 0 0 20px;
}
.small-modal .modal-body .btn-default{float: none;}
.information-box{
	overflow: hidden;
	margin: 0 0 10px;
	font-family: 'SegoeUISB';
}
.information-box-bottom.information-box{
	margin: 0;
	padding: 10px 0 0;
} 
.quantity-area .col-xs-7,
.quantity-area .col-xs-5{padding: 0 5px !important;}
.modal-body .single-check{
	margin: 0;
}
.single-check .header-area{
	overflow:hidden;
	background: #f1ebe2;
	padding: 5px;
}
.single-check .ico-cross,
.single-check .ico-ok{
	float: left;
	margin: 0 10px 0 0;
}
.single-check h6{
	font-family: 'SegoeUIB';
	margin: 0;
}
.check-performed.single-check h6{
	color: #4ad964;
}
.single-check .performed-by{
	overflow: hidden;
}
.single-check .info-area strong{
	display: block;
}
.single-check .info-area{
	padding:12px 10px;
	background: #f4f2ee;
	border-bottom:solid 2px #fff; 
}
.modal-body .info-area .btn-default {
	float: right;
	height: 25px;
	line-height: 25px;
	padding: 0;
	margin: -5px 0 0;
}
.checks-status .col-xs-6{
	padding: 0 5px;
}
.filters-area{
	width: 75%;
}
.modal-body .lrchecksform.messageform input[type="number"]{
	margin: 0;
	height: 25px;
}
.pick-action .row{
	margin: 0 -5px;
}
.pick-action .col-xs-3,
.pick-action .col-xs-6{padding: 0 5px;}
.pick-action .btn-default{
	min-width: 60px;
}
.picklist-area{padding: 15px 0 0;} 
.picklist-area h2{
	margin: 0 0 10px;
}
.available{
	color: #95989a;
	font-size: 11px;
}
.smaller-indent.row{
	margin: 0 -5px;
}
.smaller-indent .col-xs-6{
	padding: 0 5px;
}
.disabledInput {
    background: #dddddd !important;
}
.instructions-area {
	letter-spacing: -5px;
	margin: 0 -15px 40px;
}
.instructions-area p{
	margin: 0;
}
.instructions-area .col-xs-5,
.instructions-area .col-md-7,
.instructions-area .col-xs-12,
.instructions-area .col-xs-7{
	letter-spacing: normal;
	display: inline-block;
	vertical-align: middle;
	float: none;
}
form.pageform label{
	text-transform: inherit;
}
.checks-area .switch{
	float: right;
}
.checks-area .switch .slider:before{content: "Fail";}
.checks-area .switch input:checked + .slider:before{content: "Pass";}
.checks-area .yesno.switch .slider:before{content: "No";}
.checks-area .yesno.switch input:checked + .slider:before{content: "Yes";}
.checks-area label{
	line-height: 42px;
}
.checks-area .row{
	margin: 0 -15px 10px;
}
.fields-row{
	margin: 0 -15px 20px;
}
.statusbar{
	font: 14px/25px 'SegoeUISemibold', sans-serif;
	padding: 0 10px;
	display: block;
	background:#FCCC1B;
	text-align: center;
}
.completed.statusbar{
	background:#4AD964;
}
.pageform h6{
	margin: 0 0 10px;
}
.pageform h6+p{
	margin:-10px 0 0;
}
.addweight{
	display: block;
	color: #212122;
	text-decoration: underline;
	font: 12px/50px 'SegoeUISemibold', sans-serif;
}
.pageform .btn-cancel,
.addweight:hover{
	color: #212122;
	opacity: 0.8;
	text-decoration: underline;
	background: none !important;
}
.pageform a.active,
.pageform a:focus,
.pageform a:visited{background:none;}
.pageform .notification-table.table>tbody>tr>td, 
.pageform .notification-table.table>thead>tr>th{
	text-align: center;
	width: 10%;
	font: 14px/20px 'SegoeUISemibold', sans-serif;
}
.pageform .notification-table.table input[type="number"]{
	height: 22px;
	width: 60px;
	margin: 0 auto;
	display: none;
}
.content-holder .nav-tabs{
	border-bottom: 0;
}
.content-holder .nav-tabs>li{
	min-width: 140px;
	text-align: center;
	margin: 0 15px 0 0;
	position: relative;
}
.content-holder .nav-tabs>li:before{
	content: "";
	position: absolute;
	left: -15px;
	top: 50%;
	width: 15px;
	height: 4px;
	background: #BFAA8B;
	margin: -2px 0 0;
}
.content-holder .nav-tabs>li:first-child:before{
	display: none;
}
.content-holder .nav-tabs>li>a:visited,
.content-holder .nav-tabs>li>a:focus,
.content-holder .nav-tabs>li>a:hover,
.content-holder .nav-tabs>li>a{
	border-radius:10px;
	margin: 0;
	color: #212122;
	background:#F1EBE2;
	border:2px solid #BFAA8B;
}
.content-holder .nav-tabs>li.completed:before,
.content-holder .nav-tabs>li.active:before{background:#06921D;}
.content-holder .nav-tabs>li.completed>a,
.content-holder .nav-tabs>li.active>a{
	background:#4AD964;
	border-color: #06921D;
	color: #fff;
}
.content-holder .tab-content>.tab-pane{
	min-height: 300px;
}
.content-holder .tab-content{
	padding:50px 0 0;
}
.tab-content-holder{
	overflow:hidden;
	padding:25px 50px;
}
.tab-content h6{
	margin: 0 0 10px;
}
.messageform .tab-content select, 
.messageform .tab-content select.form-control,
.messageform .tab-content textarea,
.messageform .tab-content input[type="password"], 
.messageform .tab-content input[type="number"], 
.messageform .tab-content input[type="email"],
.messageform .tab-content input[type="text"]{
	margin: 0 0 25px;
}
.tab-content .checks-area{
	margin: 0 0 15px;
}
form .tab-pane label{
	text-transform:inherit !important;
}
.multiselect .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){ width:100% !important;}
.multiselect .btn-default,
.multiselect .btn-default:hover {
    background: #fff !important;
    border-radius:0 !important;
    border: 1px solid #878583;
    padding: 0 30px 0 3px !important; 
    color: #000;
}
.multiselect .bootstrap-select.btn-group .dropdown-toggle .caret {
    width: 18px;
    height: 9px;
    background: url(../images/ico-dropdown.png) no-repeat 96% 36%;
    border: 0;
}
form .checkrecords.tab-pane label{
	line-height: 42px;
}
form .checkrecords.tab-pane .col-md-4{
	padding: 0 20px;
	margin: 0 0 20px;
}
.btn-wrapper.row{margin:0 -5px;}
.btn-wrapper .col-xs-4,
.btn-wrapper .col-xs-5,
.btn-wrapper .col-xs-6{padding: 0 5px;}
.btn-wrapper .btn-default{
	min-width: 100%;
}
.single-check-holder{
	overflow:hidden;
	margin:0 0 15px;
}
.single-check-holder label{line-height:42px;}
.timing-table .table>tbody>tr>td,
.timing-table .table>tfoot>tr>td{border-top:0;}
.timing-table .notification-table.table>tbody>tr>td,
.timing-table .notification-table.table>tfoot>tr>td{
	text-align: center;
	border-bottom:0;
}
.timing-table .notification-table.table>tbody>tr:first-child>td{
	padding: 16px 8px 8px;
}
.timing-table .notification-table.table>thead>tr>th{
	font-family:'SegoeUISemibold';
	font-size: 14px;
	text-align: center;
	border-bottom:0;
	margin: 0 0 5px;
}
.timing-table .notification-table.table p{
	margin: 0;
}
.tab-content .timing-table  input[type="text"],
.tab-content .timing-table  input[type="number"]{
	width: 70px;
}
.timing-table{text-align: center;}
.timing-table .notification-table.table>tfoot>tr>td.total-packs{
	font-family:'SegoeUISemibold';
	font-size: 16px;
	background: #FCCC1B;
	padding: 5px 10px;
}
@media screen and (max-width:991px) {
	.filters-area{
		width: 100%;
	}	
	.smallerlab{
		font-size: 9px;
	}	
	.create-cooking-plan.modal-dialog {width: 745px;}
	form label {font: 11px/18px 'SegoeUI', sans-serif;}
	body {
		font: 11px/15px 'SegoeUI', sans-serif;
	}
	.left-pannel {
		width: 230px;
		display: none;
	}
	.use-box .user-name .name {
		font: 20px/25px 'SegoeUI', sans-serif;
	}
	.central-content h1 {
		font: 30px/38px 'SegoeUI', sans-serif;
	}
	.sidelist {
		padding: 15px 5px 15px 15px;
	}
	.collapse-holder {
		padding: 0 0 0 50px;
	}
	.bd-example {
		font-size: 11px;
		padding: 15px;
	}
	.form-horizontal {
		width: 100%;
	}
	.notification-table.table>tbody>tr>td,  .notification-table.table>tbody>tr>th,  .notification-table.table>tfoot>tr>td,  .notification-table.table>tfoot>tr>th,  .notification-table.table>thead>tr>td,  .notification-table.table>thead>tr>th,  .notification-table.table>thead>tr>td {
		padding: 4px;
	}
	.notification-table.table>thead>tr th.allocation {
		min-width: inherit;
	}
	.area-options{width: 200px;}
	.instructions-area{
		font-size: 10px;
	}
	.instructions-area h6{
		font-size: 14px;
	}
	.pageform .notification-table.table>tbody>tr>td, 
	.pageform .notification-table.table>thead>tr>th{
		text-align: center;
		font: 12px/18px 'SegoeUISemibold', sans-serif;
	}
	h6 {
		font: 13px/17px 'SegoeUISemibold', sans-serif;
		margin: 0;
	}
	h2 {
		font: 26px/34px 'SegoeUI', sans-serif;
		margin: 0 0 15px;
	}
	.statusbar{
		font: 12px/20px 'SegoeUISemibold', sans-serif;
	}
	.content-holder .nav-tabs>li{min-width: 120px;}
	form .checkrecords.tab-pane .col-md-4{
		margin: 0 0 15px;
	}
}
input.spinner {
    background-image:url('http://loadinggif.com/images/image-selection/3.gif');
    background-repeat:no-repeat;
    background-size: 20px 20px;
    background-position:95% 50%; /* Change to accommodate to your spinner */
}

.pointerNone {
    pointer-events: none;
    background: #d8d8d8 !important;
}

.printButton, .printButton:focus, .printButton:active {
    margin-left: 10px;
    display:block; 
    height: 30px; 
    width: 50px;
}

.printLink {
	color: #212122;
    float: right;
	text-decoration: underline;
	font: 12px/36px 'SegoeUI', sans-serif;
}

.printLink:hover, .printLink:active {
	color: #bfaa8b;
	text-decoration: underline;
}

.thresholdButton, .thresholdButton:focus, .thresholdButton:active {
    margin-left: 30px;
    display:block; 
    height: 30px; 
    width: 50px;
}