﻿@model PunjabKitchen.Models.PickList
@{
    SelectList list = ViewBag.units;
}

    <form id="ProductPickList">
        <div class="row">
            <div class="col-xs-2">
                <label class="required">Batch No.</label>
                <input type="text" id="vBatchCode" required="required" maxlength="6" autocomplete="off">
                @Html.HiddenFor(m => m.iCookingPlanId, new { id = "CookingPlanId" })
                <input type="hidden" id="ProductDescription"/>
            </div>
            <div class="col-xs-2">
                <label class="required">Product No.</label>
                <input type="text" id="productAutoComplete" required="required" maxlength="6" autocomplete="off"/>
            </div>
            <div class="col-xs-2">
                <label class="required">Product</label>
                <input type="text" id="productDescription" class="disabledInput" required="required" readonly="readonly"/>
            </div>
            <div class="col-xs-6 pick-action">
                <div class="row">
                    <div class="col-xs-6">
                        <label class="required">Quantity <span id="AllowedQty" class="available hide"></span></label>
                        @Html.TextBoxFor(x => x.iQuantity, new {type = "number", min = 1, max = 999999, required = "required"})
                        @Html.ValidationMessageFor(m => m.iQuantity, "", new { @class = "text-danger"})
                    </div>
                    <div class="col-xs-3">
                        <label class="required">Units</label>
                        <div class="styled-select slate">
                            @Html.DropDownListFor(n => n.iUnitId, new SelectList(list.Items, "iUnitId", "vName", 1))
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label>&nbsp;</label>
                        <a href="#" class="btn-default" onclick="savePickListitem()">Pick</a>
                    </div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(x => x.iProductId)
        <input type="hidden" id="ProductCode"/>
    </form>


<div class="picklist-area">
    <h2>Picklist</h2>
    <div class="table-responsive">
        <table class="table notification-table" id="pickListTable">
            <thead>
            <tr>
                <th>PRODUCT CODE</th>
                <th>PRODUCT DESCRIPTION</th>
                <th>QUANTITY </th>
            </tr>
            </thead>
            <tbody id="pickListBody">
            
            </tbody>
        </table>
    </div>
    <div class="button-holder addlocation-box">
        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
        <div class="pull-right unavailable-Product">
            <p><a title="Unavailable Product Message to Admin" href="#" data-toggle="modal" id='notifyModalForPicklist'><img class="ico-message" src="~/images/ico-message.png"></a></p>
            <p>Notify Admin for unavailable Product</p>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/GoodsIn/PickList/PickList.js")