﻿@model PunjabKitchen.Models.CookingPlan


<form method="post" action="#" class="messageform" id="cookingPlanForm">
    <fieldset>
        <div class="row">
            <div class="twofifth">
                <label>Cook date</label>
                <div class="datepicker required">
                    <input type="text" class="cursor" id="cookPlanDatePicker" required="required" />
                    @Html.HiddenFor(x => x.tCookDate, new { id = "tCookDate" })
                </div>
            </div>
            <div class="twofifth">
                <label class="required">Cookpot</label>
                <div class="styled-select slate">
                    @Html.DropDownListFor(m => m.iCookPotNo, (SelectList)ViewBag.CookingKitchens, new { @class = "cursor", @style = "-webkit-appearance: none;", @required = "required", @id = "tCookPot" })
                </div>
            </div>
            <div class="onefifth">
                <label>&nbsp;</label>
                <div class="btn-holder">
                    <a class="cursor btn-default active" id="createCookingProdBtn">Product</a>
                    <a class="cursor btn-default" id="createCookingTaskBtn" onclick="cookingTaskButtonAction()">Task</a>
                </div>
            </div>
        </div>
        <div class="product-view">
            <div class="row">
                <div class="onefifth cookingProdItems">
                    <label class="required">Product code</label>
                    @Html.TextBoxFor(x => x.tRecipe.vRecipeCode, new {id = "ProductCode", autocomplete = "off", maxlength="50"})
                    @Html.ValidationMessageFor(m => m.tRecipe.vRecipeCode, "", new {@class="text-danger"})
                </div>
                <div class="onefifth cookingProdItems">
                    <label>Product description</label>
                    @Html.TextBoxFor(x => x.tRecipe.vResipeDescription, new {id = "ProductDescription", @disabled = "disabled"})
                </div>
                <div class="onefifth cookingProdItems">
                    <label class="required" style="float: left">Qty. Required</label> <span id="AllowedQty" class="information-box-label hide"></span>
                    @Html.TextBoxFor(x => x.iQuantity, new { type = "number", max = 999999, min = 1, id = "iQuantity" })
                    @Html.ValidationMessageFor(m => m.iQuantity, "", new { @class = "text-danger" })
                </div>
                <div class="onefifth cookingProdItems">
                    <label>Estimated meals</label>
                    @Html.TextBoxFor(x => x.iEstMeals, new { type = "number", max = 999999, min = 1, id = "iEstMeals" })
                    @Html.ValidationMessageFor(m => m.iEstMeals, "", new { @class = "text-danger" })
                </div>
                <div class="onefifth cookingProdItems">
                    <label>Batch No.</label>
                    <input type="text" id="iBatchNo"/>
                    @Html.HiddenFor(x => x.vBatchNo, new { max = 99999999, id = "vBatchNo"})
                    @Html.ValidationMessageFor(m => m.vBatchNo)
                </div>
            </div>
            <div class="row">
                <div class="onefifth ">
                    <label class="required">Start time</label>
                    @Html.HiddenFor(x => x.tPlannedStartTime, new { id = "tPlannedStartTime" })
                    <input type="text" id="tPlannedStartTimePicker" class="cursor" required="required" />
                </div>
                <div class="onefifth ">
                    <label class="required">Duration</label>
                    @Html.HiddenFor(x => x.tPlannedCooktime, new { id = "tPlannedCooktime" })
                    <input type="text" id="tPlannedCooktimePicker" disabled="disabled" required="required" />
                </div>
                <div class="onefifth ">
                    <label class="required">Finish time</label>
                    @Html.HiddenFor(x => x.tActualFinishTime, new { id = "tActualFinishTime" })
                    <input type="text" class="cursor" id="tActualFinishTimePicker" />
                </div>
                @if (Model.iCookingPlanId != 0)
                {
                    var actualStartTime = Model.tActualStartTime != null ? Model.tActualStartTime.Value.TimeOfDay : Model.tPlannedStartTime.Value.TimeOfDay;
                    var actualFinishedTime = Model.tActualFinishedTime != null ? Model.tActualFinishedTime.Value.TimeOfDay : Model.tActualFinishTime.Value.TimeOfDay;

                    <div class="onefifth">
                        <label>Actual Start time</label>
                        @Html.HiddenFor(x => x.tActualStartTime, new { id = "tActualStartTime" })
                        <input type="text" id="tActualStartTimePicker" class="cursor" value=@actualStartTime />
                    </div>
                    <div class="onefifth">
                        <label>Actual Finish Time</label>
                        @Html.HiddenFor(x => x.tActualFinishedTime, new {id = "tActualFinishedTime"})
                        <input type="text" id="tActualFinishedTimePicker" class="cursor" value=@actualFinishedTime/>
                    </div>
                    if (!Model.bIsTask.Value)
                    {
                        <div class="onefifth">
                            <label style="float: left">Qty. Completed</label>
                            @Html.TextBoxFor(x => x.iQuantityCompleted, new { required = "required", type = "number", max = 999999, min = 1, id = "iQuantityCompleted" })
                            @Html.ValidationMessageFor(m => m.iQuantityCompleted)
                        </div>
                    }
                }
            </div>
            <div class="row">
                <div class="fivefifth cookingTaskItems">
                    <label>Task description</label>
                    @Html.TextAreaFor(x => x.vTaskDescription, new { maxlength = "250", id= "vTaskDescription" })
                    @Html.ValidationMessageFor(m => m.vTaskDescription)
                </div>
            </div>
        </div>
        @Html.HiddenFor(x => x.iProductId, new { id = "productId" })
        @Html.HiddenFor(x => x.iRecipeId, new { id = "recipeId" })
        @Html.HiddenFor(x => x.tProduct)
        @Html.HiddenFor(x => x.tRecipe)
        @Html.HiddenFor(x => x.bIsCancelled, new { id = "isCancelled" })
        @Html.HiddenFor(x => x.iCookingPlanId, new { id = "cookingPlanId" })
        @Html.HiddenFor(x => x.bIsTask, new { id = "isTask" })
        @Html.HiddenFor(x => x.iCookPotNo, new { id = "iCookPotNo" })
        @Html.HiddenFor(x => x.bFinishedPlan, new { id = "bFinishedPlan" })
    </fieldset>
</form>
<div class="button-holder addlocation-box">
    <button type="button" id="nextButton" href="#" class="btn-default pull-right btn-next" onclick="nextCookingPlanForm()">Next</button>
    <a href="#" class="btn btn-default" onclick="submitCookingPlan()">Submit</a>
    <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
    @if (Model != null && Model.iCookingPlanId > 0)
    {
        @Html.ActionLink("Print", MVC.CookingPlan.PrintRecord(Model.iCookingPlanId), new { target = "_blank", @class = "printLink" })
    }
</div>

@Scripts.Render("~/Scripts/Cooking/CreateCookingPlan.js")