﻿@using PagedList.Mvc;
@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PunjabKitchen.Models

@model PagedList.IPagedList<PunjabKitchen.Models.CookingPlan>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = string.Empty;
}

<div id="dialog-confirm"></div>

<div class="content-holder">
    <div class="bd-example">
        <h2>Cooking plans</h2>
        <div class="btn-addlocation">
            @if (User.IsInAnyRole(PKRoles.Administrator))
            {
                <a class="cursor btn-default" id="createPlanBtn">Create New</a>
            }
            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager))
            {
                cursorClass = "cursor";
            }
            <ul class="cookpot">

                @for (var i = 0; i < ViewBag.CookingKitchensList.Count; i++)
                {
                    var cookingkitchen = ViewBag.CookingKitchensList[i];
                    <li>@Html.ActionLink((string)cookingkitchen.Text, MVC.CookingPlan.Index().AddRouteValues(new { cookpotId = cookingkitchen.Value }), htmlAttributes: new { @class = "btn-default ", @id = "cp"+(cookingkitchen.Value) })</li>
                }

                <input type="hidden" value="@ViewBag.hdnCookpotId" id="hdnCookPotId" />
            </ul>
        </div>
        <div class="table-responsive">
            <table class="cursor table notification-table">
                <thead>
                    <tr>
                        <th>DATE</th>
                        @*<th>COOKPOT</th>*@
                        <th>PRODUCT</th>
                        <th>TASK DESCRIPTION</th>
                        <th>QTY. REQUIRED</th>
                        <th>QTY. COMPLETED</th>
                        <th>EST' MEALS</th>
                        <th>BATCH NO.</th>
                        <th>START</th>
                        <th>DURATION</th>
                        <th>FINISH</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        var prodName = item.bIsTask != null && (bool)@item.bIsTask ? "Task" : item.tRecipe.vRecipeName;
                        var tPlannedStartTime = item.tPlannedStartTime == null ? "" : item.tPlannedStartTime.Value.ToString("HH:mm");
                        var tPlannedCooktime = item.tPlannedCooktime == null ? "" : item.tPlannedCooktime.Value.ToString("HH:mm");
                        var tActualFinishTime = item.tActualFinishTime == null ? "" : item.tActualFinishTime.Value.ToString("HH:mm");
                        var rowClass = (item.tActualFinishedTime == null && item.tActualStartTime == null) ? "" : "green";

                        <tr class="@rowClass @cursorClass">
                            <td onclick="if (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager)) { editCookingPlan(@item.iCookingPlanId)}">@item.tCookDate.Value.ToString("dd/MM/yyyy")</td>
                            @*<td onclick="if (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager)) { editCookingPlan(@item.iCookingPlanId)}">@item.iCookPotNo</td>*@
                            <td onclick="if (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager)) { editCookingPlan(@item.iCookingPlanId)}">@prodName</td>
                            <td onclick="if (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager)) { editCookingPlan(@item.iCookingPlanId)}">@item.vTaskDescription</td>
                            <td onclick="if (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager)) { editCookingPlan(@item.iCookingPlanId)}">@item.iQuantity</td>
                            <td onclick="if (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager)) { editCookingPlan(@item.iCookingPlanId)}">@item.iQuantityCompleted</td>
                            <td onclick="if (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager)) { editCookingPlan(@item.iCookingPlanId)}">@item.iEstMeals</td>
                            <td onclick="if (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager)) { editCookingPlan(@item.iCookingPlanId)}">@item.vBatchNo</td>
                            <td onclick="if (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager)) { editCookingPlan(@item.iCookingPlanId)}">@tPlannedStartTime</td>
                            <td onclick="if (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager)) { editCookingPlan(@item.iCookingPlanId)}">@tPlannedCooktime</td>
                            <td onclick="if (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager)) { editCookingPlan(@item.iCookingPlanId)}">@tActualFinishTime</td>
                            <td>
                                <table>
                                    <tr>
                                        <td><span class="ico-del cursor" onclick="ConfirmDeletion('@item.iCookingPlanId')"><img src="~/images/ico-del.png" class="ico-action" alt="Delete"></span></td>
                                        <td>@Html.ActionLink(" ", MVC.CookingPlan.PrintRecord(item.iCookingPlanId), new { target = "_blank", @class = "printButton" })</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.CookingPlan.Index().AddRouteValues(new { cookpotId = @ViewBag.hdnCookpotId, page })))</span>
        </div>
    </div>
</div>

<div id="cookingPlanModal" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog create-cooking-plan" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title" id="myModalLabel">Create Cooking Plan</h5>
            </div>
            <div class="modal-body">
                <div id="cookingPlanBody">
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Cooking/CookingPlan.js")

