﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.FMDetectionAndPackWeightTest>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}
<div class="content-holder">
    <div class="bd-example">
        <h2>Ferrous Detection Test and Pack Weight Check Records</h2>
        <div class="btn-addlocation">
            @Html.Hidden("canCreatePlan", "")
            <a href="#" id="ferrousDetectionAndPackRecordModal">
                <input value="Create New" class="btn-default" type="button" />
            </a>
        </div>
        <div class="table-responsive">
            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager))
            {
                cursorClass = "cursor";
            }
            <table class="table notification-table">
                <thead>
                    <tr>
                        <th>DATE</th>
                        <th>LOCATION</th>
                        <th>PRODUCT</th>
                        <th>PRODUCT WEIGHT</th>
                        <th>FERROUS 2.8 mm</th>
                        <th>BELT STOP WORKING</th>
                        <th>AVERAGE PACK WEIGHT (G)</th>
                        <th>MINIMUM PACK WEIGHT (G)</th>
                        <th>NOMINAL (LABEL) PACK WEIGHT (G)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @* ReSharper disable once InconsistentNaming *@
                    @foreach (var item in Model)
                    {
                        var createdDate = Convert.ToDateTime(item.Sys_CreatedDateTime).ToString("dd/MM/yyyy hh:mm:ss tt");
                        var recipeName = item.tCookingPlan.tRecipe.vRecipeName ?? string.Empty;
                        var ferrous2_8mmPass = item.bFerrous2_8mmPass == true ? "Pass" : "Fail";
                        var beltStopWorking = item.bBeltStopWorking == true ? "Pass" : "Fail";

                        var editable = (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager)) ? "editable" : "";

                        <tr class="@cursorClass @cursorClass @editable" data-id="@item.iDetectionPackWeightTestId">
                            <td>@createdDate</td>
                            <td>@item.vLocation</td>
                            <td>@recipeName</td>
                            <td>@item.iProductWeight</td>
                            <td>@ferrous2_8mmPass</td>
                            <td>@beltStopWorking</td>
                            <td>@item.iAveragePackWeight</td>
                            <td>@item.iMinimumpackWeight</td>
                            <td>@item.iNominalPackWeight</td>
                            <td><a href="@Url.Action(MVC.FerrousDetectionAndPackWeight.PrintRecord(item.iDetectionPackWeightTestId))" target="_blank" class="printButton"><img src="~/images/ico-print-record.png" class="ico-action" alt="Print"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.FerrousDetectionAndPackWeight.FerrousDetectionAndPackWeightRecords().AddRouteValues(new { page })))</span>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/Records/Packing/FerrousDetectionAndPackWeightRecord/FerrousDetectionAndPackWeightRecord.js")
