﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@model PunjabKitchen.Models.PackingProductionPlan

<form id="PackingPlanForm" method="post" action="#" class="messageform">

    @if (User.IsInAnyRole(PKRoles.PackingStaff))
    {
    }

    @Html.HiddenFor(m => m.iPackingProductionPlanId)

    <fieldset>
        <div class="row">
            <div class="twofifth">
                <label class="required">Plan date</label>


                <div class="datepicker required">
                    <input type="text" class="cursor" id="dPackingPlanPicker" required="required" />
                    @Html.HiddenFor(x => x.dPackingPlan, new { id = "dPackingPlan" })
                </div>

            </div>
            <div class="twofifth">
                <label class="required">Lines</label>
                <div class="styled-select slate">

                    <div class="styled-select slate">
                        @Html.DropDownListFor(m => m.iLineNo, (SelectList)ViewBag.PackingLines, new { @class = "cursor", @style = "-webkit-appearance: none;", @required = "required", @id = "iLineNo" })
                    </div>
                </div>
            </div>
            <div class="onefifth">
                <label>&nbsp;</label>
                <div class="btn-holder">
                    <a class="cursor btn-default active" id="createPackingProdBtn">Product</a>
                    <a class="cursor btn-default" id="createPackingTaskBtn" onclick="packingTaskButtonAction()">Task</a>
                </div>
            </div>
        </div>
        <div class="product-view">
            <div class="row">
                <div class="onefifth packingProdItems">
                    <label class="required">Batch code</label>
                    @Html.TextBoxFor(m => m.tCookingPlan.tRecipe.vRecipeCode, new { id = "ProductCode", @required = "required", maxlength = "50", autoComplete = "off" })
                    @Html.ValidationMessageFor(m => m.tCookingPlan.tRecipe.vRecipeCode, "", new { @class = "text-danger" })
                </div>
                <div class="twofifth packingProdItems">
                    <label class="required">Product</label>
                    @Html.TextBoxFor(m => m.tCookingPlan.tRecipe.vRecipeName, new { id = "ProductDescription", @disabled = "disabled" })
                </div>
                <div class="onefifth packingProdItems">
                    <label class="required">Weight</label>
                    @Html.TextBoxFor(m => m.iWeight, new { type = "number", @required = "required", max = 999999, min = 0, id = "iWeight" })
                    @Html.ValidationMessageFor(m => m.iWeight, "", new { @class = "text-danger" })
                </div>
                <div class="onefifth packingProdItems">
                    <label class="required">Qty Required</label>
                    @Html.TextBoxFor(m => m.iQuantityRequired, new { type = "number", max = 999999, min = 1, id = "iQuantity" })
                    @Html.ValidationMessageFor(m => m.iQuantityRequired, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">

                <input type="text" id="vBatchNo" disabled="disabled" maxlength="50" autocomplete="off" />
                @Html.HiddenFor(m => m.vBatchNo, new { maxlength = 99999999, id = "iBatchNo" })
                @*</div>*@

                <div class="onefifth packingProdItems">
                    <label class="required">Run time</label>
                    @Html.HiddenFor(m => m.tRunTime, new { @required = "required", id = "tRunTime" })
                    <input class="cursor" type="text" id="tRunTimePicker" />
                    @Html.ValidationMessageFor(m => m.tRunTime, "", new { @class = "text-danger", })
                </div>

                <div class="onefifth ">
                    <label class="required">Planned Start</label>
                    @Html.HiddenFor(m => m.tPlannedStart, new { @required = "required", id = "tPlannedStart" })
                    <input class="cursor" type="text" id="tPlannedStartPicker" />
                    @Html.ValidationMessageFor(m => m.tPlannedStart, "", new { @class = "text-danger", })
                </div>
                <div class="onefifth ">
                    <label>Duration</label>
                    @Html.HiddenFor(m => m.tActualRunTime, new { @required = "required", id = "tActualRunTime" })
                    <input class="cursor" disabled="disabled" type="text" id="tActualRunTimePicker" />
                    @Html.ValidationMessageFor(m => m.tActualRunTime, "", new { @class = "text-danger", })
                </div>
                <div class="onefifth ">
                    <label class="required">Planned Finish</label>
                    @Html.HiddenFor(m => m.tPlannedFinish, new { @required = "required", id = "tPlannedFinish" })
                    <input class="cursor" type="text" id="tPlannedFinishPicker" />
                    @Html.ValidationMessageFor(m => m.tPlannedFinish, "", new { @class = "text-danger" })
                </div>
                <div class="onefifth packingProdItems">
                    <label class="required">Packs per min.</label>
                    @Html.TextBoxFor(m => m.iPacksPerMin, new { id = "iPacksPerMin", type = "number", @required = "required", max = 999999, min = 0 })
                    @Html.ValidationMessageFor(m => m.iPacksPerMin, "", new { @class = "text-danger" })
                </div>
            </div>
            @if ((Model.iPackingProductionPlanId != 0))
            {
                <div class="row">
                    <div class="col-xs-2 packingProdItems">
                        <label>Qty. Completed</label>
                        @Html.TextBoxFor(m => m.iQuantityCompleted, new { id = "iQuantityCompleted", type = "number", @required = "required", max = 999999, min = 0 })
                        @Html.ValidationMessageFor(m => m.iQuantityCompleted, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-2 packingProdItems">
                        <label>Packers</label>
                        @Html.TextBoxFor(m => m.iPackers, new { id = "iPackers", type = "number", @required = "required", max = 999999, min = 0 })
                        @Html.ValidationMessageFor(m => m.tPlannedFinish, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-2 packingProdItems">
                        <label>Actual Start</label>
                        @Html.HiddenFor(m => m.tActualStart, new { @required = "required", id = "tActualStart" })
                        <input class="cursor" type="text" id="tActualStartPicker" />
                        @Html.ValidationMessageFor(m => m.tActualStart, "", new { @class = "text-danger", })
                    </div>
                    <div class="col-xs-2 packingProdItems">
                        <label>Break Start</label>
                        @Html.HiddenFor(m => m.tBreakStart, new { @required = "required", id = "tBreakStart" })
                        <input class="cursor" type="text" id="tBreakStartPicker" />
                        @Html.ValidationMessageFor(m => m.tBreakStart, "", new { @class = "text-danger", })
                    </div>
                    <div class="col-xs-2 packingProdItems">
                        <label>Break Finished</label>
                        @Html.HiddenFor(m => m.tBreakFinish, new { @required = "required", id = "tBreakFinish" })
                        <input class="cursor" type="text" id="tBreakFinishPicker" />
                        @Html.ValidationMessageFor(m => m.tBreakFinish, "", new { @class = "text-danger", })
                    </div>
                    <div class="col-xs-2 packingProdItems">
                        <label>Actual Finished</label>
                        @Html.HiddenFor(m => m.tActualFinish, new { @required = "required", id = "tActualFinish" })
                        <input class="cursor" type="text" id="tActualFinishPicker" />
                        @Html.ValidationMessageFor(m => m.tActualFinish, "", new { @class = "text-danger", })
                    </div>
                </div>
            }
            <div class="row">
                <div class="fivefifth packingTaskItems">
                    <label>Task description</label>
                    @Html.TextAreaFor(x => x.vTaskDescription, new { maxlength = "500" })
                    @Html.ValidationMessageFor(m => m.vTaskDescription)
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.iPackingProductionPlanId, new { id = "PackingProductionPlanId" })
        @Html.HiddenFor(x => x.iCookingPlanId, new { id = "iCookingPlanId" })
        @Html.HiddenFor(x => x.bIsTask, new { id = "isTask" })
        @Html.HiddenFor(x => x.tActualRunTime, new { id = "tActualRunTime" })
        @Html.HiddenFor(x => x.iLineNo, new { id = "iLineNoId" })
        @Html.HiddenFor(x => x.vCookingBatchNo, new { id = "vCookingBatchNo" })
        @Html.HiddenFor(x => x.bFinishedPlan, new { id = "bFinishedPlan" })

    </fieldset>
</form>

<div class="button-holder addlocation-box">
    <button type="button" id="nextButton" href="#" class="btn-default pull-right btn-next" onclick="nextPackingPlanForm()">Next</button>
    <a href="#" value="Submit" class="btn btn-default" onclick="submitPackingPlan()">Submit</a>
    <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
    @if (Model != null && Model.iPackingProductionPlanId > 0)
    {
        @Html.ActionLink("Print", MVC.PackingPlan.PrintRecord(Model.iPackingProductionPlanId), new { target = "_blank", @class = "printLink" })
    }
</div>


@Scripts.Render("~/Scripts/Packing/PackingPlan.js")

<script type="text/javascript">

    $("#iWeight").keypress(function (evt) {
        var self = $(this);
        self.val(self.val().replace(/[^\d].+/, ""));
        if ((evt.which < 48 || evt.which > 57) && (evt.which !== 8) && (evt.keyCode !== 46) && (evt.keyCode !== 37) && (evt.keyCode !== 39)) {
            evt.preventDefault();
        }
    });
    $("#iQuantity").keypress(function (evt) {
        var self = $(this);
        self.val(self.val().replace(/[^\d].+/, ""));
        if ((evt.which < 48 || evt.which > 57) && (evt.which !== 8) && (evt.keyCode !== 46) && (evt.keyCode !== 37) && (evt.keyCode !== 39)) {
            evt.preventDefault();
        }
    });
    $("#iPacksPerMin").keypress(function (evt) {
        var self = $(this);
        self.val(self.val().replace(/[^\d].+/, ""));
        if ((evt.which < 48 || evt.which > 57) && (evt.which !== 8) && (evt.keyCode !== 46) && (evt.keyCode !== 37) && (evt.keyCode !== 39)) {
            evt.preventDefault();
        }
    });
    $("#iQuantityCompleted").keypress(function (evt) {
        var self = $(this);
        self.val(self.val().replace(/[^\d].+/, ""));
        if ((evt.which < 48 || evt.which > 57) && (evt.which !== 8) && (evt.keyCode !== 46) && (evt.keyCode !== 37) && (evt.keyCode !== 39)) {
            evt.preventDefault();
        }
    });
    $("#iPackers").keypress(function (evt) {
        var self = $(this);
        self.val(self.val().replace(/[^\d].+/, ""));
        if ((evt.which < 48 || evt.which > 57) && (evt.which !== 8) && (evt.keyCode !== 46) && (evt.keyCode !== 37) && (evt.keyCode !== 39)) {
            evt.preventDefault();
        }
    });
</script>