﻿@using System.Web.UI.HtmlControls
@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@using PunjabKitchen.Models
@model PagedList.IPagedList<PunjabKitchen.Models.PackingProductionPlan>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}

<div class="content-holder">
    <div class="bd-example">
        <h2>Packing Plans</h2>
        <div class="btn-addlocation">

            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager))
            {
                @Html.Hidden("canCreatePlan", "")
                <a href="#" class="btn-default" data-toggle="modal" id="CreatePackingPackingPlan">Create New</a>
                cursorClass = "cursor";
            }


            <ul class="cookpot">

                @for (var i = 0; i < ViewBag.PackingLinesList.Count; i++)
                {
                    var packingLines = ViewBag.PackingLinesList[i];
                    <li>@Html.ActionLink((string)packingLines.Text, MVC.PackingPlan.Index().AddRouteValues(new { lineId = packingLines.Value }), htmlAttributes: new { @class = "btn-default ", @id = "line" + (packingLines.Value) })</li>
                }

                <input type="hidden" value="@ViewBag.hdnLineId" id="hdnLineId" />
            </ul>
        </div>
        <div class="table-responsive">
            <table class="table notification-table">
                <thead>

                    <tr>
                        <th>DATE</th>
                        <th>BATCH NO.</th>
                        <th>LINE</th>
                        <th>PRODUCT</th>
                        <th>TASK DESCRIPTION</th>
                        <th>WEIGHT</th>
                        <th>QUANTITY</th>
                        <th>PLANNED START</th>
                        <th>DURATION</th>
                        <th>PLANNED FINISH</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        var prodName = @item.bIsTask != null && (bool)@item.bIsTask ? "Task" : (item.tCookingPlan != null && item.tCookingPlan.tRecipe != null) ? item.tCookingPlan.tRecipe.vRecipeName : "";

                        var tActualRunTime = @item.tActualRunTime == null ? "" : @item.tActualRunTime.Value.ToString("HH:mm");
                        var tPlannedFinish = @item.tPlannedFinish == null ? "" : @item.tPlannedFinish.Value.ToString("HH:mm");
                        var tPlannedStart = @item.tPlannedStart == null ? "" : @item.tPlannedStart.Value.ToString("HH:mm");
                        var packingPlanDate = Convert.ToDateTime(item.dPackingPlan).ToString("dd/MM/yyyy hh:mm:ss tt");
                        var rowClass = (item.tActualFinish == null && item.tActualFinish == null) ? "" : "green";

                        var canEditClass = @User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager) ? "canEdit" : "";
                        <tr class="@rowClass @cursorClass @canEditClass packingPlanItem" >
                            <input type="hidden" class="packingPlanId" value="@item.iPackingProductionPlanId">
                            <td>@packingPlanDate</td>
                            <td>@item.vCookingBatchNo</td>
                            <td>@item.iLineNo</td>
                            <td>@prodName</td>
                            <td>@item.vTaskDescription</td>
                            <td>@item.iWeight</td> 
                            <td>@item.iQuantityRequired</td>
                            <td>@tPlannedStart</td>
                            <td>@tActualRunTime</td>
                            <td>@tPlannedFinish</td>
                            <td>@Html.ActionLink(" ", MVC.PackingPlan.PrintRecord(item.iPackingProductionPlanId), new { target = "_blank", @class = "printButton" })</td>
                        </tr>
                    }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.PackingPlan.Index().AddRouteValues(new { lineId = @ViewBag.hdnLineId, page })))</span>
        </div>
    </div>
</div>

<div id="packingPlanModal" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog create-cooking-plan" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title" id="myModalLabel">Create Packing Plan</h5>
            </div>
            <div class="modal-body">
                <div id="packingPlanBody">
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Packing/CreatePackingPlan.js")