﻿@model PunjabKitchen.Models.MeatMincingRecord

<form id="meatMincingRecordForm" method="post" action="#" class="messageform">

    @Html.HiddenFor(m => m.iMeatMincingRecordId, new { id = "tMeatMincingRecordID" })

    <fieldset>
        <div class="row">
            <div class="col-xs-2">
                <label>Start Time</label>
                @Html.TextBoxFor(m => m.tStartTime, new { @class = "cursor", @required = "required", @id = "tStartTimePicker", @Value = Model.tStartTime != null ? Model.tStartTime.Value.ToString("HH:mm") : "" })
            </div>
            <div class="col-xs-2">
                <label>Batch No.</label>
                @Html.TextBoxFor(m => m.vBatchNo, new { id = "BatchNo", @required = "required", @maxlength = 6, autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.vBatchNo, "", new { @class = "text-danger" })
                @Html.HiddenFor(m => m.iCookingPlanId, new { id = "CookingPlanId" })
            </div>
            <div class="col-xs-5">
                <label>Best Before</label>
                <div class="datepicker">
                    @Html.HiddenFor(x => x.dBestBefore, new { id = "tBestBeforeDate" })
                    <input type="text" id="bestBeforeDatePicker" required="required" class="cursor" />
                    @Html.ValidationMessageFor(m => m.dBestBefore, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-xs-3 cleanlinesscheck">
                <label>Pre Use Cleanliness Check</label>
                <label class="switch onoffswitch">
                     @Html.HiddenFor(x => x.vPreUseCleanlinessCheckSign, new { id = "tPreUseCleanlinessCheckSign" })
                    <input type="checkbox" id="preCheck">
                    <div class="slider round"></div>                  
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <label>Finish Time</label>
                @Html.TextBoxFor(m => m.tFinishTime, new { @class = "cursor", @required = "required", @id = "tFinishTimePicker", @Value = Model.tFinishTime != null ? Model.tFinishTime.Value.ToString("HH:mm") : "" })
            </div>
            <div class="col-xs-5">
                <label>Meat</label>
                @Html.TextBoxFor(m => m.vMeat, new { @required = "required", @maxlength = "50" })
                @Html.ValidationMessageFor(m => m.vMeat, "", new { @class = "text-danger" })
            </div>
            <div class="col-xs-5">
                <label>Purpose</label>
                @Html.TextBoxFor(m => m.vPurpose, new { @maxlength = "50" })
                @Html.ValidationMessageFor(m => m.vPurpose, "", new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>
    <div class="button-holder addlocation-box">
        <a href="#" value="Submit" class="btn btn-default" onclick="submitMeatMincingRecForm()" >Submit</a>
        <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
        @if (Model != null && Model.iMeatMincingRecordId > 0)
        {
            @Html.ActionLink("Print", MVC.MeatMincingRecord.PrintRecord(Model.iMeatMincingRecordId), new { target = "_blank", @class = "printLink" })
        }
    </div>
</form>

@Scripts.Render("~/Scripts/Records/Cooking/MeatMincing/CreateMeatMincingRecord.js")