﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.MeatMincingRecord>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}
<div class="content-holder">
    <div class="bd-example">
        <h2>Meat Mincing Records</h2>
        <div class="btn-addlocation">
            @Html.Hidden("canCreatePlan", "")
            <a href="#" id="MeatMincingRecordModal">
                <input value="Create New" class="btn-default" type="button" />
            </a>
        </div>
        <div class="table-responsive">
            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager))
            {
                cursorClass = "cursor";
            }
            <table class="table notification-table">
                <thead>
                    <tr>
                        <th>DATE</th>
                        <th>START TIME</th>
                        <th>FINISH TIME</th>
                        <th>BATCH NO.</th>
                        <th>BEST BEFORE</th>
                        <th>PRE USE CLEANLINESS CHECK</th>
                        <th>MEAT</th>
                        <th>PURPOSE</th>
                        <th>PERFORMED BY</th>
                        <th>MODIFIED BY</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var createdDate = Convert.ToDateTime(item.Sys_CreatedDateTime).ToString("dd/MM/yyyy");
                        var bestBeforeDate = string.Format("{0:dd/MM/yyyy}", item.dBestBefore != null ? item.dBestBefore : null);
                        var startTime = @item.tStartTime == null ? "" : @item.tStartTime.Value.ToString("HH:mm");
                        var finishTime = @item.tFinishTime == null ? "" : @item.tFinishTime.Value.ToString("HH:mm");
                        var performedBy = item.Sys_CreatedBy != null ? item.AspNetUser.FirstName + " " + item.AspNetUser.LastName : string.Empty;
                        var modifiedBy = item.Sys_ModifyBy != null ? item.AspNetUser1.FirstName + " " + item.AspNetUser1.LastName : string.Empty;

                        var editable = (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager)) ? "editable" : "";

                        <tr class="@cursorClass @editable" data-id="@item.iMeatMincingRecordId">
                            <td>@createdDate</td>
                            <td>@startTime</td>
                            <td>@finishTime</td>
                            <td>@item.tCookingPlan.vBatchNo</td>
                            <td>@bestBeforeDate</td>
                            <td>@item.vPreUseCleanlinessCheckSign</td>
                            <td>@item.vMeat</td>
                            <td class="purpose">@item.vPurpose</td>
                            <td>@performedBy</td>
                            <td>@modifiedBy</td>
                            <td><a href="@Url.Action(MVC.MeatMincingRecord.PrintRecord(item.iMeatMincingRecordId))" target="_blank" class="printButton"><img src="~/images/ico-print-record.png" class="ico-action" alt="Print"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.MeatMincingRecord.Index().AddRouteValues(new { page })))</span>
        </div>
    </div>
</div>
<div class="modal fade" id="newMeatMincingRecord" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog large-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span> </button>
                <h5 class="modal-title">Meat Mincing Record</h5>
            </div>
            <div class="modal-body">
                <div class="information-box">
                    <p>* Mincer shall be thoroughly cleaned between each meat species and at end of day using method on Cleaning Card No 10.</p>
                </div>
                <div id="newMeatMincingRec">
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/Records/Cooking/MeatMincing/MeatMincingRecord.js")