﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Models.RequestModels
@using PunjabKitchen.Properties
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Punjab Kitchen</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @{Html.RenderPartial("_URLPath");}
    @Scripts.Render("~/bundles/pk")
    <link href="~/Content/jQueryUI.css" rel="stylesheet" />
    <script src="~/Scripts/jQueryUI.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <link rel="icon" href="~/Images/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/animate.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>
</head>
<body>
    @if (Request.IsAuthenticated)
    {

    <div id="wrapper">
        <div class="w1">
            <div class="left-pannel">
                <div class="use-box">
                    <img class="img-circle" src="@Url.Action(MVC.Home.UserPhotos())" />
                    <div class="user-name">
                        @Html.Partial(MVC.Shared.Views._LoginPartial)
                    </div>
                </div>
                <aside class="sidebar">
                    <ul id="leftPnl" class="sidelist">
                        <li><a href="@Url.Action(MVC.Home.Index())"><img src="~/images/ico-home.png"> <span class="item-name">home</span></a></li>

                        @*<li class="hasdrop">
                            <a href="#" class="uncollapsed" data-toggle="collapse" data-target="#dropAttendance" aria-expanded="false" aria-controls="collapseExample"><img src="~/images/ico-breaktime.png"> <span class="item-name">break timesheet</span></a>
                            <div class="collapse-holder">
                                <ul class="collapse" id="dropAttendance">
                                    <li><a href="@Url.Action(MVC.Attendance.Index())">Employee Break Timesheet</a></li>
                                    @if (User.IsInAnyRole(PKRoles.Administrator))
                                    {
                                        <li><a href="@Url.Action(MVC.Attendance.StaffAttendance())">Staff Break History</a></li>
                                    }
                                </ul>
                            </div>
                        </li>*@

                        @if (User.IsInAnyRole(PKRoles.Administrator))
                        {
                        <li class="hasdrop">
                            <a href="#" class="uncollapsed" data-toggle="collapse" data-target="#drop01" aria-expanded="false" aria-controls="collapseExample"><img src="~/images/ico-plan.png"> <span class="item-name">planning</span></a>
                            <div class="collapse-holder">
                                <ul class="collapse" id="drop01">
                                    <li><a href="@Url.Action(MVC.Planning.StockAndStorage())">Stock and Storage</a></li>
                                    <li><a href="@Url.Action(MVC.CookingPlan.Index(1))">Cooking</a></li>
                                    <li><a href="@Url.Action(MVC.PackingPlan.Index(1))">Packing</a></li>
                                    <li><a href="@Url.Action(MVC.GoodsOutPlan.Index())">Goods Out</a></li>
                                </ul>
                            </div>
                        </li>
                        }
                        @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.GoodsInStaff, PKRoles.GoodsInManager))
                        {
                        <li class="hasdrop">
                            <a class="uncollapsed" href="#" data-toggle="collapse" data-target="#drop02" aria-expanded="false" aria-controls="collapseExample"><img src="~/images/ico-goodsin.png"><span class="item-name">goods in</span></a>
                            <div class="collapse-holder">
                                <ul class="collapse" id="drop02">
                                    <li><a href="@Url.Action(MVC.GoodsIn.Deliveries())">Deliveries</a></li>
                                    <li><a href="#" onclick="showPickListDialog()">Picklist</a></li>
                                </ul>
                            </div>
                        </li>
                        }

                        @if (User.IsInAnyRole(PKRoles.CookingStaff, PKRoles.CookingManager))
                        {
                        <li><a href="@Url.Action(MVC.CookingPlan.Index(1))"><img src="~/images/ico-cocking.png"><span class="item-name">cooking</span></a></li>
                        }
                        @if (User.IsInAnyRole(PKRoles.PackingStaff, PKRoles.PackingManager))
                        {
                        <li><a href="@Url.Action(MVC.PackingPlan.Index(1))"><img src="~/images/ico-packing.png"><span class="item-name">packing</span></a></li>
                        }
                        @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.BoxingStaff, PKRoles.BoxingManager))
                        {
                        <li class="hasdrop">
                            <a class="uncollapsed" href="#" data-toggle="collapse" data-target="#drop-boxing" aria-expanded="false" aria-controls="collapseExample"><img src="~/images/ico-boxing.png"><span class="item-name">boxing</span></a>
                            <div class="collapse-holder">
                                <ul class="collapse" id="drop-boxing">

                                    <li><a href="@Url.Action(MVC.BoxingRecord.Index())">Boxing Record</a></li>
                                    <li><a href="@Url.Action(MVC.BoxingRecord.MixedCaseBoxingRecordList())">Mixed Case Boxing</a></li>
                                </ul>
                            </div>
                        </li>
                        }
                        @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.GoodsOutStaff, PKRoles.GoodsOutManager))
                        {
                        <li class="hasdrop">
                            <a class="uncollapsed" href="#" data-toggle="collapse" data-target="#drop-goodsOut" aria-expanded="false" aria-controls="collapseExample"><img src="~/images/ico-goodsout.png"><span class="item-name">goods out</span></a>
                            <div class="collapse-holder">
                                <ul class="collapse" id="drop-goodsOut">

                                    <li><a href="@Url.Action(MVC.GoodsOutPicklist.Index())">PickList</a></li>
                                </ul>
                            </div>
                        </li>
                        }
                        @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingStaff, PKRoles.CookingManager, PKRoles.GoodsOutStaff, PKRoles.GoodsOutManager))
                        {
                            <li class="hasdrop">
                                <a href="#" data-toggle="collapse" class="uncollapsed" data-target="#drop14" aria-expanded="false" aria-controls="collapseExample"><img src="~/images/ico-checks.png"><span class="item-name">Daily/Weekly Checks</span></a>
                                <div class="collapse-holder">
                                    <ul class="collapse" id="drop14">
                                        @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager, PKRoles.CookingStaff))
                                        {
                                            <li class="hasdrop">
                                                <a href="#" data-toggle="collapse" class="uncollapsed" data-target="#drop15" aria-expanded="false" aria-controls="collapseExample">Cooking Checks</a>
                                                <div class="collapse-holder">
                                                    <ul class="collapse" id="drop15">
                                                        @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager))
                                                        {
                                                            <li>@Html.ActionLink("Checks History", MVC.Checks.DailyWeeklyChecks())</li>
                                                        }
                                                        <li><a href="#" id="2" onClick="showCheckActionDialog(this.id, 'Menu')">Startup Check</a></li>
                                                        <li><a href="#" id="3" onClick="showCheckActionDialog(this.id, 'Menu')">Daily Cleaning Check</a></li>
                                                        <li><a href="#" id="4" onClick="showCheckActionDialog(this.id, 'Menu')">Canteen Fridge Temp. Check</a></li>
                                                        <li><a href="#" id="5" onClick="canPerformShoesCleaningCheck()">Shoe Cleaning Check</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                        @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.GoodsOutStaff, PKRoles.GoodsOutManager))
                                        {
                                            <li class="hasdrop">
                                                <a href="#" data-toggle="collapse" class="uncollapsed" data-target="#drop16" aria-expanded="false" aria-controls="collapseExample">Goods Out Checks</a>
                                                <div class="collapse-holder">
                                                    <ul class="collapse" id="drop16">
                                                        @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.GoodsOutManager))
                                                        {
                                                            <li>@Html.ActionLink("Checks History", MVC.Checks.GoodsOutDailyChecks())</li>
                                                        }
                                                        <li><a href="#" id="11" onClick="showCheckActionDialog(this.id, 'Menu')">Daily Truck Inspection Check</a></li>
                                                        <li><a href="#" id="12" onClick="showCheckActionDialog(this.id, 'Menu')">Goods Out Freezer Unit Check</a></li>
                                                        <li><a href="#" id="13" onClick="showCheckActionDialog(this.id, 'Menu')">Start Up Checks - EP Goods Out</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>
                        }
                        @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager, PKRoles.CookingStaff, PKRoles.PackingManager, PKRoles.PackingStaff))
                        {
                        <li class="hasdrop">
                            <a href="#" data-toggle="collapse" class="uncollapsed" data-target="#drop05" aria-expanded="false" aria-controls="collapseExample"><img src="~/images/ico-records.png"><span class="item-name">Records</span></a>
                            <div class="collapse-holder">
                                <ul class="collapse" id="drop05">
                                    @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager, PKRoles.CookingStaff))
                                    {
                                    <li class="hasdrop">
                                        <a href="#" data-toggle="collapse" class="uncollapsed" data-target="#drop11" aria-expanded="false" aria-controls="collapseExample">Cooking</a>
                                        <div class="collapse-holder">
                                            <ul class="collapse" id="drop11">
                                                <li>@Html.ActionLink("Slicing", MVC.SlicingRecord.Index())</li>
                                                <li>@Html.ActionLink("Rice Cooling Temperature", MVC.RiceCoolingTempRecord.Index())</li>
                                                <li>@Html.ActionLink("Meat Mincing", MVC.MeatMincingRecord.Index())</li>
                                                <li>@Html.ActionLink("Batch Cooling Temperature", MVC.BatchCoolingTempRecrd.BatchCoolingTempRecords())</li>
                                                <li>@Html.ActionLink("Freezer Temperature", MVC.FreezerRecord.FreezerRecords())</li>
                                            </ul>
                                        </div>
                                    </li>
                                    }
                                    @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager, PKRoles.PackingStaff))
                                    {
                                    <li class="hasdrop">
                                        <a href="#" data-toggle="collapse" class="uncollapsed" data-target="#drop12" aria-expanded="false" aria-controls="collapseExample">Packing</a>
                                        <div class="collapse-holder">
                                            <ul class="collapse" id="drop12">
                                                <li>@Html.ActionLink("Cold Dessert Packing", MVC.ColdDessertPacking.ColdDessertPackingRecords())</li>
                                                <li>@Html.ActionLink("Hot Packing", MVC.HotPackingRecord.HotPackingRecords())</li>
                                                <li>@Html.ActionLink("Shapes Control", MVC.ShapesControlPacking.ShapesControlPackingRecords())</li>
                                                <li>@Html.ActionLink("Batch Change Check Puree", MVC.BatchChangeCheckPuree.BatchChangeCheckPureePackingRecords())</li>
                                                <li>@Html.ActionLink("Metal Detection And Pack Weight", MVC.MetalDetectionAndPackWeight.MetalDetectionAndPackWeightRecords())</li>
                                                <li>@Html.ActionLink("Ferrous Detection And Pack Weight", MVC.FerrousDetectionAndPackWeight.FerrousDetectionAndPackWeightRecords())</li>
                                                <li>@Html.ActionLink("Spot Weight And Metal Check", MVC.SpotWeightAndMetalCheckRecord.SpotWeightAndMetalCheckRecords())</li>
                                                <li>@Html.ActionLink("Portion Weight Checks", MVC.PortionWeightsCheckPacking.PortionWeightCheckPackingRecords())</li>
                                                <li>@Html.ActionLink("Puree Shape Starch", MVC.PureeShapeStarchRecord.PureeShapesStarchRecords())</li>
                                                <li>@Html.ActionLink("Packing Record", MVC.PackingRecord.PackingRecords())</li>
                                                <li>@Html.ActionLink("Packing Room Record", MVC.PackingRecord2.PackingRecords2())</li>
                                                <li>@Html.ActionLink("Vegetarian Packing Record", MVC.VegetarianPackingRecord.VegetarianRecords())</li>
                                                <li>@Html.ActionLink("Puree Meal Batch Assembly", MVC.PureeMealBatchAssembly.PureeMealBatchAssemblyRecords())</li>
                                            </ul>
                                        </div>
                                    </li>
                                    }
                                </ul>
                            </div>
                        </li>
                        }
                        @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager, PKRoles.CookingStaff, PKRoles.PackingManager, PKRoles.PackingStaff))
                        {
                        <li>
                            <a href="@Url.Action(MVC.Report.Index())" data-toggle="collapse" data-target="#drop06" aria-expanded="false" aria-controls="collapseExample"><img src="~/images/ico-report.png"><span class="item-name">Reports</span></a>
                        </li>
                        }
                        <li class="hasdrop">
                            <a class="uncollapsed" href="#" data-toggle="collapse" data-target="#drop04" aria-expanded="false" aria-controls=""><img src="~/images/ico-admin.png"><span class="item-name">administration</span></a>
                            <div class="collapse-holder">
                                <ul class="collapse" id="drop04">
                                    <li>@Html.ActionLink("Change Password", MVC.Manage.ChangePassword())</li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                    <li>@Html.ActionLink("Manage Users", MVC.UsersAdmin.Index())</li>
                                    <li>@Html.ActionLink("Audit Log", MVC.AuditLog.Index())</li>
                                    }
                                </ul>
                            </div>
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()"><img src="~/images/ico-logout.png"><span class="item-name">log out</span></a></li>
                    </ul>
                </aside>
            </div>
            <div class="content-area">
                <div class="top-section">
                    <strong class="logo"><a href="#"><img src="~/images/logo.png" alt="LOGO"></a></strong>
                    <ul class="user">
                        <li><a title="Show/Hide Menu" href="javascript:void(0)" class="btn-sidepannel"><img src="~/images/btn-menu.png"></a></li>
                        <li><a title="Notifications" href=@Url.Action(MVC.Notifications.Index())><img src="~/images/btn-notification.png"><span class="notification" id="notificationCount" style="display:none"></span></a></li>
                        @if (User.IsInAnyRole(PKRoles.Administrator))
                        {
                        <li><a title="New Message" href="#" data-toggle="modal" id='notifyModal'><img src="~/images/ico-message.png"></a></li>
                        }
                    </ul>
                    <audio id="audioNotification">
                        <source src="~/Content/Notification.mp3"  type="audio/mp3" />
                        <source src="~/Content/Notification.mp3" type="audio/mpeg" />
                        <source src="~/Content/Notification.ogg" type="audio/ogg" />
                    </audio>
                </div>
                <div class="content-holder">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    }

    @if (!Request.IsAuthenticated)
    {
    <div id="wrapper">
        <div class="w1">
            <div class="user-header" id="header">
                <strong class="logo"><a href="#"><img src="~/Images/logo.png" alt="LOGO"></a></strong>
            </div>
        </div>
    </div>
    if (Request.Url.ToString().Contains("Login"))
    {
    @Html.Partial("Login")
    }
    else
    {
    <div class="content-holder">
        @RenderBody()
    </div>
    }
    }

    @RenderSection("scripts", required: false)

    <!-- Modal -->
    <div id="newNotificationModal" class="modal fade" role="dialog" data-url="@Url.Action(MVC.Notifications.Create())">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                    </button>
                    <h5 class="modal-title" id="myModalLabel">New Message</h5>
                </div>
                <div class="modal-body">
                    <div id="newNotification">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Check History Modal Start-->
    <div id="historyItemModal" class="modal fade" role="dialog">
        <div class="modal-dialog  create-cooking-plan">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                    </button>
                    <h5 class="modal-title" id="myModalLabel">History Item</h5>
                </div>
                <div class="modal-body">
                    <div id="historyItemModalBody">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Check History Modal End-->
    <!--Stock Pick List Modal Start-->
    <div id="stockPickListModal" class="modal fade" role="dialog">
        <div class="modal-dialog  large-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                    </button>
                    <h5 class="modal-title">Cooking Picklist</h5>
                </div>
                <div class="modal-body">
                    <div id="CookingPickListModalBody">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Stock Pick List Modal End-->


    <div class="preloader"><img src="~/images/loader.svg" alt=""></div>
</body>
</html>

@{Html.RenderPartial("~/Views/Notifications/NotificationModals.cshtml");}
@Scripts.Render("~/Scripts/Notifications/Notifications.js")
@Scripts.Render("~/Scripts/GoodsIn/PickList/PickList.js")