﻿@using Microsoft.AspNet.Identity
@using PunjabKitchen.Models
@if (Request.IsAuthenticated) {
    using (Html.BeginForm(MVC.Account.LogOff(), FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()
        <ul>
            <li>
                @{
                    var manager = new UserManager<ApplicationUser>(new Microsoft.AspNet.Identity.EntityFramework.UserStore<ApplicationUser>(new ApplicationDbContext()));
                    var currentUser = manager.FindById(User.Identity.GetUserId());
                    var fullName = currentUser.FirstName + " " + currentUser.LastName;
                    var role = manager.GetRoles(User.Identity.GetUserId()).FirstOrDefault();
                }
                <strong class="name">@fullName </strong>
                <span class="admin">@role</span>
            </li>
        </ul>
    }
}
else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
