﻿@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="login-box error-box">
    <img src="~/Images/img-error.png" alt="Img Error" class="biger-text">
    <h4>Oops, something went wrong. Please contact admin</h4>
    <div class="submit-holder">
        <a href=@Url.Action(MVC.Home.Index()) class="forgottenlink">Back to homepage</a>
    </div>
</div>
