﻿@model PunjabKitchen.Models.Report
@{
    SelectList reportsList = ViewBag.ReportsList;
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-holder">
    <div class="bd-example">
        <h2 class="inbox-title">Reports</h2>
        <form method="post" action="#" class="messageform" id="reportsForm">
            <fieldset>
                <div class="col-sm-3">
                    <label class="required">Report Name</label>
                    <div class="styled-select slate">
                        @Html.DropDownListFor(x => x.ReportName, new SelectList(reportsList.Items, "Item1", "Item2", 0), "", new { @class = "cursor", required = "required" })
                        @Html.ValidationMessageFor(m => m.ReportName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="required">From</label>
                    <div class="datepicker">
                        @{
                            var dFromDate = Model.FromDate != null ? Model.FromDate.Date.ToString("dd/MM/yyyy") : DateTime.Now.ToString("dd/MM/yyyy");
                            <input type="text" id="FromDateDatePicker" class="cursor" required="required" value=@dFromDate />
                        }
                        @Html.HiddenFor(x => x.FromDate, new { id = "FromDate", @required = "required" })
                        @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="required">To</label>
                    <div class="datepicker">
                        @{
                            var dToDate = Model.ToDate != null ? Model.ToDate.Date.ToString("dd/MM/yyyy") : DateTime.Now.ToString("dd/MM/yyyy");
                            <input type="text" id="ToDateDatePicker" class="cursor" required="required" value=@dToDate />
                        }
                        @Html.HiddenFor(x => x.ToDate, new { id = "ToDate", @required = "required" })
                        @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="button-holder">
                        <label>&nbsp;</label>
                        <a href="#" id="btnGenerateReport">
                            <input value="Generate Report" class="btn-default" type="button" style="width: 124px;" onclick="generateReport()"/>
                        </a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <iframe id="iframeReportViewer" src="" style="border: 1px; width: 100%; overflow: hidden;" scrolling="no" ></iframe>
                </div>
            </fieldset>
        </form>
    </div>
</div>

@Scripts.Render("~/Scripts/Report/report.js");