﻿

@model PunjabKitchen.Models.Product
@{
    SelectList list = ViewBag.units;
}
@using (Html.BeginForm(MVC.GoodsIn.AddEditProduct(), FormMethod.Post, new { id = "createGoodsInForm", role = "form" }))
{
    @Html.HiddenFor(m => m.tGoodsInId)
    <div class="messageform" id="goodsInItem">
        <fieldset>
            <div class="row">
                <div class="twofifth">
                    <label class="required">Product name</label>
                    @Html.TextBoxFor(m => m.vName, new { required = "required", maxlength = "50" })
                    @Html.ValidationMessageFor(m => m.vName, "", new { @class = "text-danger" })
                </div>
                <div class="onefifth">
                    <label class="required">Product code</label>
                    @Html.TextBoxFor(m => m.vProductCode, new { required = "required", maxlength = 50, @class = "disabledInput" })
                    @Html.ValidationMessageFor(m => m.vProductCode)
                </div>
                <div class="twofifth">
                    <div class="field-row">
                        <div class="field-wrap">
                            <label class="required">Unit weight</label>
                            @Html.TextBoxFor(m => m.iUnitWeight, new { id= "iUnitWeight", type = "number", required = "required", min = 0, max = 999999 })
                            @Html.ValidationMessageFor(m => m.iUnitWeight)
                        </div>
                        <div class="field-wrap">
                            <label class="required">Qty</label>
                            @Html.TextBoxFor(m => m.iQuantity, new { id = "iQuantity", type = "number", required = "required", min = 1, max = 999999, maxlength = 999999 })
                            @Html.ValidationMessageFor(m => m.iQuantity)
                        </div>
                        <div class="field-wrap">
                            <label>Unit</label>
                            @Html.DropDownListFor(n => n.iUnitId, new SelectList(list.Items, "iUnitId", "vName", 1))
                            @Html.ValidationMessageFor(m => m.iUnitId)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="onefifth">
                    <label class="required">Best before/Use by</label>
                    @Html.HiddenFor(m => m.dCCP1aBestBefore, new { id = "dCCP1aBestBefore" })
                    <input type="text" id="dCCP1aBestBeforeDatePicker" required="required" class="cursor" />
                    @Html.ValidationMessageFor(m => m.dCCP1aBestBefore, "", new { @class = "text-danger" })
                </div>
                <div class="onefifth">
                    <label class="required">LOT No.</label>
                    @Html.TextBoxFor(m => m.vLotNumber, new { required = "required", maxlength = 50 })
                    @Html.ValidationMessageFor(m => m.vLotNumber)
                </div>
                <div class="onefifth">
                    <label>Contains allergen</label>
                    <label class="switch yesno" for="bContainsAllergen">
                        @Html.HiddenFor(m => m.bContainsAllergen, new { id = "bContainsAllergen_hidden" })
                        @Html.ValidationMessageFor(m => m.bContainsAllergen)
                        <input type="checkbox" id="bContainsAllergen">
                        <div class="slider round"></div>
                    </label>
                </div>
                <div class="onefifth">
                    <label>Intake checks</label>
                    <label class="switch passfail" for="bIntakeChecksCompleted">
                        @Html.HiddenFor(m => m.bIntakeChecksCompleted, new { id = "bIntakeChecksCompleted_hidden" })
                        @Html.ValidationMessageFor(m => m.bIntakeChecksCompleted)
                        <input type="checkbox" id="bIntakeChecksCompleted">
                        <div class="slider round"></div>
                    </label>

                </div>
                <div class="onefifth">
                    <label>Quality</label>
                    <label class="switch passfail" for="bQualityApproved">
                        @Html.HiddenFor(m => m.bQualityApproved, new { id = "bQualityApproved_hidden" })
                        @Html.ValidationMessageFor(m => m.bQualityApproved)
                        <input type="checkbox" id="bQualityApproved">
                        <div class="slider round"></div>
                    </label>
                </div>
            </div>
            <div class="goodsintake-textarea">
                <label>Comments</label>
                @Html.TextAreaFor(m => m.vComments, new { maxlength = "50" })
                @Html.ValidationMessageFor(m => m.vComments)
            </div>
        </fieldset>
    </div>
    @Html.HiddenFor(x => x.addMoreProduct, new { id = "addMoreProduct" })
    @Html.HiddenFor(x => x.iProductTypeId, new { id = "productTypId" })
    <div class="button-holder addlocation-box">
    <a value="Next item" class="btn btn-default pull-right " onclick="submitGoodsInProduct(false)">Next item</a>
        <a value="End" class="btn btn-default" onclick="submitGoodsInProduct(true)">End</a>
        <a href="@if (Model.tGoodsInId != null)
                 {
                     @Url.Action(MVC.GoodsIn.Edit((long)Model.tGoodsInId))
                 }" class="btn-cancel" aria-label="Close">Cancel</a>
    </div>
}
@Scripts.Render("~/Scripts/GoodsIn/Deliveries/CreateGoodsIn.js")