﻿@model IEnumerable<PunjabKitchen.Models.Product>
@{
    SelectList stockLocationList = ViewBag.StockLocationList;
}

<div class="content-holder">
    <div class="bd-example">
        <div class="cancel-area">
            <h2 class="cancel">Allocate goods to stock</h2>
            @Html.ActionLink("Cancel", MVC.GoodsIn.Deliveries())
        </div>
        <div class="table-responsive">
            <table class="table notification-table">
                <thead>
                    <tr>
                        <th>ITEM</th>
                        <th>PRODUCT CODE</th>
                        <th>WEIGHT</th>
                        <th>AVAIL</th>
                        <th>LOT NUMBER</th>
                        <th>STORE QTY</th>
                        <th>STORAGE LOC</th>
                        <th>STORAGE POINT</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                   @if (!Model.Any())
                   {
                       <tr>
                           <td colspan="9">All Products are allocated to stock</td>
                       </tr>
                   }
                    @foreach (var item in Model)
                    {
                        <tr>
                            @{var stockLocItemid = "stockLoc_" + item.iProductId;
                                var stockPointItemid = "stockPoint_" + item.iProductId;  }
                            <td>@item.vName</td>
                            <td>@item.vProductCode</td>
                            <td>@item.iUnitWeight@item.tUnit.vName</td>
                            <td>@item.iQuantity</td>
                            <td>@item.vLotNumber</td>
                            <td>@item.iQuantity</td>
                            <td>
                                <div class="styled-select slate quantity">
                                    @Html.DropDownList(stockLocItemid, new SelectList(stockLocationList.Items, "vStorageLocation", "vStorageLocation", 1 ), "Select One", new { @class = "cursor stockLocationListItem stockSelectItem" })
                                </div>
                            </td>
                            <td>
                                <div class="styled-select slate code">
                                    <select class="cursor stockSelectPointItem @stockPointItemid">
                                        <option value="undefined">Select Stock Point</option>
                                    </select>
                                </div>
                            </td>
                            <td><a href="#" onclick="submitStockPointItem(@item.iProductId)" class="btn-default">OK</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/GoodsIn/Deliveries/GoodsToStock.js")
