﻿@model IEnumerable<PunjabKitchen.Models.Product>
<form id="thresholdForm">
    <div class="content-holder">
        <div class="bd-example">
            <div class="cancel-area">
                <h2 class="cancel">Set Products Threshold</h2>
                @Html.ActionLink("Cancel", MVC.GoodsIn.Deliveries())
            </div>
            <div class="table-responsive">
                <table class="table notification-table">
                    <thead>
                        <tr>
                            <th>ITEM</th>
                            <th>PRODUCT CODE</th>
                            <th>WEIGHT</th>
                            <th>AVAIL</th>
                            <th>LOT NUMBER</th>
                            <th>STORE QTY</th>
                            <th>Threshold</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            var thresholdId = "threshold_" + item.iProductId;
                            <tr class="productListitem">
                                <td>@item.vName</td>
                                <td>@item.vProductCode</td>
                                <td>@item.iUnitWeight@item.tUnit.vName</td>
                                <td>@item.iQuantity</td>
                                <td>@item.vLotNumber</td>
                                <td>@item.iQuantity</td>
                                <td><input type="number" class="form-control" id="@thresholdId" required="required" value="@item.iThreshold" min="0" max="@item.iQuantity" required /></td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <input type="button" class="btn-default" value="Submit" onclick="submitThresholdForm()" style="float: right;" />

        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {

    });

    //Submit Threshold
    function submitThresholdForm() {
        var data = [];
        if (generateData(data)) {
            submitForm(data);
        }
        return false;
    }

    function submitForm(data) {
        showLoader();
        $.ajax({
            url: POSTTHRESHOLD,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            data: JSON.stringify(data),
            success: function (result) {
                hideLoader();
                debugger;
                showSuccess("Saved Successfully!");
                window.location.href = GOODSINLIST_URL;
            },
            error: function (error) {
                hideLoader();
                showError("Error occured while saving records");
            }
        });
    }

    function generateData(list) {
        //Loop list
        var thresholdList = $(".productListitem").find('[id^=threshold_]');
        _.each(thresholdList, function (listItem) {
            var obj = new Object();
            var item = $(listItem)[0];
            obj.iProductId = $(item).attr("id").split("_")[1];
            obj.iThreshold = $(item).val();
            obj.thresholdMinValue = $(item).attr("min");
            obj.thresholdMaxValue = $(item).attr("max");
            if (validateObject(obj)) {
                list.push(obj);
            }
        });
        if (!$("#thresholdForm").valid()) {
            showError("Please Enter Valid Threshold Values (Between 0 - Available)");
            return false;
        }
        return true;
    }

    function validateObject(obj) {
        if (!(obj.iThreshold >= obj.thresholdMinValue && obj.iThreshold <= obj.thresholdMaxValue)) {
            $("#threshold_" + obj.iProductId).val("");
            $("#threshold_" + obj.iProductId).addClass("error");
            return false;
        } else {
            $("#threshold_" + obj.iProductId).removeClass("error");
            return true;
        }
    }
</script>
