﻿@model PunjabKitchen.Models.GoodsIn
@{
    SelectList list = ViewBag.ProductTypes;
}
@using (Html.BeginForm(MVC.GoodsIn.Post(), FormMethod.Post, new { id = "goodsInForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.tGoodsInId, new { id = "currentGoodsIn" })
    <div class="content-holder">
        <div class="bd-example">
            <div class="cancel-area">
                <h2 class="cancel">New delivery</h2>
                @Html.ActionLink("Cancel", MVC.GoodsIn.Deliveries())
                @if (Model != null && Model.tGoodsInId > 0)
                {
                    @Html.ActionLink("Print", MVC.GoodsIn.PrintRecord(Model.tGoodsInId), new { target = "_blank", @class = "printLink" })
                }
            </div>
            <div class="new-delivery">
                <div class="row">
                    <div class="col-xs-7">
                        <div class="row">
                            <div class="col-xs-6">
                                <label class="required">Supplier name</label>
                                @Html.TextBoxFor(m => m.vSupplier, new { @required = "required", @maxlength = "50" })
                                @Html.ValidationMessageFor(m => m.vSupplier, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-xs-6">
                                <label class="required">Product type</label>
                                <div class="styled-select slate">
                                    @Html.DropDownListFor(n => n.iProductTypeId, new SelectList(list.Items, "iProductTypeId", "vName", 1), new { @class = "cursor" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        @{
                            //if any goodsin product is failed in intake check then this flag sets to cross
                            var intakeChecks = (Model.tProducts == null || Model.tProducts.Count == 0) ? "ico-cross" : Model.tProducts.All(x => x.bIntakeChecksCompleted != false) ? "ico-ok" : "ico-cross";
                            //if any goods in product is failed in qa check then this flag sets to cross
                            var qaChecks = (Model.tProducts == null || Model.tProducts.Count == 0) ? "ico-cross" : Model.tProducts.All(x => x.bQualityApproved != false) ? "ico-ok" : "ico-cross";
                        }
                        <div class="row">
                            <div class="col-xs-4">
                                <label class="delivery-subtitles">Vehicle check</label>
                                <span class=@(Model.bVehicleInternalCheck ? "ico-ok": "ico-cross") id="vehicleChkImg" alt="Ico Action" class="ico-action"></span>
                            </div>
                            <div class="col-xs-4">
                                <label class="delivery-subtitles">Intake checks</label>
                                <span class=@intakeChecks id="intakeCheckImg" alt="Ico Action" ></span>
                            </div>
                            <div class="col-xs-4">
                                <label class="delivery-subtitles">QA checks</label>
                                <span class=@qaChecks id="qaChecksImg" alt="Ico Action" ></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="vehicleCheckSection" class="vehicle-check">
                <h2>Vehicle check</h2>
                <div class="single-check">
                    <p>Vehicle internal storage area</p>
                    <div class="row">
                        <div class="one-tenth">

                            <!-- Rounded switch -->
                            <label class="switch" for="vehicleInternalChk">
                                @Html.HiddenFor(m => m.bVehicleInternalCheck, new { id = "bVehicleInternalCheck_hidden" })
                                <input type="checkbox" id="vehicleInternalChk">
                                <div class="slider round"></div>
                            </label>

                        </div>
                        <div class="nine-tenth">
                            @Html.TextBoxFor(x => x.vVehicleInternalCheckComment, new { placeholder = "Comments", maxlength = "50" })
                            @Html.ValidationMessageFor(m => m.vVehicleInternalCheckComment)
                        </div>
                    </div>
                </div>
                <div class="single-check">
                    <p>Raw material storage</p>
                    <div class="row">
                        <div class="one-tenth">
                            <label class="switch" for="bRawMaterial">
                                @Html.HiddenFor(m => m.bRawMaterial, new { id = "bRawMaterial_hidden" })
                                <input type="checkbox" id="bRawMaterial">
                                <div class="slider round"></div>
                            </label>

                        </div>
                        <div class="nine-tenth">
                            @Html.TextBoxFor(x => x.vRawMaterialComment, new { placeholder = "Comments", maxlength = "50" })
                            @Html.ValidationMessageFor(m => m.vRawMaterialComment)
                        </div>
                    </div>
                </div>
                <div class="single-check" id="ccp1a_check">
                    <p id="ccp1a_label" >CCP 1a: Temperature of vehicle</p>
                    <div class="row">
                        <div class="one-tenth">
                            <label class="switch" for="ccp1a">
                                @Html.HiddenFor(m => m.ccp1a, new { id = "ccp1a_hidden" })
                                <input type="checkbox" id="ccp1a">
                                <div class="slider round"></div>
                            </label>
                        </div>
                        <div class="one-tenth centigrade">
                            @Html.TextBoxFor(m => m.ccp1a_temp, new { id = "ccp1aTemp", placeholder = "", type = "number" ,min=-999999, max=999999 })
                            @Html.ValidationMessageFor(m=>m.ccp1a_temp)
                        </div>
                        <div class="eight-tenth">
                            @Html.TextBoxFor(m => m.ccp1a_comment, new { id = "ccp1a_comment", placeholder = "Comments", maxlength = "50" })
                            @Html.ValidationMessageFor(m => m.ccp1a_comment)
                        </div>
                    </div>
                </div>
                <div class="single-check" id="ccp1b_check">
                    <p id="ccp1b_label">CCP 1b: Temperature of vehicle</p>
                    <div class="row">
                        <div class="one-tenth">
                            <label class="switch" for="ccp1b">
                                @Html.HiddenFor(m => m.ccp1b, new { id = "ccp1b_hidden" })
                                <input type="checkbox" id="ccp1b">
                                <div class="slider round"></div>
                            </label>
                        </div>
                        <div class="one-tenth centigrade">
                            @Html.TextBoxFor(m => m.ccp1b_temp, new { id = "ccp1bTemp", placeholder = "", type = "number", min = -999999, max = 999999 })
                            @Html.ValidationMessageFor(m => m.ccp1b_temp)
                        </div>
                        <div class="eight-tenth">
                            @Html.TextBoxFor(m => m.ccp1b_comment, new { id = "ccp1b_comment", placeholder = "Comments", @maxlength = "500" })
                            @Html.ValidationMessageFor(m => m.ccp1b_comment)
                        </div>
                    </div>
                </div>
                <ul class="btn-list">
                    <li>
                        <input value="Accept" class="btn-default" onclick="acceptForm()" type="submit" />
                    </li>
                    <li>
                        <input value="Reject" class="btn-default reject" onclick="rejectForm()" type="submit" />
                    </li>
                </ul>
            </div>
            <div id="goodsIntakeSection" class="goods-intake">
                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <div class="row btn-row">
                            <div class="col-sm-6">
                                <h2>Goods intake</h2>
                            </div>
                            <div class="col-sm-6">
                                <a href="#" data-toggle="modal" data-target="#newGoodsIntakeModal" id='goodsInModal' class="goodsInModal">
                                    <input value="Add Goods" class="btn-default" type="button" />
                                </a>
                                <a onclick="finishAddingGoodsIn()" class="btn-default pull-right cursor">Finished</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12">&nbsp;</div>
                </div>
                <div class="table-responsive">
                    <table class="table notification-table">
                        <thead>
                            <tr>
                                <th>DATE</th>
                                <th>ITEM</th>
                                <th>PRODUCT CODE</th>
                                <th>WEIGHT</th>
                                <th>QTY</th>
                                <th>BEST BEFORE</th>
                                <th>LOT NUMBER</th>
                                <th>ALLERGEN</th>
                                <th>INTAKE</th>
                                <th>QUALITY</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.tProducts != null && Model.tProducts.Count > 0)
                            {
                                foreach (var item in Model.tProducts)
                                {
                                    var containsAllergens = item.bContainsAllergen == true ? "Yes" : "No";
                                    var intakeCheckItem = item.bIntakeChecksCompleted == true ? "Yes" : "No";
                                    var qualityCheckItem = item.bQualityApproved == true ? "Yes" : "No";
                                    <tr>
                                        <td>@item.Sys_CreatedDateTime.Value.ToString("dd/MM/yyyy")</td>
                                        <td>@item.vName</td>
                                        <td>@item.vProductCode</td>
                                        <td>@item.iUnitWeight @item.tUnit.vName</td>
                                        <td>@item.iQuantity</td>
                                        <td>@Convert.ToDateTime(item.dCCP1aBestBefore).ToString("dd/MM/yyyy")</td>
                                        <td>@item.vLotNumber</td>
                                        <td>@containsAllergens</td>
                                        <td>@intakeCheckItem</td>
                                        <td>@qualityCheckItem</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="10">There is no goods added to this delivery yet</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.bVehicleChecksAccepted, new { id = "bVehicleChecksAccepted" })
        @Html.HiddenFor(m => m.bGoodsIntakeFinished, new { id = "bGoodsIntakeFinished" })

    </div>
   }
<div id="newGoodsIntakeModal" class="modal fade" role="dialog" data-url='@Url.Action(MVC.GoodsIn.CreateGoodsIn())'>
    <div class="modal-dialog create-cooking-plan" role="document" data-backdrop="static" data-keyboard="false">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title" id="myModalLabel">Add Goods</h5>
            </div>
            <div class="modal-body">
                <div id='newGoodsIn'>

                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/GoodsIn/Deliveries/CreateDeliveries.js")