﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc;
@model PagedList.IPagedList<PunjabKitchen.Models.GoodsIn>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-holder">
    <div class="bd-example">
        <h2>Deliveries</h2>
        <div class="btn-addlocation">
            @Html.ActionLink("Create New", MVC.GoodsIn.Create(), new { @class = "btn-default" })
        </div>
        <div class="table-responsive">
            <table class="cursor table notification-table">
                <thead>
                    <tr>
                        <th>DATE</th>
                        <th>SUPPLIER</th>
                        <th>PRODUCT TYPE</th>
                        <th class="centered">VEHICLE CHECK</th>
                        <th class="centered">INTAKE CHECKS</th>
                        <th class="centered">QA CHECKS</th>
                        <th>STATUS</th>
                        <th>OPERATIVE</th>
                        <th class="centered">PRINT</th>
                        @if (@User.IsInAnyRole(PKRoles.Administrator))
                        {
                            <th class="centered">THRESHOLD</th>
                        }
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        var status = item.tProducts.Count == 0 ? "No Product Added" : item.tProducts.Any(x => x.iStockId == null) ? "Pending" : "In Stock";
                        //if any goodsin product is failed in intake check then this flag sets to cross
                        var intakeChecks = (item.tProducts == null || item.tProducts.Count == 0) ? "ico-cross" : !item.tProducts.Any(x => x.bIntakeChecksCompleted == false) ? "ico-ok" : "ico-cross";
                        //if any goods in product is failed in qa check then this flag sets to cross
                        var qaChecks = (item.tProducts == null || item.tProducts.Count == 0) ? "ico-cross" : !item.tProducts.Any(x => x.bQualityApproved == false) ? "ico-ok" : "ico-cross";
                        var rowClass = "";
                        if (item.tProducts != null)
                        {
                            rowClass = item.tProducts.Any(a => (a.iThreshold == null ? 0 : a.iThreshold.Value) <= 0) ? "error" : "";
                        }

                        <tr class="deliveryItem @rowClass">
                            <input type="hidden" class="goodsInId" value="@item.tGoodsInId">
                            <td>@item.Sys_CreatedDateTime.Value.ToString("dd/m/yyyy")</td>
                            <td>@item.vSupplier</td>
                            <td>@(item.tProductType != null ? item.tProductType.vName : "")</td>
                            <td class="centered"><span class=@(item.bVehicleInternalCheck ? "ico-ok" : "ico-cross") class="ico-action"></span></td>
                            <td class="centered"><span class=@intakeChecks class="ico-action"></span></td>
                            <td class="centered"><span class=@qaChecks class="ico-action"></span></td>
                            <td>@status</td>
                            <td>@item.AspNetUser.FirstName @item.AspNetUser.LastName</td>
                            <td><a style="margin-left:30%" href="@Url.Action(MVC.GoodsIn.PrintRecord(item.tGoodsInId))" target="_blank" class="printButton"><img src="~/images/ico-print-record.png" class="ico-action" alt="Print"></a></td>
                            @if (@User.IsInAnyRole(PKRoles.Administrator))
                            {
                                if (item.tProducts.Any(a => (a.iThreshold == null ? 0 : a.iThreshold.Value) <= 0))
                                {
                                    <td><a href="@Url.Action(MVC.GoodsIn.SetThreshold(item.tGoodsInId))" class="centered thresholdButton" onclick="linkClick();"><img src="~/images/ico-threshold.png" class="ico-action" alt="Threshold"></a></td>
                                }
                                else
                                {
                                    <td><a class="disabled thresholdButton"></a></td>
                                }
                            }

                        </tr>
                    }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.GoodsIn.Deliveries().AddRouteValues(new { page })))</span>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $(".deliveryItem")
            .click(function (e) {
                debugger;
                var tag = e.target.nodeName;
                if ((tag === 'IMG') || (tag === 'A')) { }
                else {
                    var link = '@Url.Action("Edit", "GoodsIn", new { id = "-1" })';
                    var id = $(e.target).parent().find('.goodsInId').val();
                    link = link.replace("-1", id);
                    location.href = link;
                }
            });
    });

    function linkClick() {
        showLoader();
    }
</script>