﻿
@model PunjabKitchen.Models.ShapesControlRecord
@{
    SelectList unitlist = ViewBag.Unit;
    SelectList packersList = ViewBag.PackersList;
    SelectList batchCodesList = ViewBag.BatchCodesList;
}

<form id="ShapesControlRecordForm" method="post" action="#" class="messageform">
    
    @Html.HiddenFor(m => m.iShapeControlRecordId, new {id = "ShapeControlRecordId"})
    @Html.HiddenFor(x => x.dShapesControl, new {id = "dShapesControl"})
    @Html.HiddenFor(x => x.packersList, new {id = "packersList"})
    @Html.HiddenFor(m => m.batchCodesList, new {id = "batchCodesList"})
    @Html.HiddenFor(m => m.bCriticalCheck, new { id = "bCriticalCheck" })

    <fieldset>
        <div class="row">
            <div class="twofifth multiselect">
                <label class="required">Batch No.</label>
                @Html.DropDownListFor(m => m.vBatchNo, new SelectList(batchCodesList.Items, "IntegerData", "StringData", 1), new {id = "vBatchCode", @class = "selectpicker", @multiple = "multiple", @required = "required"})
                @Html.ValidationMessageFor(m => m.vBatchNo, "", new {@class = "text-danger"})
            </div>
            <div class="onefifth">
                <label class="required">Product</label>
                @Html.TextBoxFor(m => m.vProductName, new {id = "vProductName", @required = "required", maxlength = "50" })
            </div>
            <div class="onefifth">
                <label>Cooking Finish Time<span style="font-size: 15px; color: red">*</span></label>
                @Html.HiddenFor(m => m.tCookingFinishTime, new {@required = "required", id = "tCookingFinishTime"})
                <input class="cursor" type="text" id="tCookingFinishTimePicker"/>
                @Html.ValidationMessageFor(m => m.tCookingFinishTime, "", new {@class = "text-danger"})
            </div>
            <div class="onefifth">
                <label class="required">Puree Start Time</label>
                @Html.HiddenFor(m => m.tPureeStartTime, new {@required = "required", id = "tPureeStartTime"})
                <input class="cursor" type="text" id="tPureeStartTimePicker"/>
                @Html.ValidationMessageFor(m => m.tPureeStartTime, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="product-view">
            <div class="row">
                <div class="col-xs-4">
                    <div class="row smaller-indent">
                        <div class="col-xs-6">
                            <label class="required">Quantity Made</label>
                            @Html.TextBoxFor(m => m.iQuantityMade, new {id = "iQuantityMade", type = "number", @required = "required", max = 999999, min = 1})
                        </div>
                        <div class="col-xs-6">
                            <label class="required">Units</label>
                            @Html.DropDownListFor(m => m.iUnitId, new SelectList(unitlist.Items, "iUnitId", "vName", 1), new {@class = "cursor", @required = "required"})
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <label class="required">Time into Blast Freezer (last tray)</label>
                    @Html.HiddenFor(m => m.tTimeIntoBlastFreezer, new {@required = "required", id = "tTimeIntoBlastFreezer"})
                    <input class="cursor" type="text" id="tTimeIntoBlastFreezerPicker"/>
                    @Html.ValidationMessageFor(m => m.tTimeIntoBlastFreezer, "", new {@class = "text-danger",})
                </div>
                <div class="col-xs-4">
                    <label class="required">Time ex Blast Freezer</label>
                    @Html.HiddenFor(m => m.tTimeExInBlastFreezer, new {@required = "required", id = "tTimeExInBlastFreezer"})
                    <input class="cursor" type="text" id="tTimeExInBlastFreezerPicker"/>
                    @Html.ValidationMessageFor(m => m.tTimeExInBlastFreezer, "", new {@class = "text-danger",})
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <label class="required">Temp ex Blast Freezer Below -18°C</label>
                    @Html.TextBoxFor(m => m.vTempExBlastFreezerBelow, new {id = "vTempExBlastFreezerBelow", type = "number", @required = "required"})
                </div>
                <div class="col-xs-4">
                    <label class="required">Time to Storage Freezer</label>
                    @Html.HiddenFor(m => m.tTimeToStorageFreezer, new {@required = "required", id = "tTimeToStorageFreezer"})
                    <input class="cursor" type="text" id="tTimeToStorageFreezerPicker"/>
                    @Html.ValidationMessageFor(m => m.tTimeToStorageFreezer, "", new {@class = "text-danger",})
                </div>
                <div class="col-xs-4 multiselect">
                    <label class="required">Packers</label>
                    @Html.DropDownListFor(m => m.iPackerUserId, new SelectList(packersList.Items, "IntegerData", "StringData", 1), new { id = "packersDropdown", @class = "selectpicker", @multiple = "multiple", @required = "required"})
                    @Html.ValidationMessageFor(m => m.iPackerUserId)
                </div>
            </div>
        </div>
        <div class="information-box information-box-bottom">
            <p><span style="font-size: 15px; color: red">*</span>For product that has been chilled down after cooking, then stored in WIP Chiller (CCP 6) do not complete this column.
            </p>
            <p><span style="font-size: 15px; color: red">*</span>For product that is pureed directly after cooking (Hot) complete this time and conform to Pure Process CCP5: Maximum Time of 3 hours from cooking finish time to the time into Blast Freezer.
            </p>
        </div>
    </fieldset>
</form>
<div class="button-holder">
    <a href="#" value="Submit" class="btn btn-default" onclick="submitShapesControlForm()">Submit</a>
    <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
    @if (Model != null && Model.iShapeControlRecordId > 0)
    {
        @Html.ActionLink("Print", MVC.ShapesControlPacking.PrintRecord(Model.iShapeControlRecordId), new { target = "_blank", @class = "printLink" })
    }
</div>

@Scripts.Render("~/Scripts/Records/Packing/ShapesControlRecord/ShapesControlRecordCreate.js")