﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.ShapesControlRecord>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}
<div class="content-holder">
    <div class="bd-example">
        <h2>Shapes Control Packing Records</h2>
        <div class="btn-addlocation">
            @Html.Hidden("canCreatePlan", "")
            <a href="#" id="shapesControlRecordModal">
                <input value="Create New" class="btn-default" type="button" />
            </a>
        </div>
        <div class="table-responsive">
            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager))
            {
                cursorClass = "cursor";
            }
            <table class="table notification-table">
                <thead>
                    <tr>
                        <th>PRODUCT</th>
                        <th>COOKING FINISH TIME</th>
                        <th>PUREE START TIME</th>
                        <th>QUANTITY MADE</th>
                        <th>TIME INTO BLAST FREEZER (LAST TRAY)</th>
                        <th>TIME EX BLAST FREEZER</th>
                        <th>TEMP EX BLAST FREEZER BELOW -18 °C</th>
                        <th>TIME TO STORAGE FREEZER</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var cookingFinishTime = @item.tCookingFinishTime == null ? "" : @item.tCookingFinishTime.Value.ToString("HH:mm");
                        var pureeStartTime = @item.tPureeStartTime == null ? "" : @item.tPureeStartTime.Value.ToString("HH:mm");
                        var timeIntoBlast = @item.tTimeIntoBlastFreezer == null ? "" : @item.tTimeIntoBlastFreezer.Value.ToString("HH:mm");
                        var timeExInBlast = @item.tTimeExInBlastFreezer == null ? "" : @item.tTimeExInBlastFreezer.Value.ToString("HH:mm");
                        var timeToStorage = @item.tTimeToStorageFreezer == null ? "" : @item.tTimeToStorageFreezer.Value.ToString("HH:mm");
                        var quantityWithUnit = item.iQuantityMade + "" + item.tUnit.vName;
                        var rowClass = @item.bCriticalCheck == true ? "error" : "";
                        var editable = (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager)) ? "editable" : "";

                        <tr class="@rowClass @cursorClass @editable" data-id="@item.iShapeControlRecordId">
                            <td>@item.vProductName</td>
                            <td>@cookingFinishTime</td>
                            <td>@pureeStartTime</td>
                            <td>@quantityWithUnit</td>
                            <td>@timeIntoBlast</td>
                            <td>@timeExInBlast</td>
                            <td>@item.vTempExBlastFreezerBelow</td>
                            <td>@timeToStorage</td>
                            <td><a href="@Url.Action(MVC.ShapesControlPacking.PrintRecord(item.iShapeControlRecordId))" target="_blank" class="printButton"><img src="~/images/ico-print-record.png" class="ico-action" alt="Print"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.ShapesControlPacking.ShapesControlPackingRecords().AddRouteValues(new { page })))</span>
        </div>
    </div>
</div>
<div id="newShapesControlRecModal" class="modal fade" role="dialog">
    <div class="modal-dialog large-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title" id="myModalLabel">Add Shapes Control Record</h5>
            </div>
            <div class="modal-body">
                <div id="newShapesControlRec">
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/Records/Packing/ShapesControlRecord/ShapesControlRecordList.js")