﻿@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.ChecksHistoryModel>

<table class="table notification-table">
    <thead>
        <tr>
            <th>DATE</th>
            <th>IS PERFORMED</th>
            <th>FRIDGE-1 TEMPERATURE</th>
            <th>FRIDGE-2 TEMPERATURE</th>
            <th>FRIDGE-3 TEMPERATURE</th>
            <th>PERFORMED BY </th>
            <th>PERFFORMED TIME</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            var createdDate = string.Format("{0:dd/MM/yyyy}", item.CreatedDate != null ? item.CreatedDate : null);
            var createdTime = item.CreatedDate != null ? item.CreatedDate.Value.ToShortTimeString() : string.Empty;
            if (item.IsPerformed)
            {
                <tr class="cursor canteenFridgeCheckItem" data-id="@item.Id">
                    <td>@createdDate</td>
                    <td>Yes</td>
                    <td>@item.Fridge1Temp</td>
                    <td>@item.Fridge2Temp</td>
                    <td>@item.Fridge3Temp</td>
                    <td>@item.CreatedBy</td>
                    <td>@createdTime</td>
                </tr>
            }
            else
            {
                <tr class="error">
                    <td>@createdDate</td>
                    <td>No</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
<span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.Checks.DailyWeeklyChecks().AddRouteValues(new { page })), new PagedListRenderOptions() { DisplayLinkToLastPage = PagedListDisplayMode.Never, LiElementClasses = new List<string> { "liPage" } })</span>


<script type="text/javascript">
    $(document).ready(function () {
        $(".canteenFridgeCheckItem").on("click", function () {

            var id = $(this).attr("data-id");
            $.ajax({
                type: "GET",
                url: GETNOTIFICATIONMODEL,
                data: { notificationTypeId: 4, areaId: 0 },
                success: function (data) {
                    $("#historyItemModalBody").html(data);
                    $("#historyItemModal").modal("show");
                    //Function calling for fetching data
                    getCheckParameterValues(id);
                   
                },
                error: function () {
                    showError("Something went wrong...");
                    hideLoader();
                }
            });
        });
    });
    //Function calling for fetching data
    function getCheckParameterValues(idParam) {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: GETCANTEENCHECKS,
            data: { id: idParam },
            success: function (data) {

                $("#submitFridgeTempchecks").hide();
                $("#cancelNotificationCheck").hide();
                $("#Fridge1Temp").val(data.Fridge1Temp);
                $("#Fridge1Action").val(data.vFridge1Action);
                $("#Fridge2Temp").val(data.Fridge2Temp);
                $("#Fridge2Action").val(data.vFridge2Action);
                $("#Fridge3Temp").val(data.Fridge3Temp);
                $("#Fridge3Action").val(data.vFridge3Action);

                //Disabling fields in edit mode
                if (data.iCanteenFridgeTempRecordId > 0) {
                    $(".check").attr('disabled', true);
                }

                hideLoader();
            },
            error: function () {
                showError("Something went wrong...");
                hideLoader();
            }
        });
    }

</script>