﻿@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.ChecksHistoryModel>

<table class="table notification-table">
    <thead>
        <tr>
            <th>DATE</th>
            <th>IS PERFORMED</th>
            <th>AREA</th>
            <th>PERFORMED BY </th>
            <th>PERFFORMED TIME</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var createdDate = string.Format("{0:dd/MM/yyyy}", item.CreatedDate != null ? item.CreatedDate : null);
            var createdTime = item.CreatedDate != null ? item.CreatedDate.Value.ToShortTimeString() : string.Empty;
            if (item.IsPerformed)
            {
                <tr class="cursor dailyCleaningCheckItem" data-id="@item.Id" data-area="@item.AreaId">
                    <td>@createdDate</td>
                    <td>Yes</td>
                    <td>@item.Area</td>
                    <td>@item.CreatedBy</td>
                    <td>@createdTime</td>
                </tr>
            }
            else
            {
                <tr class="error">
                    <td>@createdDate</td>
                    <td>No</td>
                    <td>@item.Area</td>
                    <td></td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
<span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.Checks.DailyWeeklyChecks().AddRouteValues(new { page })), new PagedListRenderOptions() { DisplayLinkToLastPage = PagedListDisplayMode.Never, LiElementClasses = new List<string> { "liPage" } })</span>


<script type="text/javascript">
    $(document).ready(function () {
        $(".dailyCleaningCheckItem").on("click", function () {
            var id = $(this).attr("data-id");
            var areaId = $(this).attr("data-area");
            $.ajax({
                type: "GET",
                url: GETNOTIFICATIONMODEL,
                data: { notificationTypeId: 3, areaId: areaId },
                success: function (data) {
                    $("#historyItemModalBody").html(data);
                    $("#historyItemModal").modal("show");
                    //Function calling for fetching data
                    getCheckParameterValues(id, areaId);
                },
                error: function () {
                    showError("Something went wrong...");
                    hideLoader();
                }
            });
        });
    });

    //Function calling for fetching data
    function getCheckParameterValues(idParam, areaIdParam) {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: GETCLEANINGDAILYCHECKS,
            data: { id: idParam, areaId: areaIdParam },
            success: function (data) {
                $("#submitDailychecks").hide();
                $("#cancelNotificationCheck").hide();
                _.each(data, function (item) {

                    //Disabling fields in edit mode
                    if (item.iCleaningChecklistDailyId > 0){
                        $(".check").attr('disabled', true);
                    }

                    $("#OP_" + item.iAreaItemId).prop("checked", item.bOP);
                    $("#RC_" + item.iAreaItemId).prop("checked", item.bRC);
                    $("#OP_6").closest('tr').find("#txtIssue").val(item.vIssues);
                    $("#OP_6").closest('tr').find("#txtAction").val(item.vAction);
                    $("#txtIssue_" + item.iAreaItemId).val(item.vIssues);
                    $("#txtAction_" + item.iAreaItemId).val(item.vAction);
                });
                hideLoader();
            },
            error: function () {
                showError("Something went wrong...");
                hideLoader();
            }
        });
    }

</script>