﻿@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.ChecksHistoryModel>

<table class="table notification-table">
    <thead>
        <tr>
            <th>DATE</th>
            <th>IS PERFORMED</th>
            <th>TRUCK TYPE</th>
            <th>TRUCK MAKE</th>
            <th>MAX LOAD</th>
            <th>PROPULSION</th>
            <th>CHANGES</th>
            <th>PERFORMED BY </th>
            <th>PERFFORMED TIME</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            var createdDate = string.Format("{0:dd/MM/yyyy}", item.CreatedDate != null ? item.CreatedDate : null);
            var createdTime = item.CreatedDate != null ? item.CreatedDate.Value.ToShortTimeString() : string.Empty;
            if (item.IsPerformed)
            {
                <tr class="cursor dailyTruckInspectionCheckItem" data-id="@item.Id">
                    <td>@createdDate</td>
                    <td>Yes</td>
                    <td>@item.vTruckType</td>
                    <td>@item.vTruckMake</td>
                    <td>@item.iMaxLoad</td>
                    <td>@item.iPropulsion</td>
                    <td>@item.vChanges</td>
                    <td>@item.CreatedBy</td>
                    <td>@createdTime</td>
                </tr>
            }
            else
            {
                <tr class="error">
                    <td>@createdDate</td>
                    <td>No</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
<span style="float: right">@Html.PagedListPager(Model, page => Url.Action(MVC.Checks.GoodsOutDailyChecks().AddRouteValues(new {page})), new PagedListRenderOptions() {DisplayLinkToLastPage = PagedListDisplayMode.Never, LiElementClasses = new List<string> {"liPage"}})</span>

<script type="text/javascript">
    $(document).ready(function () {
        $(".dailyTruckInspectionCheckItem").on("click", function () {
            var id = $(this).attr("data-id");
            $.ajax({
                type: "GET",
                url: GETNOTIFICATIONMODEL,
                data: { notificationTypeId: 11, areaId: 0 },
                success: function (data) {
                    $("#historyItemModalBody").html(data);
                    $("#historyItemModal").modal("show");
                    //Function calling for fetching data
                    getCheckParameterValues(id);
                },
                error: function () {
                    showError("Something went wrong...");
                    hideLoader();
                }
            });
        });
    });
    //Function calling for fetching data
    function getCheckParameterValues(idParam) {
        showLoader();
        $.ajax({
            type: "GET",
            dataType: "json",
            url: GETDAILYTRUCKINSPECTIONCHECKS,
            data: { id: idParam },
            success: function (data) {
                $("#submitDailyCheck").hide();
                $("#cancelNotificationCheck").hide();
                $("#vTruckType").val(data.vTruckType);
                $("#vTruckMake").val(data.vTruckMake);
                $("#iMaxLoad").val(data.iMaxLoad);
                $("#iPropulsion").val(data.iPropulsion);
                $("#vChanges").val(data.vChanges);

                $("#ForkArms").prop("checked", data.bForkArms);
                $("#Mast").prop("checked", data.bMast);
                $("#CarriagePlate").prop("checked", data.bCarriagePlate);
                $("#LiftChainAndLubrication").prop("checked", data.bLiftChainAndLubrication);
                $("#WheelAndTyres").prop("checked", data.bWheelAndTyres);
                $("#BackRest").prop("checked", data.bBackRest);
                $("#SeatAndSeatBelt").prop("checked", data.bSeatAndSeatBelt);
                $("#Steering").prop("checked", data.bSteering);
                $("#LightAndIndicators").prop("checked", data.bLightAndIndicators);
                $("#HornAndBeeper").prop("checked", data.bHornAndBeeper);
                $("#MastController").prop("checked", data.bMastController);
                $("#HandAndParkingBreak").prop("checked", data.bHandAndParkingBreak);
                $("#DrivingAndServiceBreak").prop("checked", data.bDrivingAndServiceBreak);
                $("#Hydraulics").prop("checked", data.bHydraulics);
                $("#OilLevel").prop("checked", data.bOilLevel);
                $("#FuelAndPower").prop("checked", data.bFuelAndPower);
                $("#Batteries").prop("checked", data.bBatteries);
                $("#LPG").prop("checked", data.bLPG);

                //Disabling fields in edit mode
                if (data.iTruckInspectionId > 0) {
                    $(".check").attr('disabled', true);
                }

                hideLoader();
            },
            error: function () {
                debugger;
                showError("Something went wrong...");
                hideLoader();
            }
        });
    }

</script>