﻿@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.ChecksHistoryModel>

<table class="table notification-table">
    <thead>
        <tr>
            <th>DATE</th>
            <th>IS PERFORMED</th>
            <th>FREEZER-1 TEMP</th>
            <th>FREEZER-2 TEMP</th>
            <th>FREEZER-3 TEMP</th>
            <th>FREEZER-4 TEMP</th>
            <th>FREEZER-5 TEMP</th>
            <th>COMMENTS</th>
            <th>PERFORMED BY </th>
            <th>PERFFORMED TIME</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            var createdDate = string.Format("{0:dd/MM/yyyy}", item.CreatedDate != null ? item.CreatedDate : null);
            var createdTime = item.CreatedDate != null ? item.CreatedDate.Value.ToShortTimeString() : string.Empty;
            if (item.IsPerformed)
            {
                <tr class="cursor goodsOutFreezerUnitCheckItem" data-id="@item.Id">
                    <td>@createdDate</td>
                    <td>Yes</td>
                    <td>@item.iFreezerTemp1.ToString("0.#####")</td>
                    <td>@item.iFreezerTemp2.ToString("0.#####")</td>
                    <td>@item.iFreezerTemp3.ToString("0.#####")</td>
                    <td>@item.iFreezerTemp4.ToString("0.#####")</td>
                    <td>@item.iFreezerTemp5.ToString("0.#####")</td>
                    <td>@item.vComments</td>
                    <td>@item.CreatedBy</td>
                    <td>@createdTime</td>
                </tr>
            }
            else
            {
                <tr class="error">
                    <td>@createdDate</td>
                    <td>No</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
<span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.Checks.GoodsOutDailyChecks().AddRouteValues(new { page })), new PagedListRenderOptions() { DisplayLinkToLastPage = PagedListDisplayMode.Never, LiElementClasses = new List<string> { "liPage" } })</span>

<script type="text/javascript">
    $(document).ready(function () {
        $(".goodsOutFreezerUnitCheckItem").on("click", function () {
            var id = $(this).attr("data-id");
            $.ajax({
                type: "GET",
                url: GETNOTIFICATIONMODEL,
                data: { notificationTypeId: 12, areaId: 0 },
                success: function (data) {
                    $("#historyItemModalBody").html(data);
                    $("#historyItemModal").modal("show");
                    //Function calling for fetching data
                    getCheckParameterValues(id);
                },
                error: function () {
                    showError("Something went wrong...");
                    hideLoader();
                }
            });
        });
    });
    //Function calling for fetching data
    function getCheckParameterValues(idParam) {
        showLoader();
        $.ajax({
            type: "GET",
            dataType: "json",
            url: GETGOODSOUTFREEZERUNITCHECKS,
            data: { id: idParam },
            success: function (data) {
                $("#submitGoodsOutUnit").hide();
                $("#cancelNotificationCheck").hide();
                $("#dTimePicker").val(moment(data.dTime).format("HH:mm"));
                $("#iFreezerTemp1").val(data.iFreezerTemp1);
                $("#iFreezerTemp2").val(data.iFreezerTemp2);
                $("#iFreezerTemp3").val(data.iFreezerTemp3);
                $("#iFreezerTemp4").val(data.iFreezerTemp4);
                $("#iFreezerTemp5").val(data.iFreezerTemp5);
                $("#vComments").val(data.vComments);

                //Disabling fields in edit mode
                if (data.iGoodsOutFreezerUnit > 0) {
                    $(".check").attr('disabled', true);
                }

                hideLoader();
            },
            error: function () {
                debugger;
                showError("Something went wrong...");
                hideLoader();
            }
        });
    }

</script>