﻿@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.ChecksHistoryModel>

<table class="table notification-table">
    <thead>
        <tr>
            <th>Week Start Date</th>
            <th>Week End Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
                var weekStartDate = String.Format("{0:d/MMM/yyyy}", item.WeekStartDate);
                var weekEndDate = String.Format("{0:d/MMM/yyyy}", item.WeekEndDate);
            <tr class="cursor shoeCleaningCheckItem" data-id="@item.Id">
                <td id="weekStartDate">@weekStartDate</td>
                <td id="weekEndDate">@weekEndDate</td>
                <td></td>
            </tr>

        }
    </tbody>
</table>
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
<span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.Checks.DailyWeeklyChecks().AddRouteValues(new { page })), new PagedListRenderOptions() { DisplayLinkToLastPage = PagedListDisplayMode.Never, LiElementClasses = new List<string> { "liPage" } })</span>

<script type="text/javascript">
    $(document).ready(function () {
        $(".shoeCleaningCheckItem").on("click", function () {
            showLoader();
            var searchObj = {
                Id: $('#DailyWeeklyChecksItems').find(":selected").val(),
                StartDateTime: $(this).children("#weekStartDate").text(),
                EndDateTime: $(this).children("#weekEndDate").text()
            }
            $.ajax({
                type: "GET",
                url: GETUSERSHOESCLEANINGHISTORY,
                data: searchObj,
                success: function (data) {
                    $("#historyItemModalBody").html(data);
                    $("#historyItemModal").modal("show");
                    hideLoader();
                },
                error: function () {
                    showError("Something went wrong...");
                    hideLoader();
                }
            });
        });
    });
    //Function calling for fetching data
    function getCheckParameterValues(idParam) {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: GETSHOECHECKS,
            data: { id: idParam },
            success: function (data) {
                hideLoader();
            },
            error: function () {
                showError("Something went wrong...");
                hideLoader();
            }
        });
    }
</script>