﻿@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.ChecksHistoryModel>

<table class="table notification-table">
    <thead>
        <tr>
            <th>DATE</th>
            <th>IS PERFORMED</th>
            <th>PERFORMED BY </th>
            <th>PERFFORMED TIME</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            var createdDate = string.Format("{0:dd/MM/yyyy}", item.CreatedDate != null ? item.CreatedDate : null);
            var createdTime = item.CreatedDate != null ? item.CreatedDate.Value.ToShortTimeString() : string.Empty;
            if (item.IsPerformed)
            {
                <tr class="cursor startupEPGoodsOutCheckItem" data-id="@item.Id">
                    <td>@createdDate</td>
                    <td>Yes</td>
                    <td>@item.CreatedBy</td>
                    <td>@createdTime</td>
                </tr>
            }
            else
            {
                <tr class="error">
                    <td>@createdDate</td>
                    <td>No</td>
                    <td></td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
<span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.Checks.GoodsOutDailyChecks().AddRouteValues(new { page })), new PagedListRenderOptions() { DisplayLinkToLastPage = PagedListDisplayMode.Never, LiElementClasses = new List<string> { "liPage" } })</span>

<script type="text/javascript">
    $(document).ready(function () {
        $(".startupEPGoodsOutCheckItem").on("click", function () {
            var id = $(this).attr("data-id");
            $.ajax({
                type: "GET",
                url: GETNOTIFICATIONMODEL,
                data: { notificationTypeId: 13, areaId: 0 },
                success: function (data) {
                    $("#historyItemModalBody").html(data);
                    $("#historyItemModal").modal("show");
                    //Function calling for fetching data
                    getCheckParameterValues(id);
                },
                error: function () {
                    showError("Something went wrong...");
                    hideLoader();
                }
            });
        });
    });
    //Function calling for fetching data
    function getCheckParameterValues(idParam) {
        showLoader();
        $.ajax({
            type: "GET",
            dataType: "json",
            url: GETSTARTUPEPGOODSOUTCHECKS,
            data: { id: idParam },
            success: function (data) {
                $("#submitStartupEPGoodsOut").hide();
                $("#cancelNotificationCheck").hide();
                $("#SwitchLightsOn").prop("checked", data.bSwitchLightsOn);
                $("#CheckElectric").prop("checked", data.bCheckElectric);
                $("#SwitchOnComputer").prop("checked", data.bSwitchOnComputer);
                $("#CheckBlade").prop("checked", data.bCheckBlade);
                $("#CheckHoldingFreezers").prop("checked", data.bCheckHoldingFreezers);
                $("#CheckDisplayTemperature").prop("checked", data.bCheckDisplayTemperature);
                $("#RingOffice").prop("checked", data.bRingOffice);
                $("#CollectOrder").prop("checked", data.bCollectOrder);
                $("#CheckAllStaffComply").prop("checked", data.bCheckAllStaffComply);
                $("#CheckAllStaffSuitably").prop("checked", data.bCheckAllStaffSuitably);

                //Disabling fields in edit mode
                if (data.iStartupChecksEPGoodsOut > 0) {
                    $(".check").attr('disabled', true);
                }

                hideLoader();
            },
            error: function () {
                debugger;
                showError("Something went wrong...");
                hideLoader();
            }
        });
    }

</script>