﻿@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.ChecksHistoryModel>

<table class="table notification-table">
    <thead>
        <tr>
            <th>DATE</th>
            <th>IS Performed</th>
            <th>PERFORMED BY </th>
            <th>PERFFORMED TIME</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var createdDate = string.Format("{0:dd/MM/yyyy}", item.CreatedDate != null ? item.CreatedDate : null);
            var createdTime = item.CreatedDate != null ? item.CreatedDate.Value.ToShortTimeString() : "";
            if (item.IsPerformed)
            {
                <tr class="cursor  startUpCheckItem" data-id="@item.Id">
                    <td>@createdDate</td>
                    <td>Yes</td>
                    <td>@item.CreatedBy</td>
                    <td>@createdTime</td>
                </tr>
            }
            else
            {
                <tr class="error">
                    <td>@createdDate</td>
                    <td>No</td>
                    <td></td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
<span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.Checks.DailyWeeklyChecks().AddRouteValues(new { page })), new PagedListRenderOptions() { DisplayLinkToLastPage = PagedListDisplayMode.Never, LiElementClasses = new List<string> { "liPage" } })</span>

<script type="text/javascript">
    $(document).ready(function () {

        $(".startUpCheckItem").on("click", function () {
            
            var id = $(this).attr("data-id");
            $.ajax({
                type: "GET",
                url: GETNOTIFICATIONMODEL,
                data: { notificationTypeId: 2, areaId: 0},
                success: function (data) {
                    $("#historyItemModalBody").html(data);
                    $("#historyItemModal").modal("show");
                    //Function calling for fetching data
                    getCheckParameterValues(id);
                    hideLoader();
                },
                error: function () {
                    showError("Something went wrong...");
                    hideLoader();
                }
            });
        });
    });
    //Function calling for fetching data
    function getCheckParameterValues(idParam) {
        showLoader();
        $.ajax({
            type: "GET",
            dataType: "json",
            url: GETDAILYCHECKS,
            data: { id: idParam},
            success: function (data) {
                $("#submitDailychecks").hide();
                $("#cancelNotificationCheck").hide();
                _.each(data, function(item) {
                    if (item.bIsChecked != null) {
                        $("#check_" + item.iStartUpCheckListId).prop("checked", item.bIsChecked);
                    } else {
                        $("#check_" + item.iStartUpCheckListId).val(item.vValue);
                    }

                    if ((item.iStartUpCheckListId === 15) && (item.bIsChecked === false))
                    { $(".bladeRecordsRow").hide(); }
                    else if ((item.iStartUpCheckListId === 15) && (item.bIsChecked === true))
                    { $(".bladeRecordsRow").show(); }

                    if (item.iStartUpCheckListId === 16)
                    { $("#redBlade").val(item.vValue); }
                    else if (item.iStartUpCheckListId === 17)
                    { $("#greenBlade").val(item.vValue); }
                    else if (item.iStartUpCheckListId === 18)
                    { $("#blackBlade").val(item.vValue); }

                    //Disabling fields in edit mode
                    if (item.iStartUpCheckListId > 0) {
                        $(".check").attr('disabled', true);
                    }
                });
                hideLoader();
            },
            error: function () {
                showError("Something went wrong...");
                hideLoader();
            }
        });
    }
    
</script>