﻿@model PunjabKitchen.Models.PureeMealBatchAssemblyCombinedModel
@{
    SelectList packersList = ViewBag.PackersList;
}
<div class="content-area">
    <div class="content-holder">
        <div class="bd-example tab-content-holder">
            <h2 class="inbox-title">Add Puree Meal Batch Assembly Record</h2>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li id="tab_1" class="nav-item active">
                    <a class="nav-link" data-toggle="tab" href="#home" role="tab" aria-controls="home">Product Detail</a>
                </li>
                <li id="tab_2" class="nav-item">
                    <a id="tab_2Link" onclick="tab2Event()" class="nav-link" href="#profile" role="tab" aria-controls="profile">Meal Components</a>
                </li>
                <li id="tab_3" class="nav-item">
                    <a id="tab_3Link" onclick="tab3Event()" class="nav-link" href="#messages" role="tab" aria-controls="messages">Time & Checks</a>
                </li>
            </ul>
            <form id="pureeMealBatchAssemblyForm" method="post" action="#" class="messageform">
                @Html.HiddenFor(m => m.PureeMealBatchAssembly.iPureeMeanBatchAssemblyId, new { id = "iPureeMeanBatchAssemblyId" })
                @Html.HiddenFor(m => m.PureeMealBatchAssemblyDetail.bCriticalCheck, new { id = "bCriticalCheck" })
                @Html.HiddenFor(m => m.PureeMealBatchAssembly.iNumberOfPacksInBlastFreezer, new { id = "iNumberOfPacksInBlastFreezer" })
                @Html.HiddenFor(m => m.packersList, new { id = "packersList" })
                @Html.HiddenFor(m => m.PureeMealBatchAssembly.iCookingPlanId, new { id = "CookingPlanId" })
                <input type="hidden" id="lastBatchNo" />
                <input type="hidden" id="lastPackersList" />
                <input type="hidden" id="latestMealInBlastId" />
                <fieldset>
                    <div class="tab-content">
                        <div class="tab-pane active" id="home" role="tabpanel">
                            <div class="row">
                                <div class="col-md-3 col-xs-4">
                                    <label class="required">Batch No</label>
                                    @Html.TextBoxFor(m => m.PureeMealBatchAssembly.tCookingPlan.vBatchNo, new { id = "vBactchNo", @required = "required", @maxlength = 6, autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.PureeMealBatchAssembly.tCookingPlan.vBatchNo, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3 col-xs-4">
                                    <label>Product Name</label>
                                    <input type="text" disabled="disabled" id="ProductName">
                                    @Html.HiddenFor(m => m.PureeMealBatchAssembly.vProductName, new { id = "vProductName" })
                                </div>
                                <div class="col-md-3 col-xs-4">
                                    <label class="required">Date</label>
                                    <div class="datepicker">
                                        @Html.HiddenFor(x => x.PureeMealBatchAssembly.dDate, new { id = "dDate" })
                                        <input type="text" id="dDatePicker" class="cursor" />
                                        @Html.ValidationMessageFor(m => m.PureeMealBatchAssembly.dDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <h6>Select Assembler</h6>
                            <div class="row">
                                <div class="col-md-3 col-xs-4 multiselect">
                                    <label class="required">Assembled by</label>
                                    @Html.DropDownListFor(m => m.PureeMealBatchAssembly.vAssembledBy, new SelectList(packersList.Items, "IntegerData", "StringData", 1), new { id = "packersDropdown", @class = "selectpicker", @multiple = "multiple", @required = "required" })
                                    @Html.ValidationMessageFor(m => m.PureeMealBatchAssembly.vAssembledBy, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="profile" role="tabpanel">
                            <h6>Meal Components</h6>
                            <div class="information-box">
                                <p>CCP - Critical Control Point 9a. Maximum Temperature of shape -15°C</p>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Shape</label>
                                    @Html.TextBoxFor(m => m.PureeMealBatchAssemblyDetail.vShape, new { id = "vShape", @required = "required", @maxlength = 50 })
                                    @Html.ValidationMessageFor(m => m.PureeMealBatchAssemblyDetail.vShape, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Batch No</label>
                                            @Html.TextBoxFor(m => m.PureeMealBatchAssemblyDetail.vShapeBatchNo, new { id = "vShapeBatchNo", @required = "required", @maxlength = 50 })
                                            @Html.ValidationMessageFor(m => m.PureeMealBatchAssemblyDetail.vShapeBatchNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label>Temp °C (Below -15°C) </label>
                                            @Html.TextBoxFor(m => m.PureeMealBatchAssemblyDetail.vShapeTemp, new { id = "vShapeTemp", @required = "required", @maxlength = 50 })
                                            @Html.ValidationMessageFor(m => m.PureeMealBatchAssemblyDetail.vShapeTemp, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <label>Time</label>
                                            <input type="text" id="dTimePicker" class="cursor">
                                            @Html.HiddenFor(m => m.PureeMealBatchAssemblyDetail.dTime, new { @required = "required", @id = "dTime" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>&nbsp;</label>
                                    <div>
                                        <button onclick="showRecordsList('Shape')" type="button" class="btn-default pull-right">View Shapes</button>
                                        <button onclick="submitShapeDetailForm()" type="button" class="btn-default">Add</button>
                                    </div>
                                </div>
                            </div>
                            <div class="information-box">
                                <p>CCP - Critical Control Point 9b. Maximum time from Cooking to freezing 3 hours</p>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Sauce</label>
                                    @Html.TextBoxFor(m => m.PureeMealBatchAssemblyDetail.vSauce, new { id = "vSauce", @required = "required", @maxlength = 50 })
                                    @Html.ValidationMessageFor(m => m.PureeMealBatchAssemblyDetail.vSauce, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Batch No</label>
                                            @Html.TextBoxFor(m => m.PureeMealBatchAssemblyDetail.vSauceBatchNo, new { id = "vSauceBatchNo", @required = "required", @maxlength = 50 })
                                            @Html.ValidationMessageFor(m => m.PureeMealBatchAssemblyDetail.vSauceBatchNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            <label>Temp °C</label>
                                            @Html.TextBoxFor(m => m.PureeMealBatchAssemblyDetail.vSauceTemp, new { id = "vSauceTemp", @required = "required", @maxlength = 50 })
                                            @Html.ValidationMessageFor(m => m.PureeMealBatchAssemblyDetail.vSauceTemp, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            <label>Time of transfer from prep</label>
                                            <input type="text" id="tSauceTimeOfTransferFromPrepTimePicker" class="cursor">
                                            @Html.HiddenFor(m => m.PureeMealBatchAssemblyDetail.tSauceTimeOfTransferFromPrep, new { @required = "required", @id = "tSauceTimeOfTransferFromPrep" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>&nbsp;</label>
                                    <div>
                                        <button onclick="showRecordsList('Sauce')" id="viewSauces" type="button" class="btn-default pull-right">View Sauces</button>
                                        <button onclick="submitSauceDetailForm()" id="addSauces" type="button" class="btn-default">Add</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Mash</label>
                                    @Html.TextBoxFor(m => m.PureeMealBatchAssemblyDetail.vMash, new { id = "vMash", @required = "required", @maxlength = 50 })
                                    @Html.ValidationMessageFor(m => m.PureeMealBatchAssemblyDetail.vMash, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label>Batch No</label>
                                            @Html.TextBoxFor(m => m.PureeMealBatchAssemblyDetail.vMashBatchNo, new { id = "vMashBatchNo", @required = "required", @maxlength = 50 })
                                            @Html.ValidationMessageFor(m => m.PureeMealBatchAssemblyDetail.vMashBatchNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            <label>Temp °C</label>
                                            @Html.TextBoxFor(m => m.PureeMealBatchAssemblyDetail.vMashTemp, new { id = "vMashTemp", @required = "required", @maxlength = 50 })
                                            @Html.ValidationMessageFor(m => m.PureeMealBatchAssemblyDetail.vMashTemp, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-6">
                                            <label>Time of transfer from prep</label>
                                            <input type="text" id="tMashTimeOfTransferFromPrepTimePicker" class="cursor">
                                            @Html.HiddenFor(m => m.PureeMealBatchAssemblyDetail.tMashTimeOfTransferFromPrep, new { @required = "required", @id = "tMashTimeOfTransferFromPrep" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>&nbsp;</label>
                                    <div>
                                        <button onclick="showRecordsList('Mash')" id="viewMashes" type="button" class="btn-default pull-right">View Mash</button>
                                        <button onclick="submitMashDetailForm()" id="addMash" type="button" class="btn-default">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="messages" role="tabpanel">
                            <div class="row">
                                <div class="col-md-8 timing-table">
                                    <div class="table-responsive">
                                        <table id="blastFreezerTable" class="table notification-table">
                                            <thead>
                                                <tr class="day">
                                                    <th>Time Started </th>
                                                    <th>Time of last pack into Blast Freezer </th>
                                                    <th>Number of Packs</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @try
                                                {
                                                    foreach (var item in Model.BlastFreezersList)
                                                    {
                                                        var tStartTime = @item.tStartTime == null ? "" : @item.tStartTime.Value.ToString("HH:mm");
                                                        var tLastPackTimeInFreezer = @item.tLastPackTimeInFreezer == null ? "" : @item.tLastPackTimeInFreezer.Value.ToString("HH:mm");

                                                        <tr data-id="@item.iPureeMealInBlastFreezerId">
                                                            <td>@tStartTime</td>
                                                            <td><input onfocusout="saveLastPackIntoBlastFreezer(@item.iPureeMealInBlastFreezerId)" value='@tLastPackTimeInFreezer' type='text' class='cursor' id="lastPackInput_@item.iPureeMealInBlastFreezerId"></td>
                                                            <td><input onfocusout="saveEditedTableData(@item.iPureeMealInBlastFreezerId)" value='@item.iNumberOfPacks' type='number' id="numberofPacksInput_@item.iPureeMealInBlastFreezerId"></td>
                                                            <td><span class="ico-cross cursor" onclick="deleteFreezerRecord('@item.iPureeMealInBlastFreezerId')"></span></td>
                                                        </tr>
                                                    }
                                                }
                                                catch (Exception)
                                                {
                                                    // ignored
                                                }

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td>
                                                        <p>&nbsp;</p>
                                                    </td>
                                                    <td>
                                                        <p>&nbsp;</p>
                                                    </td>
                                                    <td class="total-packs">
                                                        <p id="iNumberOfPacksLabel"></p>
                                                    </td>
                                                </tr>
                                                </
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <h6>CHECKS</h6>
                                    <div class="single-check-holder">
                                        <label class="switch yesno pull-right">
                                            @Html.HiddenFor(x => x.PureeMealBatchAssembly.bProductReleased, new { id = "bProductReleased" })
                                            <input type="checkbox" id="bProductReleasedCheck">
                                            <div class="slider round"></div>
                                        </label>
                                        <label for="">Product Released</label>
                                    </div>
                                    <div class="single-check-holder">
                                        <label class="switch yesno pull-right">
                                            @Html.HiddenFor(x => x.PureeMealBatchAssembly.bProductMeatsQA, new { id = "bProductMeatsQA" })
                                            <input type="checkbox" id="bProductMeatsQACheck">
                                            <div class="slider round"></div>
                                        </label>
                                        <label for="">Product meets QA Checks</label>
                                    </div>
                                    <div class="single-check-holder">
                                        <label class="switch yesno pull-right">
                                            @Html.HiddenFor(x => x.PureeMealBatchAssembly.bProductMeatsPackingQuality, new { id = "bProductMeatsPackingQuality" })
                                            <input type="checkbox" id="bProductMeatsPackingQualityCheck">
                                            <div class="slider round"></div>
                                        </label>
                                        <label for="">Product meets Packaging Quality</label>
                                    </div>
                                    <div class="single-check-holder">
                                        <label class="switch yesno pull-right">
                                            @Html.HiddenFor(x => x.PureeMealBatchAssembly.bProductMeatsSpecs, new { id = "bProductMeatsSpecs" })
                                            <input type="checkbox" id="bProductMeatsSpecsCheck">
                                            <div class="slider round"></div>
                                        </label>
                                        <label for="">Product meets Specification</label>
                                    </div>
                                    <h6>COMMENTS</h6>
                                    @Html.TextBoxFor(m => m.PureeMealBatchAssembly.vComments, new { id = "vComments", @required = "required", @maxlength = 50 })
                                    @Html.ValidationMessageFor(m => m.PureeMealBatchAssembly.vComments, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-holder addlocation-box">
                        <button type="button" class="btn-default" onclick="submitPureeMealBatchForm()">Submit</button>
                        <a class="btn-cancel cursor" onclick="cancelPureeMealBatchForm()">Cancel</a>
                        @if (Model != null && Model.PureeMealBatchAssembly != null && Model.PureeMealBatchAssembly.iPureeMeanBatchAssemblyId > 0)
                        {
                            @Html.ActionLink("Print", MVC.PureeMealBatchAssembly.PrintRecord(Model.PureeMealBatchAssembly.iPureeMeanBatchAssemblyId), new { target = "_blank", @class = "printLink" })
                        }
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div id="recordsListModal" class="modal fade" role="dialog">
    <div class="modal-dialog large-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title" id="myModalLabel">Meal Components List</h5>
            </div>
            <div class="modal-body">
                <div id="recordsList">
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Records/Packing/PureeMealBatchAssemblyRecord/CreatePureeMealBatchAssemblyRecord.js")