﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.PureeMealBatchAssembly>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}
<div class="content-holder">
    <div class="bd-example">
        <h2>Puree Meal Batch Assembly Records</h2>
        <div class="btn-addlocation">
            @Html.Hidden("canCreatePlan", "")
            <a id="createPureeMealBatchAssemblyRec">
                <input value="Create New" class="btn-default" type="button" />
            </a>
        </div>
        <div class="table-responsive">

            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager))
            {
                cursorClass = "cursor";
            }

            <table class="table notification-table">
                <thead>
                    <tr>
                        <th>DATE</th>
                        <th>BATCH NO.</th>
                        <th>PRODUCT</th>
                        <th>PRODUCT RELEASED</th>
                        <th>PRODUCT MEETS QA CHECKS</th>
                        <th>PRODUCT MEETS PACKAGING QUALITY</th>
                        <th>PRODUCT MEETS SPECIFICATION</th>
                        <th>NUMBER OF PACKS</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var date = Convert.ToDateTime(item.dDate).ToString("dd/MM/yyyy hh:mm:ss tt");
                        var bProductReleased = item.bProductReleased == true ? "Yes" : "No";
                        var bProductMeatsQa = item.bProductMeatsQA == true ? "Yes" : "No";
                        var bProductMeatsPackingQuality = item.bProductMeatsPackingQuality == true ? "Yes" : "No";
                        var bProductMeatsSpecs = item.bProductMeatsSpecs == true ? "Yes" : "No";
                        var vBatchNo = @item.tCookingPlan != null ? item.tCookingPlan.vBatchNo : "";
                        var editable = (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager)) ? "editable" : "";

                        <tr class="@cursorClass @editable" data-id="@item.iPureeMeanBatchAssemblyId">
                            <td>@date</td>
                            <td>@vBatchNo</td>
                            <td>@item.vProductName</td>
                            <td>@bProductReleased</td>
                            <td>@bProductMeatsQa</td>
                            <td>@bProductMeatsPackingQuality</td>
                            <td>@bProductMeatsSpecs</td>
                            <td>@item.iNumberOfPacksInBlastFreezer</td>
                            <td><a href="@Url.Action(MVC.PureeMealBatchAssembly.PrintRecord(item.iPureeMeanBatchAssemblyId))" target="_blank" class="printButton"><img src="~/images/ico-print-record.png" class="ico-action" alt="Print"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.PureeMealBatchAssembly.PureeMealBatchAssemblyRecords().AddRouteValues(new { page })))</span>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Records/Packing/PureeMealBatchAssemblyRecord/PureeMealBatchAssemblyRecord.js")