﻿@model IEnumerable<PunjabKitchen.Models.PureeMealBatchAssemblyDetail>

<div class="table-responsive">
    <table class="table notification-table">
        <thead>
            <tr>

                @if (ViewBag.MealComponent == "Shape")
                {
                    <th>Shape</th>
                }
                else if (ViewBag.MealComponent == "Sauce")
                {
                    <th>Sauce</th>
                }
                else if (ViewBag.MealComponent == "Mash")
                {
                    <th>Mash</th>
                }

                <th>BATCH NO.</th>

                @if (ViewBag.MealComponent == "Shape")
                {
                    <th>Temp °C (Below -15°C)</th>
                    <th>TIME</th>
                }
                else if (ViewBag.MealComponent == "Sauce")
                {
                    <th>TEMP °C</th>
                    <th>Time OF TRANSFER FROM PREP</th>
                }
                else if (ViewBag.MealComponent == "Mash")
                {
                    <th>TEMP °C</th>
                    <th>Time OF TRANSFER FROM PREP</th>
                }

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (ViewBag.MealComponent == "Shape")
                    {
                        var time = @item.dTime == null ? "" : @item.dTime.Value.ToString("HH:mm");
                        <td>@item.vShape</td>
                        <td>@item.vShapeBatchNo</td>
                        <td>@item.vShapeTemp</td>
                        <td>@time</td>
                    }
                    else if (ViewBag.MealComponent == "Sauce")
                    {
                        var tSauceTimeOfTransferFromPrep = @item.tSauceTimeOfTransferFromPrep == null ? "" : @item.tSauceTimeOfTransferFromPrep.Value.ToString("HH:mm");
                        <td>@item.vSauce</td>
                        <td>@item.vSauceBatchNo</td>
                        <td>@item.vSauceTemp</td>
                        <td>@tSauceTimeOfTransferFromPrep</td>
                    }
                    else if (ViewBag.MealComponent == "Mash")
                    {
                        var tMashTimeOfTransferFromPrep = @item.tMashTimeOfTransferFromPrep == null ? "" : @item.tMashTimeOfTransferFromPrep.Value.ToString("HH:mm");
                        <td>@item.vMash</td>
                        <td>@item.vMashBatchNo</td>
                        <td>@item.vMashTemp</td>
                        <td>@tMashTimeOfTransferFromPrep</td>
                    }

                </tr>
            }
        </tbody>
    </table>
</div>