﻿@model PunjabKitchen.Models.EmployeeAttendance

@{
    var employeeName = Model.AspNetUser != null ? Model.AspNetUser.FirstName + " " + Model.AspNetUser.LastName : "";
}

<form id="attendanceRecordForm" method="post" action="#" class="messageform">
    @Html.HiddenFor(m => m.iEmployeeId, new {id = "iEmployeeId"})
    @Html.HiddenFor(m => m.Sys_CreatedDateTime, new {id = "Sys_CreatedDateTime"})
    @Html.HiddenFor(m => m.dDateTime, new {id = "dDateTime" })

    <fieldset>
        <div class="row">
            <div class="col-xs-4">
                <label>Employee Name</label>
                <input type="text" value="@Model.EmployeeName" disabled="disabled"/>
            </div>
            <div class="col-xs-4">
                <label>Morning Break - Clock Out</label>
                @Html.TextBoxFor(m => m.dClockOutTime, new { @class = "cursor", @required = "required", @id = "dClockOutTimePicker", @Value = Model.dClockOutTime != null ? Model.dClockOutTime.Value.ToString("HH:mm") : "" })
            </div>
            <div class="col-xs-4">
                <label>Morning Break - Clock In</label>
                @Html.TextBoxFor(m => m.dClockInTime, new { @class = "cursor", required = "required", id = "dClockInTimePicker", Value = Model.dClockInTime != null ? Model.dClockInTime.Value.ToString("HH:mm") : "" })
            </div>
            <div class="col-xs-4">
                <label>Lunch Break - Clock Out</label>
                @Html.TextBoxFor(m => m.dLunchClockOutTime, new { @class = "cursor", @required = "required", @id = "dLunchClockOutTimePicker", @Value = Model.dLunchClockOutTime != null ? Model.dLunchClockOutTime.Value.ToString("HH:mm") : "" })              
            </div>
            <div class="col-xs-4">
                <label>Lunch Break - Clock In</label>
                @Html.TextBoxFor(m => m.dLunchClockInTime, new { @class = "cursor", @required = "required", @id = "dLunchClockInTimePicker", @Value = Model.dLunchClockInTime != null ? Model.dLunchClockInTime.Value.ToString("HH:mm") : "" })
            </div>
        </div>
    </fieldset>
    <div class="button-holder addlocation-box">
        <a href="#" value="Submit" class="btn btn-default" onclick="submitAttendanceRecForm()">Submit</a>
        <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
    </div>
</form>

@Scripts.Render("~/Scripts/Attendance/EditStaffAttendance.js")