﻿@{
    ViewBag.Title = "Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@using PunjabKitchen.Models.RequestModels
@model PagedClientViewModel
<div class="content-holder">
    <div class="bd-example">
        <h2>Employee Break Timesheet</h2>
        @*<div class="col-sm-3">
                <label class="required">From</label>
                <div class="datepicker">
                    @{
                        var dFromDate = Model.FromDate != null ? Model.FromDate.Date.ToString("dd/MM/yyyy") : DateTime.Now.ToString("dd/MM/yyyy");
                        <input type="text" id="FromDatePicker" class="cursor" required="required" value=@dFromDate/>
                        <input type="hidden" id="FromDate"/>
                    }
                </div>
            </div>
            <div class="col-sm-3">
                <label class="required">To</label>
                <div class="datepicker">
                    @{
                        var dToDate = Model.ToDate != null ? Model.ToDate.Date.ToString("dd/MM/yyyy") : DateTime.Now.ToString("dd/MM/yyyy");
                        <input type="text" id="ToDatePicker" class="cursor" required="required" value=@dToDate/>
                        <input type="hidden" id="ToDate" />
                    }
                </div>
            </div>
            <input value="Search" class="btn-default" type="button" style="width: 124px;" onclick="getAttendances()" />*@
        <div class="btn-addlocation">
            <button class="btn-default pull-right" id="clockInBtn" onclick="clockIn()" aria-disabled="True" style="margin-left: 5px;">Clock In</button>
            &nbsp;&nbsp;
            <button class="btn-default pull-right" id="clockOutBtn" onclick="clockOut()" aria-disabled="True">Clock Out</button>
        </div>
        <div class="table-responsive">
            <table class="table notification-table">
                <thead>
                @*<tr>
                            <th></th>
                            <th colspan="2">Morning Break</th>
                            <th colspan="2">Lunch Break</th>
                        </tr>*@
                <tr>
                    <th>Date</th>
                    <th>Morning Break - Clock Out</th>
                    <th>Morning Break - Clock In</th>
                    <th>Lunch Break- Clock Out</th>
                    <th>Lunch Break - Clock In</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Attendances)
                {
                    var dateTime = @item.dDateTime == null ? "" : item.dDateTime.ToString("ddd, dd-MM-yyyy");
                    var clockInTime = @item.dClockInTime == null ? "" : item.dClockInTime.Value.ToString("HH:mm");
                    var clockOutTime = @item.dClockOutTime == null ? "" : item.dClockOutTime.Value.ToString("HH:mm");
                    var clockInTimeLunch = @item.dLunchClockInTime == null ? "" : item.dLunchClockInTime.Value.ToString("HH:mm");
                    var clockOutTimeLunch = @item.dLunchClockOutTime == null ? "" : item.dLunchClockOutTime.Value.ToString("HH:mm");
                    <tr>
                        <td>@dateTime</td>
                        <td>@clockOutTime</td>
                        <td>@clockInTime</td>
                        <td>@clockOutTimeLunch</td>
                        <td>@clockInTimeLunch</td>
                    </tr>
                }
                @if (Model.Attendances.Count == 0)
                {
                    <tr>
                        <td colspan="3">
                            No Record Found!
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            @*Page @(Model.Attendances.PageCount < Model.Attendances.PageNumber ? 0 : Model.Attendances.PageNumber) of @Model.Attendances.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model.Attendances, page => Url.Action(MVC.Attendance.Index().AddRouteValues(new PagedClientViewModel { Page = page, FromDate = Model.FromDate, ToDate = Model.ToDate })))</span>
</div>
    </div>
</div>

@Scripts.Render("~/Scripts/Attendance/Index.js")