﻿
@{
    ViewBag.Title = "Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}
@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@using PunjabKitchen.Models.RequestModels
@*@model PagedList.IPagedList<PunjabKitchen.Models.EmployeeAttendance>*@
@model PagedClientViewModel
<div class="content-holder">
    <div class="bd-example">
        <h2>Staff Break History</h2>

        <div class="table-responsive">

            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager))
            {
                cursorClass = "cursor";
            }

            <table class="table notification-table">
                <thead>
                <tr>
                    <th>Date Time</th>
                    <th>Employee Name</th>
                    <th>Morning Break - Clock Out</th>
                    <th>Morning Break - Clock In</th>
                    <th>Lunch Break- Clock Out</th>
                    <th>Lunch Break - Clock In</th>
                </tr>
                </thead>

                <tbody>

                @if (Model.Attendances != null)
                {
                    foreach (var item in Model.Attendances)
                    {
                        var dateTime = @item.dDateTime == null ? "" : item.dDateTime.ToString("dd-MM-yyyy HH:mm");
                        var clockInTime = @item.dClockInTime == null ? "" : item.dClockInTime.Value.ToString("HH:mm");
                        var clockOutTime = @item.dClockOutTime == null ? "" : item.dClockOutTime.Value.ToString("HH:mm");
                        var name = item.AspNetUser != null ? item.AspNetUser.FirstName + " " + @item.AspNetUser.LastName : "";
                        var clockInTimeLunch = @item.dLunchClockInTime == null ? "" : item.dLunchClockInTime.Value.ToString("HH:mm");
                        var clockOutTimeLunch = @item.dLunchClockOutTime == null ? "" : item.dLunchClockOutTime.Value.ToString("HH:mm");

                        <tr class="@cursorClass" onclick="editAttendanceRecord(this)">
                            <td id="createdDateTime" value="@dateTime">@dateTime</td>
                            <td>@name</td>
                            <td>@clockOutTime</td>
                            <td>@clockInTime</td>
                            <td>@clockOutTimeLunch</td>
                            <td>@clockInTimeLunch</td>
                            <input type="hidden" id="employeeId" value="@item.iEmployeeId"/>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">
                            No Record Found!
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            @*Page @(Model.Attendances.PageCount < Model.Attendances.PageNumber ? 0 : Model.Attendances.PageNumber) of @Model.Attendances.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model.Attendances, page => Url.Action(MVC.Attendance.StaffAttendance().AddRouteValues(new PagedClientViewModel { Page = page, FromDate = Model.FromDate, ToDate = Model.ToDate })))</span>
</div>
    </div>
</div>

<div class="modal fade" id="editAttendanceRecModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog large-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span> </button>
                <h5 class="modal-title">Edit Attendance Record</h5>
            </div>
            <div class="modal-body">
                <div id="editAttendanceRec">
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Attendance/StaffAttendance.js")