﻿@model PunjabKitchen.Models.SlicingRecord

<form id="slicingRecordForm" method="post" action="#" class="messageform">

    @Html.HiddenFor(m => m.iSlicingRecordId)
    @Html.HiddenFor(m => m.bCriticalCheck, new {id= "bCriticalCheck" })

    <fieldset>
        <div class="row">
            <div class="col-xs-4">
                <label>Batch No.</label>
                @Html.TextBoxFor(m => m.vBatchNo, new { @id = "BatchNo", @required = "required", @maxlength = 6, autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.vBatchNo, "", new { @class = "text-danger"})
            </div>
            <div class="col-xs-4">
                <label>Product</label>
                @Html.TextBoxFor(x => x.tCookingPlan.tRecipe.vRecipeName, new { id = "ProductDescription", @disabled = "disabled" })
                @Html.HiddenFor(m => m.iCookingPlanId, new { id = "CookingPlanId" })
            </div>
            <div class="col-xs-4">
                <label>Trolley No.</label>
                @Html.TextBoxFor(m => m.iTrolleyNo, new {id = "iTrolleyNo", @required = "required", type = "number", @maxlength = 999999, @min = 1 })
                @Html.ValidationMessageFor(m => m.iTrolleyNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <label>Start Time</label>
                @Html.HiddenFor(x => x.tStartTime, new { id = "tStartTime" })
                @Html.TextBoxFor(m => m.tStartTime, new { @class="cursor", @required = "required", @id = "tStartTimePicker", @Value = Model.tStartTime != null ? Model.tStartTime.Value.ToString("HH:mm") : "" })
            </div>
            <div class="col-xs-4">
                <label>Pre-slicing Temperature<span class="smallerlab"> (Max+3 °C)</span></label>
                @Html.TextBoxFor(m => m.vTempProductMaxStart, new { id= "vTempProductMaxStart", @required = "required"})
                @Html.ValidationMessageFor(m => m.vTempProductMaxStart, "", new { @class = "text-danger"})
            </div>
            <div class="col-xs-2">
                <label>Finsh Time</label>
                @Html.HiddenFor(x => x.tFinishTime, new { id = "tFinishTime" })
                @Html.TextBoxFor(m => m.tFinishTime, new { @class = "cursor", @required = "required", @id = "tFinishTimePicker", @Value = Model.tFinishTime != null ? Model.tFinishTime.Value.ToString("HH:mm") : "" })
            </div>
            <div class="col-xs-4">
                <label>Post-slicing Temperature<span class="smallerlab"> (Max+3 °C)</span></label>
                @Html.TextBoxFor(m => m.vTempProductMaxEnd, new { id= "vTempProductMaxEnd", @required = "required"})
                @Html.ValidationMessageFor(m => m.vTempProductMaxEnd, "", new { @class = "text-danger"})
            </div>
        </div>
    </fieldset>
    <div class="button-holder addlocation-box">
        <a href="#" value="Submit" class="btn btn-default" onclick="submitSlicingRecForm()" >Submit</a>
        <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
        @if (Model != null && Model.iSlicingRecordId > 0)
        {
            @Html.ActionLink("Print", MVC.SlicingRecord.PrintRecord(Model.iSlicingRecordId), new { target = "_blank", @class = "printLink" })
        }
    </div>
</form>

@Scripts.Render("~/Scripts/Records/Cooking/Slicing/CreateSlicingRecord.js")
<script type="text/javascript">

    $("#iTrolleyNo").keypress(function (evt) {
        var self = $(this);
        self.val(self.val().replace(/[^\d].+/, ""));
        if ((evt.which < 48 || evt.which > 57) && (evt.which !== 8) && (evt.keyCode !== 46) && (evt.keyCode !== 37) && (evt.keyCode !== 39)) {
            evt.preventDefault();
        }
    });
    $("#vTempProductMaxStart").keypress(function (evt) {
        if (!(evt.which === 45 || (evt.which >= 48 && evt.which <= 57))) {
            evt.preventDefault();
        }
    });
    $("#vTempProductMaxEnd").keypress(function (evt) {
        if (!(evt.which === 45 || (evt.which >= 48 && evt.which <= 57))) {
            evt.preventDefault();
        }
    });
</script>