﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.SlicingRecord>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}

<div class="content-holder">
    <div class="bd-example">
        <h2>Slicing Records</h2>
        <div class="btn-addlocation">
            @Html.Hidden("canCreatePlan", "")
            <a href="#" id="SlicingRecordModal">
                <input value="Create New" class="btn-default" type="button" />
            </a>
        </div>
        <div class="table-responsive">

            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager))
            {
                cursorClass = "cursor";
            }

            <table class="table notification-table">
                <thead>
                <tr>
                    <th>DATE</th>
                    <th>PRODUCT</th>
                    <th>BATCH NO.</th>
                    <th>MAX START TEMP. °C</th>
                    <th>MAX END TEMP. °C</th>
                    <th>START TIME</th>
                    <th>FINISH TIME</th>
                    <th>PERFORMED BY</th>
                    @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager))
                    {
                        <th>MODIFIED BY</th>
                    }
                    <th></th>
                </tr>

                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    var createdDate = Convert.ToDateTime(item.Sys_CreatedDateTime).ToString("dd/MM/yyyy hh:mm:ss tt");

                    var startTime = @item.tStartTime == null ? "" : @item.tStartTime.Value.ToString("HH:mm");
                    var finishTime = @item.tFinishTime == null ? "" : @item.tFinishTime.Value.ToString("HH:mm");
                    var performedBy = item.Sys_CreatedBy != null ? item.AspNetUser.FirstName + " " + item.AspNetUser.LastName : string.Empty;
                    var modifiedBy = item.Sys_ModifyBy != null ? item.AspNetUser1.FirstName + " " + item.AspNetUser1.LastName : string.Empty;
                    var rowClass = @item.bCriticalCheck == true ? "error" : "";

                    var editable = (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager)) ? "editable" : "";

                    <tr class="@rowClass @cursorClass @editable" data-id="@item.iSlicingRecordId">
                        <td>@createdDate</td>
                        <td>@item.tCookingPlan.tRecipe.vRecipeName</td>
                        <td>@item.tCookingPlan.vBatchNo</td>
                        <td>@item.vTempProductMaxStart</td>
                        <td>@item.vTempProductMaxEnd</td>
                        <td>@startTime</td>
                        <td>@finishTime</td>
                        <td>@performedBy</td>
                        @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager))
                        {
                            <td>@modifiedBy</td>
                        }
                        <td><a href="@Url.Action(MVC.SlicingRecord.PrintRecord(item.iSlicingRecordId))" target="_blank" class="printButton"><img src="~/images/ico-print-record.png" class="ico-action" alt="Print"></a></td>
                    </tr>
                }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.SlicingRecord.Index().AddRouteValues(new { page })))</span>
        </div>
    </div>
</div>

<div class="modal fade" id="newSlicingRecModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog large-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span> </button>
                <h5 class="modal-title">Add Slicing Record</h5>
            </div>
            <div class="modal-body">
                <div class="information-box">
                    <p>Use small trolleys. Record temperature at start and end of each trolley meat. Use new line for each trolley.</p>
                    <p>CRITICAL CONTROL POINT (CCP) 6b, Product Max + 3 °C, Max time out of chiller 1 hour</p>
                </div>
                <div id="newSlicingRec">
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Records/Cooking/Slicing/SlicingRecord.js")
