﻿@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="central-content">
    <img src="~/images/center-logo.jpg" alt="Main Logo" class="main-logo">
    <h1>Production System</h1>
</div>


