﻿@*<a href="javascript:void(0)" data-toggle="modal" data-target="#CookingPickList">Cooking Pick List</a>*@

@{
    SelectList list = ViewBag.Unit;
}

<div class="modal fade" id="CookingPickList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog large-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/Images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title">Cooking Picklist</h5>
            </div>
            <div class="modal-body">
                <form id="cookingPiclListForm" method="post" action="#" class="messageform">
                    <fieldset>
                        <div class="row">
                            <div class="col-xs-2">
                                <label>Product No.</label>
                                @Html.TextBoxFor(m => m.vBatchCode, new { id = "BatchNo", @required = "required", @maxlength = 50, autocomplete = "off" })
                            </div>
                            <div class="col-xs-4">
                                <label>Product Description</label>
                                @Html.TextBoxFor(m => m.vDescription, new { @required = "required", @maxlength = 250 })
                            </div>
                            <div class="col-xs-6 pick-action">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label>Quantity <span class="available">(Available : 50kg)</span></label>
                                        @Html.TextBoxFor(m => m.iQuantity, new { @required = "required", @type = "number", @maxlength = 999999, @min = 1 })
                                    </div>
                                    <div class="col-xs-3">
                                        <label>Units</label>
                                        <div class="styled-select slate">
                                            @if (list != null) 
                                            {
                                              @Html.DropDownListFor(m => m.iUnitId, new SelectList(list.Items, "iUnitId", "vName", 1), new { @class = "cursor", @style = "-webkit-appearance: none;", @required = "required" })
                                            }
                                            @*@Html.DropDownListFor(m => m.iUnitId, new SelectList(list.Items, "iUnitId", "vName", 1), new { @class = "cursor", @style = "-webkit-appearance: none;", @required = "required" })*@
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <label>&nbsp;</label>
                                        <a href="#" class="btn-default">Pick</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="picklist-area">
                    <h2>Picklist</h2>
                    <div class="table-responsive">
                        <table class="table notification-table" id="tblDailyChecks">
                            <thead>
                                <tr>
                                    <th>PRODUCT CODE</th>
                                    <th>PRODUCT DESCRIPTION</th>
                                    <th>QUANTITY </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="noData">
                                    <td>No Data Available Yet.</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="button-holder addlocation-box">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>