﻿@model List<PunjabKitchen.Models.CleaningAreas>

<div class="row checks-status">

    @foreach (var cleaningArea in @Model)
    {
        var statusClass = @cleaningArea.IsPerformed ? "ico-ok" : "ico-cross";
        var headerClass = @cleaningArea.IsPerformed ? "check-performed" : "check-pending";
        <div class="col-xs-6">
            <div class="single-check @headerClass">
                <div class="header-area">
                    <span class=@statusClass></span>
                    <h6>@cleaningArea.vAreaName</h6>
                </div>
                <div class="info-area">
                    @if (cleaningArea.IsPerformed)
                    {
                        <div class="performed-by">
                            <strong class="pull-right">Time :&nbsp; <time class="time">@cleaningArea.PerformedDateTime.ToLongTimeString()</time></strong>
                            <strong>Performed by :&nbsp; <span class="name">@cleaningArea.PerformedBy</span></strong>
                        </div>
                    }
                    else
                    {
                        <a class="btn-default" href="#" onclick="performDailyCleaningCheck(@cleaningArea.iAreaId)">Perform Now</a>
                        <div class="performed-by">
                            <strong>Not Performed yet</strong>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

</div>
