﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@model PunjabKitchen.Models.Notification
@{
    List<SelectListItem> selectList = new List<SelectListItem>()
    {
        new SelectListItem() {Text="Goods In", Value="Goods In"},
        new SelectListItem() {Text="Boxing", Value="Boxing"},
        new SelectListItem() {Text="Cooking", Value="Cooking"},
        new SelectListItem() { Text="Goods Out", Value="Goods Out"},
        new SelectListItem() { Text="Packing", Value="Packing"}
        };

    List<SelectListItem> selectListForStaff = new List<SelectListItem>()
    {
        new SelectListItem() {Text="Admin", Value="Admin"}
        };
}
<div class="messageform">
    <form id="createNotificationForm">
        <fieldset>

            <label>Recipient</label>
            <div class="styled-select slate">
                @if (User.IsInAnyRole(PKRoles.Administrator))
                {
                    @Html.DropDownListFor(m => m.vProcess, new SelectList(selectList, "Value", "Text"), new { @class = "", @style = "-webkit-appearance: none;" })
                }
                else
                {
                    @Html.DropDownListFor(m => m.vProcess, new SelectList(selectListForStaff, "Value", "Text"), new { @class = "", @style = "-webkit-appearance: none;" })
                }
            </div>
            @Html.ValidationMessageFor(model => model.vProcess, "", new { @class = "text-danger" })

            <label class="required">Subject</label>
            @Html.TextBoxFor(m => m.vSubject, new { id = "vSubject", @required = "required", @maxlength = "50" })
            @Html.ValidationMessageFor(model => model.vSubject, "", new { @class = "text-danger", })

            <label class="required">Message</label>
            @Html.TextAreaFor(m => m.vDescription, new { id = "vDescription", @cols = "30", @rows = "10", @required = "required", @maxlength = "500" })
            @Html.ValidationMessageFor(model => model.vProcess, "", new { @class = "text-danger" })

            <div class="button-holder">
                @if (User.IsInAnyRole(PKRoles.Administrator))
                {
                    <a class="btn btn-default" onclick="submitNotification()">Create</a>
                }
                else
                {
                    <a class="btn btn-default" onclick="submitNotificationForPicklist()">Create</a>
                }
                <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>

@Scripts.Render("~/Scripts/Notifications/Notifications.js")