﻿@model IEnumerable<PunjabKitchen.Models.Notification>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bd-example">
    <h2>Inbox</h2>
    <div class="table-responsive">
        <table class="table notification-table">
            <thead>
            <tr>
                <th>TIME</th>
                <th>FROM</th>
                <th>DEPT</th>
                <th>SUBJECT</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                var createdDate = Convert.ToDateTime(item.Sys_CreatedDateTime).ToString("hh:mm tt");
                
                var rowActive = item.bEnabled == true ? "active" : "";
                <tr class=@rowActive onclick="performAction(this, @item.iNotificationId, @item.iNotificationTypeId)">
                    <td class="day">@createdDate</td>
                    <td>@Html.DisplayFor(modelItem => item.Sys_CreatedBy)</td>
                    <td>@Html.DisplayFor(modelItem => item.vProcess)</td>
                    <td id="subject">@Html.DisplayFor(modelItem => item.vSubject)</td>
                    @Html.HiddenFor(x => item.iNotificationTypeId, new {id = "notificationType"})
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
@{Html.RenderPartial("~/Views/Notifications/NotificationModals.cshtml");}
@Scripts.Render("~/Scripts/Notifications/Notifications.js")
