﻿<!--    Notification Modal- (I am on it) -->
<div id="notificationAction" class="modal fade small-modal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title" id="notificationActionTitle">Notification Action</h5>
            </div>
            <div class="modal-body">
                <div id='notificationActionBody'>
                    <fieldset>
                        <h3 id="notificationText"></h3>
                        <div class="button-holder">
                            <input id="assignNotificationButton" value="I am on it!" class="btn btn-default" type="button" onclick="assignNotification()" />
                            <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close">Dismiss</a>
                            <input type="hidden" id="selectedNotification" />
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

<!--    Assign Notification Modal    -->
<div id="assignNotificationModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  create-cooking-plan">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="cancelNotificationCheck()">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title" id="myModalLabel">Notification</h5>
            </div>
            <div class="modal-body">
                <div id='notifiactionModalBody'>
                </div>
            </div>
        </div>
    </div>
</div>

<!--    Shoes Cleaning Modal    -->
<div class="modal fade small-modal" id="ShoeCleaningCheck" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title">Shoe Cleaning Status</h5>
            </div>
            <div class="modal-body">
                <div class="status-holder">
                    <span class="update-status">Update Status:</span>
                    <label class="switch onoffswitch" for="shoeCleaningCheckBox">
                        <input type="checkbox" id="shoeCleaningCheckBox">
                        <div class="slider round"></div>
                    </label>
                </div>
                <div class="button-holder">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="submitShoeCleaning()">Submit</button>
                    <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cleaningCheckAreasModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog large-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title">Checks Information</h5>
            </div>
            <div class="modal-body">
                <div id="modal-cleaningAreas">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="reportingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog large-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title">Reporting</h5>
            </div>
            <div class="modal-body">
                <div id="reportingModalBody">
                    <div class="messageform">
                        <fieldset>
                            <div class="col-sm-6">
                                <label>Report</label>
                                <div class="styled-select slate">
                                    <select id="pkReportType" class="" style="-webkit-appearance: none;">
                                        <option value="GoodsIn">Goods In</option>
                                        <option value="CookingPlan">Cooking Plan</option>
                                        <option value="PackingPlan">Packing Plan</option>
                                        <option value="Boxing">Boxing</option>
                                        <option value="GoodsOut">Goods Out</option>
                                        <option value="StockCount">Stock Count</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>From</label>
                                <div class="datepicker">
                                    <input type="text" class="cursor mixedCaseBoxingRecItem" id="reportFromDate" required="required" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <label>To</label>
                                <div class="datepicker">
                                    <input type="text" class="cursor mixedCaseBoxingRecItem" id="reportToDate" required="required" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="button-holder">
                                    <input value="Generate Report" class="btn btn-default" style="width: 124px;" onclick="generateReport()"/>
                                    <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>