﻿
 
@model PunjabKitchen.Models.CanteenFridgeTempRecord

@using (Html.BeginForm("SaveCanteenFridgeTempDailyCheck", "Checks", FormMethod.Post, new {id="CanteenFridgeTempRecordForm"}))
{

    @Html.AntiForgeryToken()

    <fieldset>
        <h2>Canteen Fridge Temperature Records</h2>
        <div class="table-responsive">
            <table class="table notification-table">
                <thead>
                    <tr>
                        <th>FRIDGES</th>
                        <th class="required">TEMPERATURE &#8451;</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label>Fridge 1</label>
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Fridge1Temp, new { htmlAttributes = new { id = "Fridge1Temp", required="required" ,@class = "form-control check", @placeholder = "Fridge 1 Temp", @type= "number", min=-999999, max = 999999 } })
                            @Html.ValidationMessageFor(m => m.Fridge1Temp)
                    </td>
                        <td>
                            @Html.EditorFor(model => model.vFridge1Action, new {htmlAttributes = new { @id = "Fridge1Action", @class = "form-control", @placeholder = "Action Performed", maxlength = 50 } })
                            @Html.ValidationMessageFor(m => m.vFridge1Action)
                        </td>
                    </tr>
                    <tr>
                        <td><label>Fridge 2</label></td>
                        <td>
                            @Html.EditorFor(model => model.Fridge2Temp, new { htmlAttributes = new { @id = "Fridge2Temp", required = "required", @class = "form-control check", @placeholder = "Fridge 2 Temp", @type = "number", min = -999999, max = 999999 } })
                            @Html.ValidationMessageFor(m => m.Fridge2Temp)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.vFridge2Action, new {htmlAttributes = new { @id = "Fridge2Action", @class = "form-control", @placeholder = "Action Performed", maxlength = 50 } })
                            @Html.ValidationMessageFor(m => m.vFridge2Action)
                        </td>
                    </tr>
                    <tr>
                        <td><label>Fridge 3</label></td>
                        <td>
                            @Html.EditorFor(model => model.Fridge3Temp, new { htmlAttributes = new { @id = "Fridge3Temp", required = "required", @class = "form-control check", @placeholder = "Fridge 3 Temp", @type = "number", min = -999999, max = 999999} })
                            @Html.ValidationMessageFor(m => m.Fridge3Temp)
                        </td>
                        <td>
                            @Html.EditorFor(model => model.vFridge3Action, new {htmlAttributes = new { @id = "Fridge3Action", @class = "form-control", @placeholder = "Action Performed", maxlength = 50 } })
                            @Html.ValidationMessageFor(m => m.vFridge3Action)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="button-holder addlocation-box">
            <input value="Submit" class="btn btn-default" type="button" id="submitFridgeTempchecks" onclick="sbmtCantFrdgTempRec()"/>                
            <a href="#" class="btn-cancel" aria-label="Close" id="cancelNotificationCheck"  onclick="cancelNotificationCheck()">Cancel</a>
        </div>
    </fieldset>      
}

@Scripts.Render("~/Scripts/Checks/Daily/canteenFridgeTempRecord.js")

 