﻿
@model List<PunjabKitchen.Models.CleaningCheckListDaily>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="messageform">

        <fieldset>
            <h2>Daily Cleaning Checklist</h2>
            <div class="table-responsive">
                <table class="table notification-table" id="tblDailyChecks">
                    <thead>
                        <tr>
                            <th>ITEMS</th>
                            <th>PROC. REF</th>
                            <th>OP</th>
                            <th>RC</th>
                            <th>ISSUES/COMMENTS</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.vItem</td>
                                <td>@item.vProcRef</td>
                                <td>
                                    <label class="switch onoffswitch" for="OP_@(item.iAreaItemId)">
                                        <input type="checkbox" id="OP_@(item.iAreaItemId)" class="check">
                                        <div class="slider round"></div>
                                    </label>
                                </td>
                                <td>
                                    <label class="switch onoffswitch" for="RC_@(item.iAreaItemId)">
                                        <input type="checkbox" id="RC_@(item.iAreaItemId)" class="check">
                                        <div class="slider round"></div>
                                    </label>
                                </td>
                                <td>
                                    @Html.Editor("txtIssue", new {htmlAttributes = new { id = "txtIssue_" + item.iAreaItemId , @class = "form-control", maxlength = 50 } })
                                    @Html.ValidationMessage("txtIssue")
                                </td>
                                <td>
                                    @Html.Editor("txtAction", new {htmlAttributes = new { id = "txtAction_" + item.iAreaItemId, @class = "form-control", maxlength = 50 } })
                                    @Html.ValidationMessage("txtAction")
                                </td>
                                @Html.HiddenFor(x=>item.iAreaItemId, new {id = "areaItemId" })
                                @Html.HiddenFor(x=>item.iAreaId, new { id = "areaId" })
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <div class="button-holder addlocation-box">
                <a href="#" class="btn-cancel" aria-label="Close"  id="cancelNotificationCheck"  onclick="cancelNotificationCheck()">Cancel</a>
                <input value="Submit" class="btn btn-default pull-left" id="submitDailychecks" />
            </div>
        </fieldset>
    </div>
}
@Scripts.Render("~/Scripts/Checks/Daily/cleaningCheckList.js")