﻿
@model IEnumerable<PunjabKitchen.Models.StartupCheckList>

@using (Html.BeginForm())
{
    <div class="messageform lrchecksform">
        <h2>Start Up Checks - LR Cooking Room</h2>
        <div class="table-responsive">
            <table class="table notification-table" id="tblDailyChecks">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>CHECK/TICK ON COMPLETION</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.bIsBool != null && item.bIsBool == true)
                        {
                            <tr>
                                <td>@item.iStartUpCheckListId</td>
                                <td>@item.vCheck</td>
                                <td>
                                    <label class="switch onoffswitch" for="check_@(item.iStartUpCheckListId)">
                                        <input type="checkbox" id="check_@(item.iStartUpCheckListId)" class="check" onclick="bladeCheck()">
                                        <div class="slider round"></div>
                                    </label>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="row bladeRecordsRow">
                <div class="col-xs-4">
                    <label>Red Blade</label>
                    <input type="number" id="redBlade"class="check" />
                </div>
                <div class="col-xs-4">
                    <label>Green Blade</label>
                    <input type="number" id="greenBlade" class="check"/>
                </div>
                <div class="col-xs-4">
                    <label>Black Blade</label>
                    <input type="number" id="blackBlade" class="check"/>
                </div>
            </div>
        </div>

        <div class="button-holder addlocation-box">
            <input value="Submit" class="btn btn-default pull-right" id="submitDailychecks" />
            <a href="#" class="btn-cancel" aria-label="Close" id="cancelNotificationCheck" onclick="cancelNotificationCheck()">Cancel</a>
        </div>
    </div>
}
@Scripts.Render("~/Scripts/Checks/Daily/cookingStartup.js")