﻿@model IEnumerable<PunjabKitchen.Models.ChecksHistoryModel>

<fieldset>
    <h2>Shoe Cleaning Check Records</h2>
    <div class="table-responsive">
        <table class="table notification-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Perform Date:Time</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var performDate = string.Format("{0:dd/MM/yyyy}", item.CreatedDate != null ? item.CreatedDate : null);
                    var performTime = item.CreatedDate != null ? item.CreatedDate.Value.ToShortTimeString() : string.Empty;
                    var isPerformedClass = item.CreatedDate == null ? "error" : "";
                    <tr class=@isPerformedClass>
                        <td>@item.CreatedBy</td>
                        <td>@performDate @performTime</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</fieldset>