﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.FMDetectionAndPackWeightTest>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}
<div class="content-holder">
    <div class="bd-example">
        <h2>Metal Detection Test and Pack Weight Check Records</h2>
        <div class="btn-addlocation">
            @Html.Hidden("canCreatePlan", "")
            <a href="#" id="metalDetectionAndPackRecordModal">
                <input value="Create New" class="btn-default" type="button"/>
            </a>
        </div>
        <div class="table-responsive">

            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager))
            {
                cursorClass = "cursor";
            }

            <table class="table notification-table">
                <thead>
                <tr>
                    <th>DATE</th>
                    <th>LOCATION</th>
                    <th>PRODUCT</th>
                    <th>PRODUCT WEIGHT</th>
                    <th>FERROUS 2.0 mm</th>
                    <th>NON FERROUS 2.5 mm </th>
                    <th>REJECT MECHANISM WORKING</th>
                    <th>STAINLESS STEEL 4.5 mm</th>
                    <th>AVERAGE PACK WEIGHT (G)</th>
                    <th>MINIMUM PACK WEIGHT (G)</th>
                    <th>NOMINAL (LABEL) PACK WEIGHT (G)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    var createdDate = Convert.ToDateTime(item.Sys_CreatedDateTime).ToString("dd/MM/yyyy hh:mm:ss tt");
                    var recipeName = item.tCookingPlan.tRecipe.vRecipeName ?? string.Empty;
                    var ferrrous2_0mmPass = item.bFerrous2_0mmPass == true ? "Pass" : "Fail";
                    var bNonFerrous2_5mmPass = item.bNonFerrous2_5mmPass == true ? "Pass" : "Fail";
                    var bStainlessSteel4_5mmPass = item.bStainlessSteel4_5mmPass == true ? "Pass" : "Fail";
                    var bRejectMechnismWorking = item.bRejectMechnismWorking == true ? "Yes" : "No";

                    var editable = (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager)) ? "editable" : "";

                    <tr class="@cursorClass @editable" data-id="@item.iDetectionPackWeightTestId">
                        <td>@createdDate</td>
                        <td>@item.vLocation</td>
                        <td>@recipeName</td>
                        <td>@item.iProductWeight</td>
                        <td>@ferrrous2_0mmPass</td>
                        <td>@bNonFerrous2_5mmPass</td>
                        <td>@bRejectMechnismWorking</td>
                        <td>@bStainlessSteel4_5mmPass</td>
                        <td>@item.iAveragePackWeight</td>
                        <td>@item.iMinimumpackWeight</td>
                        <td>@item.iNominalPackWeight</td>
                        <td><a href="@Url.Action(MVC.MetalDetectionAndPackWeight.PrintRecord(item.iDetectionPackWeightTestId))" target="_blank" class="printButton"><img src="~/images/ico-print-record.png" class="ico-action" alt="Print"></a></td>
                    </tr>
                }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.MetalDetectionAndPackWeight.MetalDetectionAndPackWeightRecords().AddRouteValues(new { page })))</span>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Records/Packing/MetalDetectionAndPackWeightRecord/MetalDetectionAndPackWeightRecord.js")
