﻿@model PunjabKitchen.Models.GoodsOutPlan

@{
    List<SelectListItem> categoriesList = new List<SelectListItem>()
    {
        new SelectListItem() {Text="SOFT", Value="SOFT"},
        new SelectListItem() {Text="SOFT VEG", Value="SOFT VEG"},
        new SelectListItem() {Text="EASY", Value="EASY"},
        new SelectListItem() {Text="EASY VEG", Value="EASY VEG"},
        new SelectListItem() {Text="SNACK POTS", Value="SNACK POTS"},
        new SelectListItem() {Text="SHAPES", Value="SHAPES"}
        };
}

<div id="dialog-confirm"></div>

<form method="post" action="#" class="messageform" id="goodsOutPlanForm">
    <fieldset>
        <div class="row">
            <div class="onefifth">
                <label>Plan date</label>
                <div class="datepicker required">
                    <input type="text" class="cursor" id="goodsOutPlanDatePicker" required="required" />
                    @Html.HiddenFor(x => x.dDate, new { id = "dDate", required = "required" })
                </div>
            </div>
            <div class="onefifth" style="display:none;">
                <label>Batch No.</label>
                @Html.TextBoxFor(x => x.vBatchCode, new { max = 99999999, id = "vBatchCode" })
                @Html.ValidationMessageFor(m => m.vBatchCode)
            </div>
            <div class="twofifth">
                <label class="required">Category</label>
                <div class="styled-select slate">
                    @Html.DropDownListFor(m => m.vCategory, new SelectList(categoriesList, "Value", "Text"), new { @class = "cursor", @style = "-webkit-appearance: none;", @required = "required", @id = "ddlCategory", @onchange = "ddlCategory_onChange(this)" })
                    @Html.HiddenFor(x => x.vCategory, new { id = "vCategory", required = "required" })
                </div>
            </div>
            @if (Model.iGoodsOutPlanId == 0)
            {
                <div class="twofifth">
                    <label class="required">Category Description</label>
                    @Html.TextBoxFor(x => x.tGoodsOutPlanDetails[0].vCategoryDescription, new { id = "vCategoryDescription", autocomplete = "off", required = "required", maxlength="50" })
                </div>
            }
        </div>
        @if (Model.iGoodsOutPlanId == 0)
        {
            <div class="row">
                <div class="onefifth">
                    <label class="required">Product code</label>
                    @Html.TextBoxFor(x => x.tGoodsOutPlanDetails[0].tProduct.vProductCode, new { id = "ProductCode", autocomplete = "off", required = "required", maxlength = "6" })

                </div>
                <div class="twofifth">
                    <label class="required">Product description</label>
                    @Html.TextBoxFor(x => x.tGoodsOutPlanDetails[0].tProduct.vDescription, new { id = "ProductName", @disabled = "disabled", required = "required" })
                </div>
                <div class="onefifth">
                    <label class="required" style="float: left">Qty</label>
                    <span id="Quantity" class="information-box-label hide"></span>
                    @Html.TextBoxFor(x => x.tGoodsOutPlanDetails[0].vQuantity, new { id = "vQuantity", required = "required", autocomplete = "off", maxlength = "10" })
                    @Html.ValidationMessageFor(m => m.tGoodsOutPlanDetails[0].vQuantity)
                </div>
                <div class="onefifth">
                    <label class="required" style="float: left">No. of Meals</label>
                    <span id="NumberOfMeals" class="information-box-label hide"></span>
                    @Html.TextBoxFor(x => x.tGoodsOutPlanDetails[0].iNumberOfMeals, new { type = "number", id = "iNumberOfMeals", required = "required" })
                    @Html.ValidationMessageFor(m => m.tGoodsOutPlanDetails[0].vQuantity)
                </div>
            </div>
            @Html.HiddenFor(x => x.tGoodsOutPlanDetails[0].iProductId, new { id = "iProductId" })
            @Html.HiddenFor(x => x.tGoodsOutPlanDetails[0].iGoodsOutPlanDetailId, new { id = "iGoodsOutPlanDetailId" })
        }
        else
        {
            <br />
            <div class="row">
                <div class="table-responsive">
                    <table class="cursor table notification-table" id="tableGoodsOutPlan" style="width: 96%; margin-left:15px;">
                        <thead>
                            <tr>
                                <th>PRODUCT</th>
                                <th>PRODUCT DESCRIPTION</th>
                                <th>CATEGORY DESCRIPTION</th>
                                <th>QUANTITY</th>
                                <th>NO. OF MEALS</th>
                                <th></th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.tGoodsOutPlanDetails)
                            {
                                <tr data-id="@item.iGoodsOutPlanDetailId">
                                    <td>@item.tProduct.vProductCode</td>
                                    <td>@item.tProduct.vDescription</td>
                                    <td>@item.vCategoryDescription</td>
                                    <td>@item.vQuantity</td>
                                    <td>@item.iNumberOfMeals</td>
                                    <td><span class='ico-cross cursor' onclick="ConfirmDeletion(@item.iGoodsOutPlanDetailId)"></span></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        @Html.HiddenFor(x => x.iGoodsOutPlanId, new { id = "iGoodsOutPlanId" })
    </fieldset>
</form>
<div class="button-holder addlocation-box">
    @if (Model.iGoodsOutPlanId == 0)
    {
        <button type="button" id="nextButton" href="#" class="btn-default pull-right btn-next" onclick="nextGoodsOutPlanForm()">Next</button>
        <a href="#" class="btn btn-default" onclick="acceptForm(1)">Submit</a>
        <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
    }
    @if (Model != null && Model.iGoodsOutPlanId > 0)
    {
        @Html.ActionLink("Print", MVC.GoodsOutPlan.PrintRecord(Model.iGoodsOutPlanId), new { target = "_blank", @class = "printLink" })
    }
</div>

@Scripts.Render("~/Scripts/GoodsOutPlan/CreateGoodsOutPlan.js")