﻿@using PagedList.Mvc;
@model PagedList.IPagedList<PunjabKitchen.Models.GoodsOutPlan>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-holder">
    <div class="bd-example">
        <h2>Goods Out Plan</h2>
        <div class="btn-addlocation">
            <a href="#" class="btn-default" data-toggle="modal" id="CreateGoodsOutPlan">Create New</a>
        </div>
        <div class="table-responsive">
            <table class="cursor table notification-table">
                <thead>
                    <tr>
                        <th>DATE</th>
                        <th>CATEGORY</th>
                        <th>NO. OF ITEMS</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="goodsOutPlanItem" data-id="@item.iGoodsOutPlanId">
                            <td>@Convert.ToDateTime(item.dDate).ToString("dd-MM-yyyy")</td>
                            <td>@item.vCategory</td>
                            <td>@item.tGoodsOutPlanDetails.Count()</td>
                            <td>@Html.ActionLink(" ", MVC.GoodsOutPlan.PrintRecord(item.iGoodsOutPlanId), new { target = "_blank", @class = "printButton" })</td>
                        </tr>
                    }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.GoodsOutPlan.Index().AddRouteValues(new { page })))</span>
        </div>
    </div>
</div>

@Html.Hidden("hasChanges", new { id = "hasChanges" })

<div id="goodsOutPlanModal" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog large-modal create-goods-out-plan" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onClick="closingWindow();">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title" id="myModalLabel">Create Goods Out Plan</h5>
            </div>
            <div class="modal-body">
                <div id="goodsOutPlanBody">
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/GoodsOutPlan/GoodsOutPlan.js")