﻿@model PunjabKitchen.Models.DailyTruckInspection
<form id="DailyTruckInspectionForm">
    <div class="messageform lrchecksform">
        <h2>Pre-Operational Gas Fork Lift Truck Daily Inspection Sheet</h2>
        <div>
            <p>To comply with the Health and Safety Act 1974 for Fork Lift Truck Operations and subsequent regulations, a pre-shift inspection must be carried out to manufacturer's instructions. The truck must be parked in a non-hazard area and items listed must be examined/recorded in the relevant box applicable to the day today operation. It is also recommended that a weekly (or after 50 working hours) maintenance checks should be made. All working parts should be thoroughly examined at least once every six months, the date, truck type, maximum load and type of propulsion must be recorded. Truck only be operated by a certified member of staff and personal protective equipment must be worn.</p>
        </div>
        <h4>Fork Truck Information</h4>
        <div class="row">
            <div class="col-xs-4">
                <label class="required">Truck Type</label>
                @Html.TextBoxFor(m => m.vTruckType, new { id = "vTruckType", required="required" ,maxlength=50})
            </div>
            <div class="col-xs-4">
                <label class="required">Truck Make</label>
                @Html.TextBoxFor(m => m.vTruckMake, new { id = "vTruckMake", required = "required", maxlength = 50 })
            </div>
            <div class="col-xs-4">
                <label class="required">Max Load</label>
                @Html.TextBoxFor(m => m.iMaxLoad, new { id = "iMaxLoad", required = "required", min=0, max=999999})
                @Html.ValidationMessageFor(m => m.iMaxLoad, "", new { @class = "text-danger" })
            </div>
            <div class="col-xs-4">
                <label class="required">Propulsion</label>
                @Html.TextBoxFor(m => m.iPropulsion, new { id = "iPropulsion", required = "required", maxlength = 50 })
            </div>
            <div class="col-xs-4">
                <label>Changes</label>
                @Html.TextBoxFor(m => m.vChanges, new { id = "vChanges", maxlength = 50 })
            </div>
        </div>
        <div class="table-responsive">
            <table class="table notification-table" id="dailyTruckTable">
                <thead>
                    <tr>
                        <th>ITEMS TO CHECK</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1. Fork arms</td>
                        <td>
                            <label class="switch onoffswitch">
                                @Html.HiddenFor(m => m.bForkArms, new { id = "bForkArms" })
                                <input type="checkbox" id="ForkArms" class="check">
                                <div class="slider round"></div>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>2. Mast</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="Mast" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bMast, new { id = "bMast" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>3. Carriage Plate</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="CarriagePlate" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bCarriagePlate, new { id = "bCarriagePlate" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>4. Lift chain & lubrication</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="LiftChainAndLubrication" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bLiftChainAndLubrication, new { id = "bLiftChainAndLubrication" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>5. Wheels/Tyres</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="WheelAndTyres" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bWheelAndTyres, new { id = "bWheelAndTyres" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>6. Back rest</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="BackRest" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bBackRest, new { id = "bBackRest" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>7. Seat/ seat belt</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="SeatAndSeatBelt" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bSeatAndSeatBelt, new { id = "bSeatAndSeatBelt" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>8. Steering</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="Steering" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bSteering, new { id = "bSteering" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>9. Light/ indications</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="LightAndIndicators" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bLightAndIndicators, new { id = "bLightAndIndicators" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>10. Horn/ beeper etc</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="HornAndBeeper" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bHornAndBeeper, new { id = "bHornAndBeeper" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>11. Mast controls</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="MastController" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bMastController, new { id = "bMastController" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>12. Hand / parking brake</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="HandAndParkingBreak" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bHandAndParkingBreak, new { id = "bHandAndParkingBreak" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>13. Driving and service brake</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="DrivingAndServiceBreak" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bDrivingAndServiceBreak, new { id = "bDrivingAndServiceBreak" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>14. Hydraulics</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="Hydraulics" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bHydraulics, new { id = "bHydraulics" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>15. Oil Level</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="OilLevel" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bOilLevel, new { id = "bOilLevel" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>17. Fuel/ power</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="FuelAndPower" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bFuelAndPower, new { id = "bFuelAndPower" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>17. Batteries</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="Batteries" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bBatteries, new { id = "bBatteries" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>18. LPG</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="LPG" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bLPG, new { id = "bLPG" })
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <p>Any faults or damage found during the checks must be recorded. Any mechanical fault that is considered a Hazard to the safe operation of the truck must be immobilised and reporting procedures implemented. Any fuel or replenishment must be carried out to the manufacturer's recommendations. Any spillages or leaks must be reported and appropriate action taken. In case of emergency, shut all fuel valves and gas taps and implement reporting procedures.</p>
        </div>
        <div class="button-holder addlocation-box">
            <input id="submitDailyCheck" value="Submit" class="btn btn-default pull-right" onclick="submitDailyTruckCheck()" />
            <a href="#" class="btn-cancel" aria-label="Close" id="cancelNotificationCheck" onclick="cancelNotificationCheck()">Cancel</a>
        </div>
    </div>
</form>
@Scripts.Render("~/Scripts/Checks/Daily/GoodsOut/DailyTruckInspection.js")