﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GoodsOutChecksHistory";
}

<div class="bd-example">
    <h2 class="inbox-title">Goods Out Checks History</h2>
    <div class="row">
        <div class="col-xs-10">
            <div class="row">
                <div class="col-xs-4">
                    <label>Notification Type </label>
                    <div class="styled-select slate">
                        @Html.DropDownList("Filters", (SelectList)ViewBag.Filters, new { id = "DailyWeeklyChecksItems", @class = "cursor", onchange = "updateDailyWeelyCheck()" })
                    </div>
                </div>
                <div class="col-xs-4">
                    <label>From</label>
                    <div class="datepicker">
                        <input type="text" class="cursor" id="FromDateTimePicker" />
                    </div>
                </div>
                <div class="col-xs-4">
                    <label>To</label>
                    <div class="datepicker">
                        <input type="text" class="cursor" id="ToDateTimePicker" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 search-btn-holder">
            <a class="cursor btn-default" id="searchFilterBtn">Search</a>
        </div>
    </div>
    <h4 id="selectedCheckHeading"></h4>
    <div class="table-responsive" id="dailyWeeklyChecksBody">

    </div>
</div>

@Scripts.Render("~/Scripts/Checks/Daily/GoodsOut/DailyChecksHistory.js")