﻿@model PunjabKitchen.Models.GoodsOutFreezerUnit
<form id="GoodsOutFreezerUnitForm">
    <div class="messageform lrchecksform">
        <h2>Goods Out Freezer Unit 3 Temperature Record</h2>
        <div>
            <p>Record temperature twice a day for each unit.</p>
            <p>Temperature at or below -18°C. If not, report to Manager immediately.</p>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label class="required">Time</label>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.dTime, new {id = "dTimePicker", @class = "cursor check", required = "required" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label class="required">Freezer-1 Temperature °C</label>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.iFreezerTemp1, new {id = "iFreezerTemp1", @class= "check", required="required", min = 0, max = 999999})
                @Html.ValidationMessageFor(m => m.iFreezerTemp1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label class="required">Freezer-2 Temperature °C</label>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.iFreezerTemp2, new { id = "iFreezerTemp2", @class = "check", required = "required", min = 0, max = 999999})
                @Html.ValidationMessageFor(m => m.iFreezerTemp2, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label class="required">Freezer-3 Temperature °C</label>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.iFreezerTemp3, new { id = "iFreezerTemp3", @class = "check", required = "required", min = 0, max = 999999 })
                @Html.ValidationMessageFor(m => m.iFreezerTemp3, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label class="required">Freezer-4 Temperature °C</label>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.iFreezerTemp4, new {id = "iFreezerTemp4", @class = "check", required = "required" , min = 0, max = 999999})
                @Html.ValidationMessageFor(m => m.iFreezerTemp4, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label class="required">Freezer-5 Temperature °C</label>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.iFreezerTemp5, new { id = "iFreezerTemp5", @class = "check", required = "required", min = 0, max = 999999})
                @Html.ValidationMessageFor(m => m.iFreezerTemp5, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>Comments</label>
            </div>
            <div class="col-xs-6">
                @Html.TextBoxFor(m => m.vComments, new { id = "vComments", @class = "check", maxlength = 50 })
            </div>
        </div>
        <div class="button-holder addlocation-box">
            <input id="submitGoodsOutUnit" value="Submit" class="btn btn-default pull-right" onclick="submitGoodsOutFreezerUnitCheck()" />
            <a href="#" class="btn-cancel" aria-label="Close" id="cancelNotificationCheck" onclick="cancelNotificationCheck()">Cancel</a>
        </div>
    </div>
</form>
@Scripts.Render("~/Scripts/Checks/Daily/GoodsOut/GoodsOutFreezerUnit.js")
