﻿@model PunjabKitchen.Models.StartupChecksEPGoodsOut
<form id="StartupEPGoodsOutForm">
    <div class="messageform lrchecksform">
        <h2>Start Up Checks - EP Goods Out</h2>
        <div class="table-responsive">
            <table class="table notification-table" id="dailyTruckTable">
                <thead>
                    <tr>
                        <th>CHECK/TICK ON COMPLETION</th>
                        <th>STATUS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1. Switch lights on</td>
                        <td>
                            <label class="switch onoffswitch">                            
                                <input type="checkbox" id="SwitchLightsOn" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bSwitchLightsOn, new { id = "bSwitchLightsOn", @class="check" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>2. Check electric fly killers are working. Report any problems to Manager</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="CheckElectric" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bCheckElectric, new { id = "bCheckElectric", @class = "check" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>3. Switch on computer, Check scanner and thermometer available</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="SwitchOnComputer" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bSwitchOnComputer, new { id = "bSwitchOnComputer", @class = "check" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>4. Check blade and record</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="CheckBlade" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bCheckBlade, new { id = "bCheckBlade", @class = "check" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>5. Check holding freezers doors OK</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="CheckHoldingFreezers" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bCheckHoldingFreezers, new { id = "bCheckHoldingFreezers", @class = "check" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>6. Check display temperature of pallet freezer is below -18°C, if not call Manager</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="CheckDisplayTemperature" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bCheckDisplayTemperature, new { id = "bCheckDisplayTemperature", @class = "check" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>7. Ring office to organize if order forms are ready</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="RingOffice" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bRingOffice, new { id = "bRingOffice", @class = "check" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>8. Collect order forms</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="CollectOrder" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bCollectOrder, new { id = "bCollectOrder", @class = "check" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>9. Check all staff comply with the Personal Hygiene Rules (no jewellery, no personal items, hair covered, beard snoods etc.)</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="CheckAllStaffComply" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bCheckAllStaffComply, new { id = "bCheckAllStaffComply", @class = "check" })
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>10. Check all staff are suitably attired for freezer work - check overalls, coats, hats, gloves and boots</td>
                        <td>
                            <label class="switch onoffswitch">
                                <input type="checkbox" id="CheckAllStaffSuitably" class="check">
                                <div class="slider round"></div>
                                @Html.HiddenFor(m => m.bCheckAllStaffSuitably, new { id = "bCheckAllStaffSuitably", @class = "check" })
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="button-holder addlocation-box">
            <input id="submitStartupEPGoodsOut" value="Submit" class="btn btn-default pull-right" onclick="submitStartUpEPGoodsOutCheck()" />
            <a href="#" class="btn-cancel" aria-label="Close" id="cancelNotificationCheck" onclick="cancelNotificationCheck()">Cancel</a>
        </div>
    </div>
</form>
@Scripts.Render("~/Scripts/Checks/Daily/GoodsOut/StartUpEPGoodsOutCheck.js")
