﻿@model PunjabKitchen.Models.RegisterViewModel
@{
    ViewBag.Title = "Create";
}
<div class="bd-example">

    @using (Html.BeginForm(MVC.UsersAdmin.Create(), FormMethod.Post, new { id = "formUserRegistration", @class = "form-horizontal", role = "form", enctype = "multipart/form-data", onsubmit = "return canSubmit();" }))
    {
        @Html.AntiForgeryToken()
        <h2>Create a new account.</h2>
        <div class="row form-feilds-wrap">
            <div class="col-sm-6">
                @Html.LabelFor(model => model.FirstName, new { @class = "required" })
                @Html.TextBoxFor(m => m.FirstName, new { @class = "" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(model => model.LastName, new { @class = "required" })
                @Html.TextBoxFor(m => m.LastName, new { @class = "" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(model => model.Email, new { @class = "required" })
                @Html.TextBoxFor(m => m.Email, new { @class = "", id = "Email" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(model => model.Address, new { @class = "" })

                @Html.TextBoxFor(m => m.Address, new { @class = "" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(model => model.City, new { @class = "" })

                @Html.TextBoxFor(m => m.City, new { @class = "" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(model => model.State, new { @class = "" })

                @Html.TextBoxFor(m => m.State, new { @class = "" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(model => model.PostalCode, new { @class = "" })

                @Html.TextBoxFor(m => m.PostalCode, new { @class = "" })
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(model => model.Password, new { @class = "required"})
                @Html.PasswordFor(m => m.Password, new { @class = "", id = "Password" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="col-sm-6">
                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "" })

                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "", id = "ConfirmPassword" })
            </div>

            <div class="col-sm-6">
                @Html.LabelFor(model => model.UserPhoto, new { @class = "" })

                <input type="file" name="UserPhoto" id="fileUpload" accept="image/*" />
            </div>
        </div>
        <h4> Select User Role</h4>
        <div class="row">
            <div class="checkbox-area">
                @foreach (var item in (SelectList)ViewBag.RoleId)
                {
                    <div class="col-sm-4">
                        <div class="bottom-indent">
                            <input type="checkbox" name="SelectedRoles" value="@item.Value" class="" />
                            @Html.Label(item.Value, new { @class = "", style = "display: inline" })
                        </div>
                    </div>

                }
            </div>
        </div>
        <div class="action-buttons">
            <input type="submit" value="Create" class="btn-default" onclick="checkEmailValidity();" />
            <a href="@Url.Action(MVC.UsersAdmin.Index())" class="btn-default">Cancel</a>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    //#region Check Image Format
    function checkImageFormat() {
        var file = document.getElementById('fileUpload');
        if (file.value) {
            var parts = file.value.split('.');
            if ((parts[parts.length - 1].toLowerCase() === 'jpg') || (parts[parts.length - 1].toLowerCase() === 'jpeg') || (parts[parts.length - 1].toLowerCase() === 'png') || (parts[parts.length - 1].toLowerCase() === 'gif') || (parts[parts.length - 1].toLowerCase() === 'tif')) {
                return true;
            } else {
                showInfo("Please choose an image file.");
                return false;
            }
        } else {
            return true;
        }
    }
    //#endregion

    //#region Password Format Check
    function PasswordValidation() {
        var password = $("#Password").val();
        var minMaxLength = /^[\s\S]{6,32}$/, upper = /[A-Z]/, lower = /[a-z]/, number = /[0-9]/;

        if (!minMaxLength.test(password) || !upper.test(password) || !lower.test(password) || !number.test(password))
        {
            showInfo("Password Requirements: At least 1 Lower Case, 1 Upper Case, 1 Digit, 1 Special Character");
            return false;
        }

        if ($("#Password").val() !== $("#ConfirmPassword").val()) {
            showInfo("Password and Confirm Password should be equal.");
            return false;
        }

        return true;
    }
    //#endregion

    //#region Can Form Submit
    var isFormValid = false;
    function canSubmit() {
        return isFormValid;
    }
    //#endregion

    //#region Check Image Format
    function checkEmailValidity() {
        showLoader();
        var obj = {
            emailAddress: $("#Email").val()
        }

        $.ajax({
            type: "GET",
            url: CHECKEMAILVALIDITY,
            data: obj,
            success: function (result) {
                if (result.emailValidity === "Invalid") {
                    showError("Email Address already exists.");
                    hideLoader();
                } else {
                    debugger;
                    var imageValidation = checkImageFormat();
                    var passwordValidation = PasswordValidation();
                    if (imageValidation && passwordValidation) {
                        isFormValid = true;
                        $('#formUserRegistration').submit();
                        showSuccess("User successfully created.");
                        showInfo("Wait for the interface to re-load.");
                    } else {
                        hideLoader();                       
                    }
                }
            },
            error: function () {
                showError("Error in processing request.");
                hideLoader();
            }
        });
        return false;
    }
    //#endregion
</script>