﻿@model PunjabKitchen.Models.ApplicationUser

@{
    ViewBag.Title = "Delete";
}

<div class="bd-example">
    
    <h2>Are you sure you want to delete this User?</h2>
    
    <dl class="dl-horizontal">
        <dt>
            <label>User Name</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="action-buttons">
            <input type="submit" value="Delete" class="btn-default" />
            <a href="@Url.Action(MVC.UsersAdmin.Index())" class="btn-default">Cancel</a>
        </div>
       
    }
</div>
