﻿@model PunjabKitchen.Models.ApplicationUser
@{
    ViewBag.Title = "Details";
}

    <div class="bd-example">
        <h2>User Details</h2>
            <dl class="dl-horizontal">
                <dt><label>User Name</label></dt>
                <dd>@Html.DisplayFor(model => model.UserName)</dd>

                <dt><label>First Name</label></dt>
                <dd>@Html.DisplayFor(model => model.FirstName)</dd>

                <dt><label>Last Name</label></dt>
                <dd>@Html.DisplayFor(model => model.LastName)</dd>

                <dt><label>Address</label></dt>
                <dd>@Html.DisplayFor(model => model.Address)</dd>
            </dl>
        


        <h4>List of roles for this user</h4>
        @if (ViewBag.RoleNames.Count == 0)
        {
            <p>No roles found for this user.</p>
        }
        <table class="table admin-table">
            @foreach (var item in ViewBag.RoleNames)
            {
                <tr>
                    <td>
                        @item
                    </td>
                </tr>
            }
        </table>

        <div class="action-buttons">
            <a href="@Url.Action(MVC.UsersAdmin.Edit(Model.Id))" class="btn-default">Edit</a>
            <a href="@Url.Action(MVC.UsersAdmin.Index())" class="btn-default">Cancel</a>
        </div>
    </div>


