﻿@model PunjabKitchen.Models.EditUserViewModel
@{
    ViewBag.Title = "Edit";
}

<div class="bd-example">
    <h2>Edit User Form</h2>

    @using (Html.BeginForm(MVC.UsersAdmin.Edit(), FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data", onsubmit = "return checkImageFormat(document.getElementById('fileUpload'))" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.HiddenFor(model => model.Id)
            <div class="row">
                <div class="col-sm-6">
                    @Html.LabelFor(model => model.FirstName, new { @class = "required" })
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "" })
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(model => model.LastName, new { @class = "required" })
                    @Html.TextBoxFor(m => m.LastName, new { @class = "" })
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
                <div class="col-sm-6">

                    @Html.LabelFor(model => model.Email, new { @class = "required" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(model => model.Address, new { @class = "" })

                    @Html.TextBoxFor(m => m.Address, new { @class = "" })
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(model => model.City, new { @class = "" })

                    @Html.TextBoxFor(m => m.City, new { @class = "" })
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(model => model.State, new { @class = "" })

                    @Html.TextBoxFor(m => m.State, new { @class = "" })
                </div>
                <div class="col-sm-6">
                    @Html.LabelFor(model => model.PostalCode, new { @class = "" })

                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "" })
                </div>
                <div class="col-sm-6">
                    <label>Update User Photo</label>
                    <input type="file" name="UserPhoto" id="fileUpload" accept="image/*"/>
                    @Html.HiddenFor(m => m.UserPhoto)
                </div>
            </div>
            <h4>Roles</h4>
            <div class="row">
                <div class="checkbox-area">
                    @foreach (var item in Model.RolesList)
                {
                        <div class="col-sm-4">
                            <div class="bottom-indent">
                                <input type="checkbox" name="SelectedRole" value="@item.Value" checked="@item.Selected" class="" />
                                @Html.Label(item.Value, new { @class = "", style = "display: inline" })
                            </div>
                        </div>

                    }
                </div>
            </div>
            <div class="action-buttons">
                <input type="submit" value="Save" class="btn-default" />
                <a href="@Url.Action(MVC.UsersAdmin.Index())" class="btn-default">Cancel</a>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function checkImageFormat(file) {
        if (file.value) {
            var parts = file.value.split('.');
            if ((parts[parts.length - 1].toLowerCase() === 'jpg') || (parts[parts.length - 1].toLowerCase() === 'jpeg') || (parts[parts.length - 1].toLowerCase() === 'png') || (parts[parts.length - 1].toLowerCase() === 'gif') || (parts[parts.length - 1].toLowerCase() === 'tif')) {
                return true;
            } else {
                showInfo("Please choose an image file.");
                return false;
            }
        } else {
            return true;
        }
    }
</script>