﻿@using PagedList.Mvc
@using PunjabKitchen.Models
@model PagedList.IPagedList<PunjabKitchen.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    ApplicationRoleManager roleManager = ViewBag.RoleManager;
}
<div class="bd-example">
    <h2>Manage Users</h2>
    <div class="button-holder">
        <a href="@Url.Action(MVC.UsersAdmin.Create())" class="btn-default">Create New</a>
    </div>
    <br />
    <div class="table-responsive">
        <table class="table notification-table">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Address</th>
                    <th class="icon"></th>
                    <th class="icon"></th>
                    <th class="icon"></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                var fullname = item.FirstName + " " + item.LastName;

                List<string> roles = (from role in item.Roles select roleManager.Roles.FirstOrDefault(f => f.Id == role.RoleId) into _role where _role != null select _role.Name).ToList();

                <tr onclick="@Url.Action(MVC.UsersAdmin.Edit(item.Id))">
                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                    <td>@fullname</td>
                    <td>@string.Join(", ", roles)</td>
                    <td>@Html.DisplayFor(modelItem => item.DisplayAddress)</td>
                    <td><a href="@Url.Action(MVC.UsersAdmin.Edit(item.Id))"><img src="~/images/ico-edit.png" class="ico-action" alt="Edit"></a></td>
                    <td><a href="@Url.Action(MVC.UsersAdmin.Details(item.Id))"><img src="~/images/ico-info.png" class="ico-action" alt="Details"></a></td>
                    <td><a href="@Url.Action(MVC.UsersAdmin.Delete(item.Id))"><img src="~/images/ico-del.png" class="ico-action" alt="Delete"></a></td>
                </tr>
            }
        </table>
        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
        <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.UsersAdmin.Index().AddRouteValues(new {page})))</span>
    </div>
</div>

