﻿@model PunjabKitchen.Models.PureeShapesRecordCombinedModel
@{
    SelectList list = ViewBag.Unit;
    SelectList batchCodesList = ViewBag.BatchCodesList;
}

<form id="PureeShapesStarchRecordForm" method="post" action="#" class="messageform">

    @Html.HiddenFor(m => m.PureeShapeStarchRecord.iPureeShapeStarchRecordId, new { id = "iPureeShapeStarchRecordId" })
    @Html.HiddenFor(m => m.PureeShapeStarchRecord.Sys_CreatedBy, new { id = "Sys_CreatedBy" })
    @Html.HiddenFor(m => m.BatchCodesList, new { id = "batchCodesList" })
    @Html.HiddenFor(m => m.PureeShapesStarchAdditionRecord.iPureeShapeStarchRecordAdditionId, new { id = "iPureeShapeStarchRecordAdditionId" })

    <fieldset>
        <div class="row">
            <div class="col-xs-4 multiselect">
                <label class="required">Batch Code</label>
                @Html.DropDownListFor(m => m.PureeShapesStarchRecordDetail.vBatchCode, new SelectList(batchCodesList.Items, "IntegerData", "StringData", 1), new { id = "vBatchCode", @class = "selectpicker", @multiple = "multiple", @required = "required" })
                @Html.ValidationMessageFor(m => m.PureeShapesStarchRecordDetail.vBatchCode, "", new { @class = "text-danger" })
            </div>
            <div class="col-xs-4">
                <label class="required">Product</label>
                @Html.TextBoxFor(m => m.PureeShapeStarchRecord.vProductName, new {id = "vProductName", maxlength = "50", @required = "required", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.PureeShapeStarchRecord.vProductName, "", new {@class = "text-danger"})
            </div>
            <div class="col-xs-4">
                <div class="row smaller-indent">
                    <div class="col-xs-6">
                        <label class="required">Amount (Kg)</label>
                        @Html.TextBoxFor(m => m.PureeShapeStarchRecord.iProductAmount, new { id = "iProductAmount", @required = "required", min = "1", max = "999999", type = "number" })
                        @Html.ValidationMessageFor(m => m.PureeShapeStarchRecord.iProductAmount, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-6">
                        <label class="required">Total (Kg)</label>
                        <input type="number" id="vTotal" disabled="disabled">
                        @Html.HiddenFor(m => m.PureeShapeStarchRecord.vTotal, new { id = "Total", @required = "required"})
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="row smaller-indent">
                    <div class="col-xs-6">
                        <label class="required">Ultra-Tex 2 (g)</label>
                        @Html.TextBoxFor(m => m.PureeShapeStarchRecord.iUltraTex2, new { id = "iUltraTex2", @required = "required", min = "1", max = "999999", type = "number" })
                        @Html.ValidationMessageFor(m => m.PureeShapeStarchRecord.iUltraTex2, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-6">
                        <label class="required">Batch Code</label>
                        @Html.TextBoxFor(m => m.PureeShapeStarchRecord.vUltraTex2BatchNo, new { id = "vUltraTex2BatchNo", @required = "required", maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.PureeShapeStarchRecord.vUltraTex2BatchNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="row smaller-indent">
                    <div class="col-xs-6">
                        <label class="required">Metalose (g)</label>
                        @Html.TextBoxFor(m => m.PureeShapeStarchRecord.iMetalose, new { id = "iMetalose", @required = "required", min = "1", max = "999999", type = "number" })
                        @Html.ValidationMessageFor(m => m.PureeShapeStarchRecord.iMetalose, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-6">
                        <label class="required">Batch Code</label>
                        @Html.TextBoxFor(m => m.PureeShapeStarchRecord.vMetaloseBatchNo, new { id = "vMetaloseBatchNo", @required = "required", maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.PureeShapeStarchRecord.vMetaloseBatchNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="row smaller-indent">
                    <div class="col-xs-6">
                        <label class="required">Purity W (g)</label>
                        @Html.TextBoxFor(m => m.PureeShapeStarchRecord.iPurityW, new { id = "iPurityW", @required = "required", min = "1", max = "999999", type = "number" })
                        @Html.ValidationMessageFor(m => m.PureeShapeStarchRecord.iPurityW, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-6">
                        <label class="required">Batch Code</label>
                        @Html.TextBoxFor(m => m.PureeShapeStarchRecord.vPurityWBatchNo, new { id = "vPurityWBatchNo", @required = "required", maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.PureeShapeStarchRecord.vPurityWBatchNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="firstDiv" hidden="hidden" class="col-xs-4">
                <div class="row smaller-indent">
                    <div class="col-xs-6">
                        <label>Addition Name</label>
                        @Html.TextBoxFor(m => m.PureeShapesStarchAdditionRecord.vAdditionName, new { id = "vAdditionName", maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.PureeShapesStarchAdditionRecord.vAdditionName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-6">
                        <label>Batch Code</label>
                        @Html.TextBoxFor(m => m.PureeShapesStarchAdditionRecord.vAdditionBatchNo, new { id = "vAdditionBatchNo", maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.PureeShapesStarchAdditionRecord.vAdditionBatchNo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div id="secondDiv" hidden="hidden" class="col-xs-4">
                <div class="row smaller-indent">
                    <div class="col-xs-6">
                        <label>Amount</label>
                        @Html.TextBoxFor(m => m.PureeShapesStarchAdditionRecord.vAdditionAmount, new { id = "vAdditionAmount", min = "1", max = "999999", type = "number" })
                        @Html.ValidationMessageFor(m => m.PureeShapesStarchAdditionRecord.vAdditionAmount, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-6">
                        <label>Unit</label>
                        @Html.DropDownListFor(m => m.PureeShapesStarchAdditionRecord.iAdditionUnit, new SelectList(list.Items, "iUnitId", "vName", 1), new { id = "iAdditionUnit", @class = "cursor" })
                        @Html.ValidationMessageFor(m => m.PureeShapesStarchAdditionRecord.iAdditionUnit, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <label>&nbsp;</label>
                <button id="AdditionButton" type="button" class="btn btn-default" onclick="addAdditionProduct()">Add More</button>
            </div>
        </div>
    </fieldset>
</form>
<div class="picklist-area">
    <h2>Additions List</h2>
    <div class="table-responsive">
        <table class="table notification-table" id="additionsTable">
            <thead>
                <tr>
                    <th>ADDITION NAME</th>
                    <th>ADDITION BATCH CODE</th>
                    <th>ADDITION WEIGHT</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @try
                {
                    if (Model.PureeShapeStarchRecord.iPureeShapeStarchRecordId > 0)
                    {
                        foreach (var item in Model.PureeShapesStarchAdditionRecordsList)
                        {
                            var additionAmount = item.vAdditionAmount + " " + item.tUnit.vName;

                            <tr data-id="@item.iPureeShapeStarchRecordAdditionId">
                                <td>@item.vAdditionName</td>
                                <td>@item.vAdditionBatchNo</td>
                                <td>@additionAmount</td>
                                <td><span class='ico-cross cursor' onclick="deleteAdditionItem(@item.iPureeShapeStarchRecordAdditionId)"></span></td>
                            </tr>
                        }
                    }
                }
                catch (Exception)
                {
                    // ignored
                }
            </tbody>
        </table>
    </div>
</div>
<div class="button-holder addlocation-box">
    <button id="submitButton" type="button" class="btn btn-default" onclick="submitPureeShapeStarchForm()">Submit</button>
    <button id="doneButton" type="button" class="btn btn-default" onclick="donePureeShapeStarchForm()">Done</button>
    <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close" onclick="cancelPureeShapeStarchForm()">Cancel</a>
    @if (Model != null && Model.PureeShapeStarchRecord != null && Model.PureeShapeStarchRecord.iPureeShapeStarchRecordId > 0)
    {
        @Html.ActionLink("Print", MVC.PureeShapeStarchRecord.PrintRecord(Model.PureeShapeStarchRecord.iPureeShapeStarchRecordId), new { target = "_blank", @class = "printLink" })
    }
</div>
@Scripts.Render("~/Scripts/Records/Packing/PureeShapeStarchRecord/PureeShapeStarchRecordCreate.js")