﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.PureeShapeStarchRecord>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}
<div class="content-holder">
    <div class="bd-example">
        <h2>Puree Shape Starch Records</h2>
        <div class="btn-addlocation">
            @Html.Hidden("canCreatePlan", "")
            <a href="#" id="pureeShapeStarchRecordModal">
                <input value="Create New" class="btn-default" type="button" />
            </a>
        </div>
        <div class="table-responsive">
            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager))
            {
                cursorClass = "cursor";
            }
            <table class="table notification-table">
                <thead>
                    <tr>
                        <th>DATE</th>
                        <th>PRODUCT</th>
                        <th>PRODUCT AMOUNT (KG)</th>
                        <th>ULTRA-TEX 2 (G)</th>
                        <th>METALOSE (G)</th>
                        <th>PURITY W (G)</th>
                        <th>TOTAL (KG)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var createdDate = Convert.ToDateTime(item.Sys_CreatedDateTime).ToString("dd/MM/yyyy hh:mm:ss tt");
                        var editable = (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager)) ? "editable" : "";

                        <tr class="@cursorClass @editable" data-id="@item.iPureeShapeStarchRecordId">
                            <td>@createdDate</td>
                            <td>@item.vProductName</td>
                            <td>@item.iProductAmount</td>
                            <td>@item.iUltraTex2</td>
                            <td>@item.iMetalose</td>
                            <td>@item.iPurityW</td>
                            <td>@item.vTotal</td>
                            <td><a href="@Url.Action(MVC.PureeShapeStarchRecord.PrintRecord(item.iPureeShapeStarchRecordId))" target="_blank" class="printButton"><img src="~/images/ico-print-record.png" class="ico-action" alt="Print"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.PureeShapeStarchRecord.PureeShapesStarchRecords().AddRouteValues(new { page })))</span>
        </div>
    </div>
</div>
<div id="newPureeShapeStarchRecModal" class="modal fade" role="dialog">
    <div class="modal-dialog large-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title" id="myModalLabel">Add Puree Shape Starch Record</h5>
            </div>
            <div class="modal-body">
                <div id="newPureeShapeStarchRec">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>
@Scripts.Render("~/Scripts/Records/Packing/PureeShapeStarchRecord/PureeShapeStarchRecordList.js")