﻿
@model PunjabKitchen.Models.ColdDesertPackingRecord

<form id="coldDessertPackingRecordForm" method="post" action="#" class="messageform">

    @Html.HiddenFor(m => m.iColdDesertPackingRecordId)

    <div class="modal-body">

        <fieldset>
            <div class="information-box">
                <p>HACCP - Frozen Ready Meal - Cold Dessert Process - Critical Control Point - CCP 7c</p>
                <p>CRITICAL LIMIT - Maximum time of 1 hour from finish of mixing until last tray into the Blast Freezer</p>
            </div>
            <div class="row">
                <div class="onefifth">
                    <label class="required">Batch No.</label>
                    @Html.TextBoxFor(m => m.vBatchNo, new { id= "vBatchNo", @required = "required", maxlength = "6", autocomplete = "off" })
                    @Html.ValidationMessageFor(m => m.vBatchNo, "", new { @class = "text-danger"})
                </div>
                <div class="twofifth">
                    <label>Product</label>
                    @Html.TextBoxFor(m => m.tCookingPlan.tRecipe.vRecipeName, new { id = "ProductDescription", @disabled = "disabled" })
                </div>
                <div class="twofifth">
                    <label class="required">Time Ex Mixing</label>
                    @Html.HiddenFor(m => m.tTimeExMixing, new { @required = "required", id = "tTimeExMixing" })
                    <input class="cursor" type="text" id="tTimeExMixingPicker"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <label class="required">Time of Last Tray into Blast Breezer</label> 
                    @Html.HiddenFor(m => m.tTimeOfLastTrayInBlastFreezer, new { @required = "required", id = "tTimeOfLastTrayInBlastFreezer" })
                    <input class="cursor" type="text" id="tTimeOfLastTrayInBlastFreezerPicker"/>
                </div> 
                <div class="col-xs-4">
                    <label>Time Taken - Max 1 hour</label>
                    @Html.HiddenFor(m => m.tTimeTaken, new { id = "tTimeTaken" })
                    <input type="text" id="tTimeTakenPicker" disabled="disabled">
                </div> 
            </div>
            @Html.HiddenFor(m => m.iColdDesertPackingRecordId, new { id = "ColdDesertPackingRecordId" })
            @Html.HiddenFor(x => x.bCriticalCheck, new { id = "bCriticalCheck" })
            @Html.HiddenFor(m => m.iCookingPlanId, new { id = "CookingPlanId" })
        </fieldset>
        <div class="button-holder">
            <a value="Save" class="btn btn-default" onclick="submitColdDessertPackingRecForm()">Submit</a>
            <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
            @if (Model != null && Model.iColdDesertPackingRecordId > 0)
            {
                @Html.ActionLink("Print", MVC.ColdDessertPacking.PrintRecord(Model.iColdDesertPackingRecordId), new { target = "_blank", @class = "printLink" })
            }
        </div>
    </div>
</form>

@Scripts.Render("~/Scripts/Records/Packing/ColdDessertPackingRecord/CreateColdDessertPackingRecord.js")