﻿@model PunjabKitchen.Models.BatchChangeCheckPureeRecord
<div class="content-area">
	<div class="content-holder">
		<div class="bd-example tab-content-holder">
			<h2 class="inbox-title">Add Batch Change Check Puree Record </h2>
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li id="tab_1" class="nav-item active">
					<a class="nav-link" data-toggle="tab" href="#home" role="tab" aria-controls="home">Batch Change Checks <i class="fa"></i></a>
				</li>
				<li id="tab_2" class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Labels <i class="fa"></i></a>
				</li>
			</ul>
		    <form id="batchChangeCheckPureeRecordForm" method="post" action="#" class="messageform">
                @Html.HiddenFor(m => m.iBatchChangeChkPureeRecrdId, new { id = "iBatchChangeChkPureeRecrdId" })
		        <fieldset>
		        <div class="tab-content">
		            <div class="tab-pane active" id="home" role="tabpanel">
		                <div class="row">
                            <div class="col-xs-4">
                                <label class="required">Product Code</label>
                                @Html.TextBoxFor(m => m.tRecipe.vRecipeCode, new { id = "ProductCode", @required = "required", autocomplete = "off" })
                                @Html.HiddenFor(m => m.iRecipeId, new { id = "recipeId" })
                                @Html.ValidationMessageFor(m => m.tRecipe.vRecipeCode, "", new { @class = "text-danger" })
                            </div>
		                    <div class="col-xs-4">
		                        <label>Product Name</label>
		                        @Html.TextBoxFor(m => m.tRecipe.vRecipeName, new { disabled="disabled", @id = "ProductName", @maxlength = 50})
		                        @Html.ValidationMessageFor(m => m.tRecipe.vRecipeName, "", new {@class = "text-danger"})
		                    </div>
		                    <div class="col-xs-4">
		                        <label class="required">Packaging Type</label>
		                        @Html.TextBoxFor(m => m.vPackageType, new {id = "PackagingType", @required = "required", @maxlength = 50})
		                        @Html.ValidationMessageFor(m => m.vPackageType, "", new {@class = "text-danger"})
		                    </div>
		                    <div class="col-xs-4">
		                        <label class="required">Packaging Size</label>
		                        @Html.TextBoxFor(m => m.iPackagingSize, new {@id = "PackagingSize", @required = "required", min = 1, max = 999999, type = "number"})
		                        @Html.ValidationMessageFor(m => m.iPackagingSize, "", new {@class = "text-danger"})
		                    </div>
		                    <div class="col-xs-4">
		                        <label class="required">Packaging Batch No.</label>
		                        @Html.TextBoxFor(m => m.vPackagingBatchNo, new {@id = "ProductBatchNo", @required = "required", min = 1, max = 999999, type = "number"})
		                        @Html.ValidationMessageFor(m => m.vPackagingBatchNo, "", new {@class = "text-danger"})
		                    </div>
		                    <div class="col-xs-4">
		                        <label class="required">Lid / Film Batch No.</label>
		                        @Html.TextBoxFor(m => m.vLid_FilmBatchNo, new {@id = "LidFilmBatchNo", @required = "required", min = 1, max = 999999, type = "number"})
		                        @Html.ValidationMessageFor(m => m.vLid_FilmBatchNo, "", new {@class = "text-danger"})
		                    </div>
		                </div>
		                <h6>CHECKS</h6>
		                <div class="row">
		                    <div class="col-md-8 col-xs-12 checks-area">
		                        <div class="row">
		                            <div class="col-xs-6">
		                                <label class="switch yesno">
		                                    @Html.HiddenFor(x => x.bEquipVisualHygenChk, new {id = "bEquipVisualHygenChk"})
		                                    <input type="checkbox" id="bEquipVisualHygenCheck">
		                                    <div class="slider round"></div>
		                                </label>
		                                <label>Equipment Visual Hygiene </label>
		                            </div>
		                            <div class="col-xs-6">
		                                <label class="switch yesno">
		                                    @Html.HiddenFor(x => x.bOldPackagesLablesCleared, new {id = "bOldPackagesLablesCleared"})
		                                    <input type="checkbox" id="bOldPackagesLablesClearedCheck">
		                                    <div class="slider round"></div>
		                                </label>
		                                <label>Old Packaging Labels Cleared away</label>
		                            </div>
		                        </div>
		                        <div class="row">
		                            <div class="col-xs-6">
		                                <label class="switch yesno">
		                                    @Html.HiddenFor(x => x.bCheckStart, new {id = "bCheckStart"})
		                                    <input type="checkbox" id="bCheckStartCheck">
		                                    <div class="slider round"></div>
		                                </label>
		                                <label>Check Start</label>
		                            </div>
		                            <div class="col-xs-6">
		                                <label class="switch yesno">
		                                    @Html.HiddenFor(x => x.bCheckDuring, new {id = "bCheckDuring"})
		                                    <input type="checkbox" id="bCheckDuringCheck">
		                                    <div class="slider round"></div>
		                                </label>
		                                <label>Check During </label>
		                            </div>
		                        </div>
		                        <div class="row">
		                            <div class="col-xs-6">
		                                <label class="switch yesno">
		                                    @Html.HiddenFor(x => x.bCheckIfChange, new {id = "bCheckIfChange"})
		                                    <input type="checkbox" id="bCheckIfChangeCheck">
		                                    <div class="slider round"></div>
		                                </label>
		                                <label>Check if Change</label>
		                            </div>
		                            <div class="col-xs-6">
		                                <label class="switch yesno">
		                                    @Html.HiddenFor(x => x.bCheckEnd, new {id = "bCheckEnd"})
		                                    <input type="checkbox" id="bCheckEndCheck">
		                                    <div class="slider round"></div>
		                                </label>
		                                <label>Check End</label>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <div class="tab-pane" id="profile" role="tabpanel">
		                <div class="row">
		                    <div class="onefifth">
		                        <label>Label Product Code</label>
		                        @Html.TextBoxFor(m => m.vProductCode, new { id = "vProductCode", autocomplete = "off" })
		                        @Html.ValidationMessageFor(m => m.vProductCode, "", new {@class = "text-danger"})
		                    </div>
		                    <div class="onefifth">
		                        <label class="required">Label Type</label>
		                        @Html.TextBoxFor(m => m.vLabelType, new {@required = "required", @maxlength = 50 })
		                        @Html.ValidationMessageFor(m => m.vLabelType, "", new {@class = "text-danger"})
		                    </div>
		                    <div class="onefifth">
		                        <label class="required">Label Weight</label>
		                        @Html.TextBoxFor(m => m.iLabelWeight, new { @id = "iLabelWeight", @required = "required", min = 1, max = 999999, type = "number" })
		                        @Html.ValidationMessageFor(m => m.iLabelWeight, "", new {@class = "text-danger"})
		                    </div>
		                    <div class="onefifth">
		                        <label class="required">Label Batch No.</label>
		                        @Html.TextBoxFor(m => m.vLabelBatchNo, new { @id = "vLabelBatchNo", @required = "required", min = 1, max = 999999, type = "number" })
		                        @Html.ValidationMessageFor(m => m.vLabelBatchNo, "", new {@class = "text-danger"})
		                    </div>
		                    <div class="onefifth ">
		                        <label class="required">Label Best Before End</label>
		                        @Html.HiddenFor(x => x.dLabelBestBeforeEnd, new {id = "dLabelBestBeforeEnd"})
		                        <input type="text" id="dLabelBestBeforeEndDatePicker" required="required" class="cursor"/>
		                        @Html.ValidationMessageFor(m => m.dLabelBestBeforeEnd, "", new {@class = "text-danger"})
		                    </div>
		                </div>
		                <h6>CHECKS</h6>
		                <div class="row">
		                    <div class="col-md-8 col-xs-12 checks-area">
		                        <div class="row">
		                            <div class="col-xs-6">
		                                <label class="switch yesno">
		                                    @Html.HiddenFor(x => x.bCheckPrintPositionlegibility, new {id = "bCheckPrintPositionlegibility"})
		                                    <input type="checkbox" id="bCheckPrintPositionlegibilityCheck">
		                                    <div class="slider round"></div>
		                                </label>
		                                <label for="">Check Print Position and Legibility</label>
		                            </div>
		                            <div class="col-xs-6">
		                                <label class="switch yesno">
		                                    @Html.HiddenFor(x => x.bAllergin, new {id = "bAllergin"})
		                                    <input type="checkbox" id="bAllerginCheck">
		                                    <div class="slider round"></div>
		                                </label>
		                                <label for="">Allergen</label>
		                            </div>
		                        </div>
		                        <div class="row">
		                            <div class="col-xs-6">
		                                <label class="switch yesno">
		                                    @Html.HiddenFor(x => x.bCheckLabelStart, new {id = "bCheckLabelStart"})
		                                    <input type="checkbox" id="bCheckLabelStartCheck">
		                                    <div class="slider round"></div>
		                                </label>
		                                <label for="">Check Label Start </label>
		                            </div>
		                            <div class="col-xs-6">
		                                <label class="switch yesno">
		                                    @Html.HiddenFor(x => x.bCheckLabelDuring, new {id = "bCheckLabelDuring"})
		                                    <input type="checkbox" id="bCheckLabelDuringCheck">
		                                    <div class="slider round"></div>
		                                </label>
		                                <label for="">Check During </label>
		                            </div>
		                        </div>
		                        <div class="row">
		                            <div class="col-xs-6">
		                                <label class="switch yesno">
		                                    @Html.HiddenFor(x => x.bCheckLabelIfChange, new {id = "bCheckLabelIfChange"})
		                                    <input type="checkbox" id="bCheckLabelIfChangeCheck">
		                                    <div class="slider round"></div>
		                                </label>
		                                <label for="">Check if Change</label>
		                            </div>
		                            <div class="col-xs-6">
		                                <label class="switch yesno">
		                                    @Html.HiddenFor(x => x.bCheckLabelEnd, new {id = "bCheckLabelEnd"})
		                                    <input type="checkbox" id="bCheckLabelEndCheck">
		                                    <div class="slider round"></div>
		                                </label>
		                                <label for="">Check End</label>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="button-holder addlocation-box">
		            <a href="#" value="Submit" class="btn-default" onclick="submitBatchChangeCheckPureeRecForm()">Submit</a>
		            <a href="#" class="btn-cancel" onclick="cancelBatchChangeCheckPureeRecForm()">Cancel</a>
                    @if (Model != null && Model.iBatchChangeChkPureeRecrdId > 0)
                    {
                        @Html.ActionLink("Print", MVC.BatchChangeCheckPuree.PrintRecord(Model.iBatchChangeChkPureeRecrdId), new { target = "_blank", @class = "printLink" })
                    }
		        </div>
		        </fieldset>
		    </form>
		</div>
	</div>
</div>
@Scripts.Render("~/Scripts/Records/Packing/BatchChangeCheckPureeRecord/CreateBatchChangeCheckPureeRecord.js")