﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.BatchChangeCheckPureeRecord>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}
<div class="content-holder">
    <div class="bd-example">
        <h2>Batch Change Check Puree Packing Records</h2>
        <div class="btn-addlocation">
            @Html.Hidden("canCreatePlan", "")
            <a href="#" id="batchChangeCheckPureeRecordModal">
                <input value="Create New" class="btn-default" type="button" />
            </a>
        </div>
        <div class="table-responsive">

            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager))
            {
                cursorClass = "cursor";
            }

            <table class="table notification-table">
                <thead>
                <tr>
                    <th>DATE</th>
                    <th>PRODUCT</th>
                    <th>PACKAGING TYPE</th>
                    <th>PACKAGING SIZE</th>
                    <th>PACKAGING BATCH NO.</th>
                    <th>LID/FILM BATCH NO.</th>
                    <th>LABEL TYPE</th>
                    <th>LABEL WEIGHT</th>
                    <th>LABEL BEST BEFORE END</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    var createdDate = Convert.ToDateTime(item.Sys_CreatedDateTime).ToString("dd/MM/yyyy hh:mm:ss tt");
                    var bestBeforeEndDate = String.Format("{0:dd/MM/yyyy}", item.dLabelBestBeforeEnd);
                    var editable = (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager)) ? "editable" : "";

                    <tr class="@cursorClass @editable" data-id="@item.iBatchChangeChkPureeRecrdId">
                        <td>@createdDate</td>
                        <td>@item.tRecipe.vRecipeName</td>
                        <td>@item.vPackageType</td>
                        <td>@item.iPackagingSize</td>
                        <td>@item.vPackagingBatchNo</td>
                        <td>@item.vLid_FilmBatchNo</td>
                        <td>@item.vLabelType</td>
                        <td>@item.iLabelWeight</td>
                        <td>@bestBeforeEndDate</td>
                        <td><a href="@Url.Action(MVC.BatchChangeCheckPuree.PrintRecord(item.iBatchChangeChkPureeRecrdId))" target="_blank" class="printButton"><img src="~/images/ico-print-record.png" class="ico-action" alt="Print"></a></td>
                    </tr>
                }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.BatchChangeCheckPuree.BatchChangeCheckPureePackingRecords().AddRouteValues(new { page })))</span>
</div>
    </div>
</div>

@Scripts.Render("~/Scripts/Records/Packing/BatchChangeCheckPureeRecord/BatchChangeCheckPureeRecord.js")
