﻿@model PunjabKitchen.Models.PortionWeightRecordWithDetail

<form id="portionWeightCheckForm" method="post" action="#" class="messageform">

    @Html.HiddenFor(m => m.PortionWeightCheck.iPortionWeightCheckId, new { id = "iPortionWeightCheckId" })
    @Html.HiddenFor(m => m.PortionWeightCheckDetail.iPortionWeightCheckDetailId, new { id = "iPortionWeightCheckId" })
    @Html.HiddenFor(m => m.PortionWeightCheck.Sys_CreatedBy, new { id = "Sys_CreatedBy" })

    <fieldset>
        <div class="row">
            <div class="col-xs-4">
                <div class="row smaller-indent">
                    <div class="col-xs-6">
                        <label class="required">Location</label>
                        @Html.TextBoxFor(m => m.PortionWeightCheck.vLocation, new { id = "vLocation", @required = "required", @maxlength = 50 })
                        @Html.ValidationMessageFor(m => m.PortionWeightCheck.vLocation, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-xs-6">
                        <label class="required">Batch No</label>
                        @Html.TextBoxFor(m => m.PortionWeightCheck.vBatchNo, new { id = "vBatchNo", @required = "required", autocomplete = "off" })
                        @Html.HiddenFor(m => m.PortionWeightCheck.iCookingPlanId, new { id = "CookingPlanId" })
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <label>Product Name </label>
                @Html.TextBoxFor(x => x.PortionWeightCheck.tCookingPlan.tRecipe.vRecipeName, new { id = "ProductDescription", @disabled = "disabled" })
            </div>
            <div class="col-xs-4">
                <label>Product Weight (g)</label>
                <input id = "ProductWeight" type="number" max="999999" min="0" disabled="disabled"/>
                @Html.HiddenFor(m => m.PortionWeightCheck.iProductWeight, new { id = "iProductWeight"})
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label class="required">Portion Name</label>
                @Html.TextBoxFor(m => m.PortionWeightCheckDetail.vPortionName, new { id = "vPortionName", @required = "required", @maxlength = 250 })
                @Html.ValidationMessageFor(m => m.PortionWeightCheckDetail.vPortionName, "", new { @class = "text-danger" })
            </div>
            <div class="col-xs-4">
                <label class="required">Portion Weight (g)</label>
                @Html.TextBoxFor(m => m.PortionWeightCheckDetail.iPortionWeight, new { id = "iPortionWeight", type = "number", @required = "required", max = 999999, min = 0 })
                @Html.ValidationMessageFor(m => m.PortionWeightCheckDetail.iPortionWeight, "", new { @class = "text-danger" })
            </div>
            <div class="col-xs-4">
                <label class="required">Check Weight (g)</label>
                @Html.TextBoxFor(m => m.PortionWeightCheckDetail.iPortionCheckWeight, new { id = "iPortionCheckWeight", type = "number", @required = "required", max = 999999, min = 0 })
                @Html.ValidationMessageFor(m => m.PortionWeightCheckDetail.iPortionCheckWeight, "", new { @class = "text-danger" })
            </div>
        </div>
    </fieldset>
</form>
<div class="picklist-area">
    <h2>Portions List</h2>
    <div class="table-responsive">
        <table class="table notification-table" id="portionsTable">
            <thead>
            <tr>
                <th>PORTION NAME</th>
                <th>PORTION WEIGHT (G)</th>
                <th>CHECK WEIGHT (G)</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="button-holder addlocation-box">
    <button id="nextButton" type="button" class="btn btn-default pull-right btn-next" onclick="nextPortionCheckWeightRecForm()">Add</button>
    <button id="submitDoneButton" type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close" onclick="submitCompletedForm()">Done</button>
    <button id="editDoneButton" type="button" class="btn btn-default" onclick="submitPortionCheckWeightRecForm()">Done</button>
    @if (Model != null && Model.PortionWeightCheck != null && Model.PortionWeightCheck.iPortionWeightCheckId > 0)
    {
        @Html.ActionLink("Print", MVC.PortionWeightsCheckPacking.PrintRecord(Model.PortionWeightCheck.iPortionWeightCheckId), new { target = "_blank", @class = "printLink" })
    }
</div>
@Scripts.Render("~/Scripts/Records/Packing/PortionWeightCheckRecord/CreatePortionWeightCheck.js")