﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.PortionWeightCheckDetail>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}
<div class="content-holder">
    <div class="bd-example">
        <h2>Portion Weight Check Records</h2>
        <div class="btn-addlocation">
            @Html.Hidden("canCreatePlan", "")
            <a href="#" id="createPortionWeightCheckRec">
                <input value="Create New" class="btn-default" type="button" />
            </a>
        </div>
        <div class="table-responsive">

            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager))
            {
                cursorClass = "cursor";
            }

            <table class="table notification-table">
                <thead>
                <tr>
                    <th>DATE</th>
                    <th>LOCATION</th>
                    <th>PRODUCT</th>
                    <th>PRODUCT WEIGHT (G)</th>
                    <th>PORTION NAME</th>
                    <th>PORTION WEIGHT (G)</th>
                    <th>PORTION CHECK WEIGHT (G)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    var createdDate = Convert.ToDateTime(item.Sys_CreatedDateTime).ToString("dd/MM/yyyy hh:mm:ss tt");
                    var recipeName = item.tPortionWeightCheck.tCookingPlan.tRecipe.vRecipeName ?? string.Empty;

                    var editable = (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.PackingManager)) ? "editable" : "";

                    <tr class="@cursorClass @cursorClass @editable" data-id="@item.iPortionWeightCheckId">
                        <td>@createdDate</td>
                        <td>@item.tPortionWeightCheck.vLocation</td>
                        <td>@recipeName</td>
                        <td>@item.tPortionWeightCheck.iProductWeight</td>
                        <td>@item.vPortionName</td>
                        <td>@item.iPortionWeight</td>
                        <td>@item.iPortionCheckWeight</td>
                        <td><a href="@Url.Action(MVC.PortionWeightsCheckPacking.PrintRecord(item.iPortionWeightCheckId))" target="_blank" class="printButton"><img src="~/images/ico-print-record.png" class="ico-action" alt="Print"></a></td>
                    </tr>
                }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.PortionWeightsCheckPacking.PortionWeightCheckPackingRecords().AddRouteValues(new { page })))</span>
        </div>
    </div>
</div>
<div id="portionWeightCheckRecModal" class="modal fade" role="dialog">
    <div class="modal-dialog large-modal">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title" id="myModalLabel">Add Portion Weight Check Record</h5>
            </div>
            <div class="modal-body">
                <div id="portionWeightCheckRecModalBody">
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Records/Packing/PortionWeightCheckRecord/PortionWeightCheck.js")