﻿@model PunjabKitchen.Models.FMDetectionAndPackWeightTest

<div class="content-area">
    <div class="content-holder">
        <div class="bd-example">
            <h2 class="inbox-title">Check Weights of Ten Individual Packs And Metal Detection Checks</h2>
            <div class="row instructions-area">
                <div class="col-md-7 col-xs-12">
                    <p>
                        Metal Detection Frequency: At Start and end of each batch and every hour (Critical Control Point CCP 10) Weight Pass: Average Weight is more than Minimum Pack Weight  
                    </p>
                </div>
            </div>
            <form id="spotWeightAndMetalCheckRecordForm" method="post" action="#" class="messageform pageform">

                @Html.HiddenFor(m => m.iDetectionPackWeightTestId, new { id = "iDetectionPackWeightTestId" })
                <input type="hidden" id="weightCount" />
                <input type="hidden" id="selectedWeight" />

                <fieldset>
                    <div class="row fields-row">
                        <div class="col-xs-3">
                            <label class="required">Location </label>
                            @Html.TextBoxFor(m => m.vLocation, new { id = "vLocation", @required = "required", @maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.vLocation, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-xs-3">
                            <label class="required">Batch Code</label>
                            @Html.TextBoxFor(m => m.vBatchNo, new { id = "vBatchNo", @required = "required", autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.vBatchNo, "", new { @class = "text-danger" })
                            @Html.HiddenFor(m => m.iCookingPlanId, new { id = "CookingPlanId" })
                        </div>
                        <div class="col-xs-3">
                            <label>Product Name </label>
                            <input type="text" disabled="disabled" id="ProductDescription" />
                            @Html.HiddenFor(m => m.tCookingPlan.tRecipe.vRecipeName, new { id = "vRecipeName" })
                        </div>
                        <div class="col-xs-3">
                            <label>Product Weight (g)</label>
                            <input id="ProductWeight" type="number" max="999999" min="0" disabled="disabled" />
                            @Html.HiddenFor(m => m.iProductWeight, new { id = "iProductWeight" })
                        </div>
                    </div>
                    <div class="row fields-row">
                        <div class="col-xs-4">
                            <h6>WEIGHT OF 10 PACKS (G) </h6>
                            <div class="row">
                                <div class="col-xs-7">
                                    <input id="currentPackWeight" type="number" min="0" max="999999">
                                    <span class="statusbar" id="weightCountLabel">0 out of 10 Completed</span>
                                </div>
                                <div class="col-xs-5">
                                    <a href="#" id="addweightBtn" class="addweight">Add Weight</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-8 checks-area">
                            <h6>CHECKS</h6>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        @Html.HiddenFor(x => x.bFerrous1_8mmPass, new { id = "bFerrous1_8mmPass" })
                                        <input type="checkbox" id="bFerrous1_8mmPassCheck">
                                        <div class="slider round"></div>
                                    </label>
                                    <label>Ferrous 1.8 mm</label>
                                </div>
                                <div class="col-xs-6">
                                    <label class="switch">
                                        @Html.HiddenFor(x => x.bNonFerrous3_0mmPass, new { id = "bNonFerrous3_0mmPass" })
                                        <input type="checkbox" id="bNonFerrous3_0mmPassCheck">
                                        <div class="slider round"></div>
                                    </label>
                                    <label>Non Ferrous 3 mm </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <label class="switch">
                                        @Html.HiddenFor(x => x.bStainlessSteel4_0mmPass, new { id = "bStainlessSteel4_0mmPass" })
                                        <input type="checkbox" id="bStainlessSteel4_0mmPassCheck">
                                        <div class="slider round"></div>
                                    </label>
                                    <label>Stainless Steel 4 mm</label>
                                </div>
                                <div class="col-xs-6">
                                    <label class="switch yesno">
                                        @Html.HiddenFor(x => x.bRejectMechnismWorking, new { id = "bRejectMechnismWorking" })
                                        <input type="checkbox" id="bRejectMechnismWorkingCheck">
                                        <div class="slider round"></div>
                                    </label>
                                    <label>Reject Mechanism</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h6>WEIGHTS (G) </h6>
                    <div class="table-responsive">
                        <table class="table notification-table">
                            <thead>
                                <tr class="day">
                                    <th>1</th>
                                    <th>2</th>
                                    <th>3</th>
                                    <th>4</th>
                                    <th>5</th>
                                    <th>6</th>
                                    <th>7</th>
                                    <th>8</th>
                                    <th>9</th>
                                    <th>10</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="packWeights">
                                    <td><span id="weightPack1"></span>@Html.TextBoxFor(x => x.iWeightOfPacks1, new { id = "iWeightOfPacks1", min = 1, max = 999999, type = "number" })</td>
                                    <td><span id="weightPack2"></span> @Html.TextBoxFor(x => x.iWeightOfPacks2, new { id = "iWeightOfPacks2", min = 1, max = 999999, type = "number" })</td>
                                    <td><span id="weightPack3"></span> @Html.TextBoxFor(x => x.iWeightOfPacks3, new { id = "iWeightOfPacks3", min = 1, max = 999999, type = "number" })</td>
                                    <td><span id="weightPack4"></span> @Html.TextBoxFor(x => x.iWeightOfPacks4, new { id = "iWeightOfPacks4", min = 1, max = 999999, type = "number" })</td>
                                    <td><span id="weightPack5"></span> @Html.TextBoxFor(x => x.iWeightOfPacks5, new { id = "iWeightOfPacks5", min = 1, max = 999999, type = "number" })</td>
                                    <td><span id="weightPack6"></span> @Html.TextBoxFor(x => x.iWeightOfPacks6, new { id = "iWeightOfPacks6", min = 1, max = 999999, type = "number" })</td>
                                    <td><span id="weightPack7"></span> @Html.TextBoxFor(x => x.iWeightOfPacks7, new { id = "iWeightOfPacks7", min = 1, max = 999999, type = "number" })</td>
                                    <td><span id="weightPack8"></span> @Html.TextBoxFor(x => x.iWeightOfPacks8, new { id = "iWeightOfPacks8", min = 1, max = 999999, type = "number" })</td>
                                    <td><span id="weightPack9"></span> @Html.TextBoxFor(x => x.iWeightOfPacks9, new { id = "iWeightOfPacks9", min = 1, max = 999999, type = "number" })</td>
                                    <td><span id="weightPack10"></span>@Html.TextBoxFor(x => x.iWeightOfPacks10, new { id = "iWeightOfPacks10", min = 1, max = 999999, type = "number" })</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row fields-row">
                        <div class="col-xs-4">
                            <h6>Average Pack Weight (g) : <span id="averagePackWeight"></span></h6>
                            @Html.HiddenFor(x => x.iAveragePackWeight, new { id = "iAveragePackWeight" })
                        </div>
                        <div class="col-xs-4">
                            <h6>Minimum Pack Weight (g) : <span id="minimumPackWeight"></span></h6>
                            <p>(Product plus tray, lid and label)</p>
                            @Html.HiddenFor(x => x.iMinimumpackWeight, new { id = "iMinimumpackWeight" })
                        </div>
                        <div class="col-xs-4">
                            <h6>Nominal (Label) Pack Weight (g) : <span id="nominalPackWeight"></span></h6>
                            @Html.HiddenFor(x => x.iNominalPackWeight, new { id = "iNominalPackWeight" })
                        </div>
                    </div>
                    <div class="button-holder addlocation-box">
                        <button type="button" id="nextButton" href="#" class="btn-default pull-right btn-next" onclick="nextSpotWeightAndMetalCheckRecordForm()">Next</button>
                        <button type="button" class="btn-default" data-dismiss="modal" onclick="submitSpotWeightAndMetalCheckRecordForm()">Submit</button>
                        <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close" onclick="cancelSpotWeightAndMetalCheckRecordForm()">Cancel</a>
                        @if (Model != null && Model.iDetectionPackWeightTestId > 0)
                        {
                            @Html.ActionLink("Print", MVC.SpotWeightAndMetalCheckRecord.PrintRecord(Model.iDetectionPackWeightTestId), new { target = "_blank", @class = "printLink" })
                        }
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Records/Packing/SpotWeightAndMetalCheckRecord/CreateSpotWeightAndMetalCheckRecord.js")