﻿
@model PunjabKitchen.Models.Stock

<div id="dialog-confirm"></div>

<form id="stockLocationForm">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.iStockId)
    <div class="messageform">
        <fieldset>
            <label>Storage location</label>
            @Html.TextBoxFor(m => m.vStorageLocation, new { @required = "required", @maxlength = "50" })
            @Html.ValidationMessageFor(model => model.vStorageLocation, "", new { @class = "text-danger", })

            <label>Shelf/Rack</label>
            @Html.TextBoxFor(m => m.vStoragePoint, new { @required = "required", @maxlength = "50" })
            @Html.ValidationMessageFor(model => model.vStoragePoint, "", new { @class = "text-danger" })

            <label>Actual Quantity</label>
            @Html.TextBoxFor(m => m.iQuantity, new { type = "number", disabled = "disabled" })

            <label>Inspected Quantity</label>
            @Html.TextBoxFor(m => m.iInspectedQuantity, new { id = "iInspectedQuantity", type = "number" })

            <label>Comments</label>
            @Html.TextBoxFor(m => m.vComments, new { id = "vComments", @maxlength = "100" })
            @Html.ValidationMessageFor(model => model.vComments, "", new { @class = "text-danger" })


            <label>Use Inspected Quantity's value in Actual Quantity?</label>
            <label class="switch yesno">
                @Html.HiddenFor(x => x.bQuantityShiftCheck, new { id = "bQuantityShiftCheck" })
                <input type="checkbox" id="bQuantityShiftChecker">
                <div class="slider round"></div>
            </label>

            <div class="button-holder">
                <a href="#" value="Submit" class="btn btn-default" onclick="Confirm()">Save</a>
                <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
                @if (Model != null && Model.iStockId > 0)
                {
                    @Html.ActionLink("Print", MVC.Planning.PrintRecord(Model.iStockId), new { target = "_blank", @class = "printLink" })
                }
            </div>
        </fieldset>
    </div>
</form>

@Scripts.Render("~/Scripts/Planning/StockAndStorage/CreateStockAndStorage.js")

