﻿@using PagedList.Mvc;
@model PagedList.IPagedList<PunjabKitchen.Models.Stock>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bd-example">
    <h2>Stock & storage locations</h2>
    <div class="button-holder">
        <a href="#" data-toggle="modal" data-target="#newStockandStorageModal" id="stockLocModal">
            <input value="Add Location" class="btn-default" type="button" />
        </a>
    </div>
    <div class="table-responsive">
        <table class="table notification-table">
            <thead>
                <tr>
                    <th>STORAGE LOCATION</th>
                    <th>SHELF/RACK</th>
                    <th>PRODUCT ALLOCATION</th>
                    <th>STOCK COUNT</th>
                    <th>INSPECTED COUNT</th>
                    <th>LAST CHECKED</th>
                    <th>REPLEN?</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                var productName = item.tProduct != null ? item.tProduct.vName : "-";
                var thresholdChk = item.tProduct != null && item.tProduct.iThreshold > item.iQuantity ? "error" : "";
                var dLastChecked = Convert.ToDateTime(item.dLastChecked).ToString("dd/MM/yyyy");
                var iInspectedQuantity = item.iInspectedQuantity != null ? item.iInspectedQuantity.ToString() : "-";
                var rowClass = item.iInspectedQuantity != null ? "green" : "";

                    <tr class="@rowClass @thresholdChk">
                        <td>@item.vStorageLocation</td>
                        <td>@item.vStoragePoint</td>
                        <td>@productName</td>
                        <td>@item.iQuantity</td>
                        <td>@iInspectedQuantity</td>
                        <td>@dLastChecked</td>
                        <td>
                            @if (thresholdChk != "")
                        {
                            <img src="~/Images/ico-caution.png" style="width: 22px;" />
                        }
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td><a href="#" data-id="@item.iStockId" class="stockLocEdit"><img src="~/images/ico-edit.png" class="ico-action" alt="Edit"></a></td>
                                <td><a href="@Url.Action(MVC.Planning.PrintRecord(item.iStockId))" target="_blank" class="printButton"><img src="~/images/ico-print-record.png" class="ico-action" alt="Print"></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
        <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.Planning.StockAndStorage().AddRouteValues(new { page })))</span>
    </div>
    <div id="newStockandStorageModal" class="modal fade" role="dialog" data-url="@Url.Action(MVC.Planning.CreateStockAndStorage())">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                    </button>
                    <h5 class="modal-title" id="myModalLabel">Add Storage Location</h5>
                </div>
                <div class="modal-body">
                    <div id="newStockandStorageLocation">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
