﻿@model PunjabKitchen.Models.RiceCoolingTempRecord

@{
    SelectList list = ViewBag.Unit;
}

<form id="riceCoolingTempRecordForm" method="post" action="#" class="messageform">

    @Html.HiddenFor(m => m.iRiceCoolingTempRecordId)
    @Html.HiddenFor(m => m.bCriticalCheck, new { id = "bCriticalCheck" })

    <fieldset>
        <div class="row">
            <div class="col-xs-4">
                <label>Batch No.</label>
                @Html.TextBoxFor(m => m.vBatchNo, new { id = "BatchNo", @required = "required", @maxlength = 6, autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.vBatchNo, "", new { @class = "text-danger"})
            </div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-4">
                        <label>Product</label>
                        @Html.TextBoxFor(x => x.tCookingPlan.tRecipe.vRecipeName, new { id = "ProductDescription", @disabled = "disabled" })
                        @Html.HiddenFor(m => m.iCookingPlanId, new { id = "CookingPlanId" })
                    </div>
                    <div class="col-xs-4">
                        <label>Quantity</label>
                        @Html.TextBoxFor(m => m.iQuantity, new {id= "iQuantity", @required = "required", @type = "number", @maxlength = 999999, @min = 1 })
                        @Html.ValidationMessageFor(m => m.iQuantity, "", new { @class = "text-danger"})
                    </div>
                    <div class="col-xs-4">
                        <label>Unit</label>
                        <div class="styled-select slate">
                            @Html.DropDownListFor(m => m.iUnitId, new SelectList(list.Items, "iUnitId", "vName", 1), new { @class = "cursor", @style = "-webkit-appearance: none;", @required = "required", @id = "tUnit" })
                            @Html.ValidationMessageFor(m => m.iUnitId, "", new { @class = "text-danger"})
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label>Time ex. Cook</label>
                @Html.TextBoxFor(m => m.tTimeExCook, new { @class = "cursor", @required = "required", @id = "tTimeExCookPicker", @Value = Model.tTimeExCook != null ? Model.tTimeExCook.Value.ToString("HH:mm") : "" })
            </div>
            <div class="col-xs-5">
                <label>Temperature after water rinse <span class="smallerlab"> (Max+3 °C)</span></label>
                @Html.TextBoxFor(m => m.vTempAfterWaterRinse, new { id= "vTempAfterWaterRinse", @required = "required", type = "number"})
                @Html.ValidationMessageFor(m => m.vTempAfterWaterRinse, "", new { @class = "text-danger"})
            </div>
            <div class="col-xs-3">
                <label>Time To WIP Chiller</label>
                @Html.TextBoxFor(m => m.tTimeToWIPChiller, new { @class = "cursor", @required = "required", @id = "tTimeToWIPChillerPicker", @Value = Model.tTimeToWIPChiller != null ? Model.tTimeToWIPChiller.Value.ToString("HH:mm") : "" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>Comments</label>
                @Html.TextBoxFor(m => m.vComments, new { @maxlength = "500" })
               
            </div>
        </div>
    </fieldset>
    <div class="button-holder addlocation-box">
        <a href="#" value="Submit" class="btn btn-default" onclick="submitRiceCoolingTempRecForm()" >Submit</a>
        <a href="#" class="btn-cancel" data-dismiss="modal" aria-label="Close">Cancel</a>
        @if (Model != null && Model.iRiceCoolingTempRecordId > 0)
        {
            @Html.ActionLink("Print", MVC.RiceCoolingTempRecord.PrintRecord(Model.iRiceCoolingTempRecordId), new { target = "_blank", @class = "printLink" })
        }
    </div>
</form>

@Scripts.Render("~/Scripts/Records/Cooking/RiceCoolingTemp/CreateRiceCoolingTempRecord.js")
<script type="text/javascript">

    $("#iQuantity").keypress(function (evt) {
        var self = $(this);
        self.val(self.val().replace(/[^\d].+/, ""));
        if ((evt.which < 48 || evt.which > 57) && (evt.which !== 8) && (evt.keyCode !== 46) && (evt.keyCode !== 37) && (evt.keyCode !== 39)) {
            evt.preventDefault();
        }
    });
    $("#vTempAfterWaterRinse").keypress(function (evt) {
        if (!(evt.which === 45 || (evt.which >= 48 && evt.which <= 57))) {
            evt.preventDefault();
        }
    });
</script>