﻿@using PunjabKitchen.Controllers
@using PunjabKitchen.Properties
@using PagedList.Mvc
@model PagedList.IPagedList<PunjabKitchen.Models.RiceCoolingTempRecord>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cursorClass = String.Empty;
}

<div class="content-holder">
    <div class="bd-example">
        <h2>Rice Cooling Temperature Records</h2>
        <div class="btn-addlocation">
            @Html.Hidden("canCreatePlan", "")
            <a href="#" id="RiceCoolingTempRecordModal">
                <input value="Create New" class="btn-default" type="button" />
            </a>
        </div>
        <div class="table-responsive">

            @if (User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager))
            {
                cursorClass = "cursor";
            }

            <table class="table notification-table">
                <thead>
                <tr>
                    <th>DATE</th>
                    <th>PRODUCT</th>
                    <th>QUANTITY</th>
                    <th>TIME EX COOK</th>
                    <th>TEMPERATURE AFTER WATER RINSE °C</th>
                    <th>TIME TO WIP CHILLER</th>
                    <th>PERFORMED BY</th>
                    <th>MODIFIED BY</th>
                    <th></th>
                </tr>

                </thead>
                <tbody>
                @* ReSharper disable once InconsistentNaming *@
                @* ReSharper disable once ConvertConditionalTernaryToNullCoalescing *@
                @foreach (var item in Model)
                {
                    var createdDate = Convert.ToDateTime(item.Sys_CreatedDateTime).ToString("dd/MM/yyyy hh:mm:ss tt");
                    var timeExCook = @item.tTimeExCook == null ? "" : @item.tTimeExCook.Value.ToString("HH:mm");
                    var timeToWipChiller = @item.tTimeToWIPChiller == null ? "" : @item.tTimeToWIPChiller.Value.ToString("HH:mm");
                    var performedBy = item.Sys_CreatedBy != null ? item.AspNetUser.FirstName + " " + item.AspNetUser.LastName : string.Empty;
                    var modifiedBy = item.Sys_ModifyBy != null ? item.AspNetUser1.FirstName + " " + item.AspNetUser1.LastName : string.Empty;
                    var quantityWithUnit = item.iQuantity + "" + item.tUnit.vName;
                    var rowClass = @item.bCriticalCheck == true ? "error" : "";

                    var editable = (@User.IsInAnyRole(PKRoles.Administrator, PKRoles.CookingManager)) ? "editable" : "";
                         
                    <tr class="@rowClass @cursorClass @editable" data-id="@item.iRiceCoolingTempRecordId">
                        <td>@createdDate</td>
                        <td>@item.tCookingPlan.tRecipe.vRecipeName</td>
                        <td>@quantityWithUnit</td>
                        <td>@timeExCook</td>
                        <td>@item.vTempAfterWaterRinse</td>
                        <td>@timeToWipChiller</td>
                        <td>@performedBy</td>
                        <td>@modifiedBy</td>
                        <td><a href="@Url.Action(MVC.RiceCoolingTempRecord.PrintRecord(item.iRiceCoolingTempRecordId))" target="_blank" class="printButton"><img src="~/images/ico-print-record.png" class="ico-action" alt="Print"></a></td>
                    </tr>
                }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.RiceCoolingTempRecord.Index().AddRouteValues(new { page })))</span>
        </div>
    </div>
</div>

<div class="modal fade" id="newRiceCoolingRecord" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog large-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span> </button>
                <h5 class="modal-title">Rice Cooling Temperature Record</h5>
            </div>
            <div class="modal-body">
                <div class="information-box">
                    <p>
                        Rinse rice in cold water and ice until + 3 °C or below. Label with day tag with batch number, time and temperature.<br>
                        Transfer immediately to WIP Chiller (Max holding time 24 hours)
                    </p>
                </div>
                <div id="newRiceCoolingTempRec">
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Records/Cooking/RiceCoolingTemp/RiceCoolingTempRecord.js")