﻿@model PunjabKitchen.Models.GoodsOutPicklist
@{
    SelectList stockLocationList = ViewBag.StockLocationList;
    SelectList unitList = ViewBag.UnitsList;
}

@{
    ViewBag.Title = "Create Goods Out Picklist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="dialog-confirm"></div>

<div class="content-holder">
    <div class="bd-example tab-content-holder">
        <h2 class="inbox-title">Goods Out Picklist</h2>
        <form method="post" action="#" class="messageform" id="goodsOutPicklistForm">
            <fieldset>
                @Html.HiddenFor(x => x.iGoodsOutPickListId, new { id = "iGoodsOutPickListId", required = "required" })
                <div class="row">
                    <div class="onefifth">
                        <label class="required">Location</label>
                        <div class="styled-select slate">
                            @Html.DropDownList("stockLocationListItem", new SelectList(stockLocationList.Items, "vStorageLocation", "vStorageLocation", Model.tStock == null ? "" : Model.tStock.vStorageLocation), "Select Location", new { @class = "cursor stockLocationListItem", required = "required" })
                            @Html.ValidationMessage("stockLocationListItem", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="onefifth">
                        <label class="required">Shelf / Rack</label>
                        <div class="styled-select slate">
                            <select class="cursor stockSelectPointItem" id="ddlStockSelectPointItem" required="required">
                                <option value="">Select Stock Point</option>
                            </select>
                            @Html.HiddenFor(x => x.iStockId, new { id = "iStockId", required = "required" })
                            @Html.ValidationMessage("ddlStockSelectPointItem", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="threefifth">
                        <label for="#" class="required">Customer</label>
                        @Html.TextBoxFor(x => x.vCustomer, new { id = "vCustomer", required = "required", maxlength="50" })
                        @Html.ValidationMessageFor(m => m.vCustomer, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="onefifth">
                        <label for="#" class="required">Order Number</label>
                        @Html.TextBoxFor(x => x.iOrderNumber, new { id = "iOrderNumber", required = "required", type = "number" })
                        @Html.ValidationMessageFor(m => m.iOrderNumber, "", new { @class = "text-danger" })
                    </div>
                    <div class="onefifth">
                        <label for="#" class="required">Priority</label>
                        @Html.TextBoxFor(x => x.cPriority, new { id = "cPriority", required = "required", maxLength = 1 })
                        @Html.ValidationMessageFor(m => m.cPriority, "", new { @class = "text-danger" })
                    </div>
                    <div class="onefifth">
                        <label class="required">Delivery Date</label>
                        <div class="datepicker">
                            @{
                                var dDeliveryDate = Model.dDeliveryDate != null ? Model.dDeliveryDate.Value.Date.ToString("dd/MM/yyyy") : DateTime.Now.ToString("dd/MM/yyyy");
                            <input type="text" id="DeliveryDateDatePicker" class="cursor" required="required" value=@dDeliveryDate />
                            }
                            @Html.HiddenFor(x => x.dDeliveryDate, new { id = "dDeliveryDate", @required = "required" })
                            @Html.ValidationMessageFor(m => m.dDeliveryDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="twofifth">
                        <label for="#">Last Amended By</label>
                        @Html.TextBoxFor(x => x.Sys_ModifyBy_Name, new { id = "Sys_ModifyBy", @readonly = "readonly" })
                    </div>
                </div>
                <div class="row">
                    <div class="threefifth">
                        <label for="#" class="required">Deliver To</label>
                        @Html.TextBoxFor(x => x.vDeliverTo, new { id = "vDeliverTo", required = "required", maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.vDeliverTo, "", new { @class = "text-danger" })
                    </div>
                    <div class="button-holder">
                        <label for="#">&nbsp;</label>
                        <a href="#" class="btn-default pull-right" id="btnGoodsOutPicklistModal" style="margin-right: 15px;">Add Item</a>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="table-responsive">
                        <table class="table notification-table" id="tableGoodsOutPlan" style="width: 97%; margin: 0px 0px 20px 17px;">
                            <thead>
                                <tr>
                                    <th>Shelf</th>
                                    <th>Item Code</th>
                                    <th class="centered tQuantity">Quantity</th>
                                    <th>Batch No.</th>
                                    <th class="centered">Old Label?</th>
                                    <th class="centered tToFollow">To Follow</th>
                                    <th>Units</th>
                                    <th></th>
                                </tr>

                            </thead>
                            <tfoot style="font-weight:bold;">
                                <tr>
                                    <td></td>
                                    <td style="vertical-align: top;">Total Quantity Required for the Order</td>
                                    <td style="text-align: center; vertical-align: top;" id="totalQuantity">@Convert.ToInt32(Model.tGoodsOutPicklistDetails.Sum(s => s.iQuantity))</td>
                                    <td colspan="2"></td>
                                    <td style="text-align: center;" id="totalToFollow">@Convert.ToInt32(Model.tGoodsOutPicklistDetails.Sum(s => s.iToFollow)) <br /><br /> <span id="netTotal">@Convert.ToInt32(Model.tGoodsOutPicklistDetails.Sum(s => s.iQuantity + s.iToFollow))</span></td>
                                    <td colspan="2"></td>
                                </tr>
                            </tfoot>
                            <tbody>

                                @if (Model.tGoodsOutPicklistDetails != null)
                                {
                                    foreach (var item in Model.tGoodsOutPicklistDetails)
                                    {
                                        var recipe = item.tRecipe != null ? item.tRecipe.vRecipeCode + " - " + item.tRecipe.vRecipeName : "";
                                        var unit = item.tUnit != null ? item.tUnit.vName : "";


                                        <tr data-id="@item.iGoodsOutPickListDetailId">
                                            <td>@item.vShelf</td>
                                            <td>@recipe</td>
                                            <td class="centered totalQuantity">@Convert.ToInt32(item.iQuantity)</td>
                                            <td>@item.vBatchNo</td>
                                            <td class="centered"><span class=@(item.bOldLabel == true ? "ico-ok" : "ico-cross") class="ico-action"></span></td>
                                            <td class="centered totalToFollow">@Convert.ToInt32(item.iToFollow)</td>
                                            <td>@unit</td>
                                            <td><a href="#" data-id="@item.iGoodsOutPickListDetailId" class="stockLocEdit" onclick="ConfirmDeletion(@item.iGoodsOutPickListDetailId)"><img src="~/images/ico-del.png" class="ico-action" alt="Delete"></a></td>
                                        </tr>
                                    }
                                }                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
            <div class="button-holder addlocation-box">
                <button type="button" class="btn-default" onclick="submitForm()">Submit</button>
                <a href="#" class="btn-cancel" onclick="javascript:window.location.href = GOODSOUTPICKLISTLIST">Cancel</a>
                @if (Model != null && Model.iGoodsOutPickListId > 0)
                {
                    @Html.ActionLink("Print", MVC.GoodsOutPicklist.PrintRecord(Model.iGoodsOutPickListId), new { target = "_blank", @class = "printLink" })
                }
            </div>
        </form>
    </div>
</div>

<!--Add / Edit Modal Start-->
<div id="goodsOutPickListModal" class="modal fade" role="dialog">
    <div class="modal-dialog  large-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="~/images/btn-close.png" class="img-responsive" alt="Btn Close"></span>
                </button>
                <h5 class="modal-title">Add / Edit Picklist Item</h5>
            </div>
            <div class="modal-body">
                <div id="goodsOutPickListModalBody">
                    <form method="post" action="#" class="messageform" id="goodsOutPicklistItemForm">
                        <fieldset>
                            <div class="row">
                                @Html.HiddenFor(x => x.detail_iGoodsOutPickListDetailId, new { id = "detail_iGoodsOutPickListDetailId", @required = "required", @class = "pickListItem" })
                                <div class="onefifth">
                                    <label for="#" class="required">Shelf</label>
                                    @Html.TextBoxFor(x => x.detail_vShelf, new { id = "detail_vShelf", required = "required", @class = "pickListItem", maxlength="50" })
                                    @Html.ValidationMessageFor(m => m.detail_vShelf, "", new { @class = "text-danger" })
                                </div>
                                <div class="onefifth">
                                    <label for="#" class="required">Item Code</label>
                                    @Html.HiddenFor(x => x.detail_iRecipeId, new { id = "detail_iRecipeId", @required = "required", @class = "pickListItem" })
                                    @Html.TextBoxFor(x => x.detail_vItemCode, new { id = "detail_vItemCode", required = "required", @class = "pickListItem", maxlength = "6" })
                                    @Html.ValidationMessageFor(m => m.detail_vItemCode, "", new { @class = "text-danger" })
                                </div>
                                <div class="twofifth">
                                    <label for="#" class="required">Item Name</label>
                                    @Html.TextBoxFor(x => x.detail_vItemName, new { id = "detail_vItemName", required = "required", @readonly = "readonly", @class = "pickListItem" })
                                    @Html.ValidationMessageFor(m => m.detail_vItemName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="onefifth">
                                    <label for="#" class="required">Quantity</label>
                                    @Html.TextBoxFor(x => x.detail_iQuantity, new { id = "detail_iQuantity", required = "required", type = "number", @class = "pickListItem" })
                                    @Html.ValidationMessageFor(m => m.detail_iQuantity, "", new { @class = "text-danger" })
                                </div>
                                <div class="onefifth">
                                    <label for="#" class="required">Batch No.</label>
                                    @Html.TextBoxFor(x => x.detail_vBatchNo, new { id = "detail_vBatchNo", required = "required", @class = "pickListItem", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.detail_vBatchNo, "", new { @class = "text-danger" })
                                </div>
                                <div class="onefifth">
                                    <label for="detail_bOldLabel">Old Label</label>
                                    <label class="switch yesno">
                                        @Html.HiddenFor(x => x.detail_bOldLabel, new { id = "detail_bOldLabel_hidden" })
                                        <input type="checkbox" id="detail_bOldLabel">
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                                <div class="onefifth">
                                    <label for="#" class="required">To Follow</label>
                                    @Html.TextBoxFor(x => x.detail_iToFollow, new { id = "detail_iToFollow", required = "required", type = "number", @class = "pickListItem" })
                                    @Html.ValidationMessageFor(m => m.detail_iToFollow, "", new { @class = "text-danger" })
                                </div>
                                <div class="onefifth">
                                    <label class="required">Unit</label>
                                    <div class="styled-select slate">
                                        @Html.DropDownListFor(x => x.detail_iUnitId, new SelectList(unitList.Items, "iUnitId", "vName", 0), "", new { @class = "pickListItem cursor", required = "required" })
                                        @Html.HiddenFor(x => x.detail_vUnitName, new { id = "detail_vUnitName", @class = "pickListItem" })
                                        @Html.ValidationMessageFor(m => m.detail_iUnitId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="button-holder">
                                    <a href="#" class="btn-default pull-right" id="btnSaveGoodsOutPicklistItem">Save</a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Add / Edit Modal End-->

@Scripts.Render("~/Scripts/GoodsOutPlan/Picklist/createGoodsOutPicklist.js")
