﻿@using PagedList.Mvc;
@model PagedList.IPagedList<PunjabKitchen.Models.GoodsOutPicklist>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-holder">
    <div class="bd-example">
        <h2>Goods Out Picklist</h2>
        <div class="btn-addlocation">
            <a href="#" class="btn-default" data-toggle="modal" id="CreateGoodsOutPicklist">Create New</a>
        </div>
        <div class="table-responsive">
            <table class="cursor table notification-table">
                <thead>
                    <tr>
                        <th>ORDER NO.</th>
                        <th>CUSTOMER</th>
                        <th>LOCATION</th>
                        <th>PRIORITY</th>
                        <th>DELIVERY DATE</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="goodsOutPickListItem" data-id="@item.iGoodsOutPickListId">
                            <td>@item.iOrderNumber</td>
                            <td>@item.vCustomerCode @item.vCustomer</td>
                            <td>@item.tStock.vStorageLocation @item.tStock.vStoragePoint</td>
                            <td>@item.cPriority</td>
                            <td>@Convert.ToDateTime(item.dDeliveryDate).ToString("dd-MM-yyyy")</td>
                            <td>@Html.ActionLink(" ", MVC.GoodsOutPicklist.PrintRecord(item.iGoodsOutPickListId), new { target = "_blank", @class = "printButton" })</td>
                        </tr>
                    }
                </tbody>
            </table>
            @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            <span style="float:right">@Html.PagedListPager(Model, page => Url.Action(MVC.GoodsOutPicklist.Index().AddRouteValues(new { page })))</span>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/GoodsOutPlan/Picklist/goodsOutPicklist.js")